.attention-tune {
    > * {
        pointer-events: none;
    }
}

.attention-layout {
    margin: 0 0 0 2px;
    padding: 0.4em 0;
    padding-left: 3px;
    border: 0;
    border-left: 3px;
    border-style: solid;
    border-color: var(--attention-type-color, #ccc);
    transition: border-color .3s linear;

    // .attention-layout__control
    &__control {
        &:not(:first-child) {
            margin-top: 10px;
        }

        &[contentEditable=true][data-placeholder]:empty::before {
            opacity: 1;
        }

        &[contentEditable=true][data-placeholder]::before {
            position: absolute;
            content: attr(data-placeholder);
            color: #707684;
            font-weight: normal;
            opacity: 0;
        }

        // .attention-layout__control_text
        &_text {
            min-height: 158px;
        }
    }
}