.fieldset {
    --fieldsetGapSize: #{ rem(16) };
    --fieldsetLegendDisplay: block;

    // .fieldset__legend
    &__legend {
        font-weight: bold;
        font-size: rem(16);
        line-height: 1.46;
        color: var(--color-text-header-subheader);
        display: var(--fieldsetLegendDisplay);
    }

    // .fieldset__fields
    &__fields {
        margin-top: var(--fieldsetGapSize);
        width: 100%;
    }
}