.form-row {
    &:not(:first-child) {
        margin-top: rem(20);
    }

    &_btns {
        display: flex;
        justify-content: center;
    }
}

.form-field {
    // .form-field__label
    &__label {
        font-weight: bold;
    }

    // .form-field__control-wrap
    &__control-wrap {
        margin-top: rem(4);
    }

    // .form-field__error
    &__error {
        color: red;
        font-size: rem(10);

        &:not(:empty) {
            margin-top: rem(10);
        }
    }
}