.input {
    background-color: #ccc;
    background: var(--color-bg-white);
    border: 1px solid var(--color-border);
    border-radius: 1.875rem;
    width: 100%;
    font-size: 1rem;
    line-height: 3rem;
    color: var(--color-text-additional);
    padding-left: 1.5rem;
}

.input-with-icon {
    $iconSize: rem(24);
    $iconGap: rem(12);
    $paddingX: rem(16);
    background: var(--color-bg-white);
    border: rem(1) solid var(--color-border);
    box-sizing: border-box;
    border-radius: rem(8);
    height: rem(48);

    font-weight: 400;
    font-size: rem(16);
    line-height: 1.46;
    color: var(--color-text-additional);
    padding-left: $paddingX + $iconSize + $iconGap;
    padding-right: $paddingX;
    width: 100%;

    background-size: $iconSize $iconSize;
    background-repeat: no-repeat;
    background-position: left $paddingX center;

    // .input-with-icon_mail
    &_mail {
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='.5' fill='%23828891'%3E%3Cpath d='M6 4.5a3 3 0 0 0-3 3v.301l9 4.847 9-4.845V7.5a3 3 0 0 0-3-3H6Z'/%3E%3Cpath d='m21 9.505-8.645 4.655a.75.75 0 0 1-.71 0L3 9.505V16.5a3 3 0 0 0 3 3h12a3 3 0 0 0 3-3V9.505Z'/%3E%3C/g%3E%3C/svg%3E");
    }

    // .input-with-icon_user
    &_user {
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M17.294 7.291A5.274 5.274 0 0 1 12 12.583a5.275 5.275 0 0 1-5.294-5.292A5.274 5.274 0 0 1 12 2a5.273 5.273 0 0 1 5.294 5.291ZM12 22c-4.338 0-8-.705-8-3.425 0-2.721 3.685-3.401 8-3.401 4.339 0 8 .705 8 3.425 0 2.72-3.685 3.4-8 3.4Z' fill='%23828891' opacity='.5'/%3E%3C/svg%3E");
    }

    // .input-with-icon_phone
    &_phone {
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.667 2.666H7.333A1.333 1.333 0 0 0 6 3.999v16a1.334 1.334 0 0 0 1.333 1.334h9.334A1.334 1.334 0 0 0 18 19.999V4a1.334 1.334 0 0 0-1.333-1.333Zm-4 17.333h-1.334v-1.333h1.334v1.333Zm-5.334-2.666V3.999h9.334v13.334H7.333Z' fill='%23828891' opacity='.5'/%3E%3C/svg%3E");
    }
}