.radio {
    $paddingY: rem(8);

    position: relative;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
    position: relative;
    padding-top: $paddingY;
    padding-bottom: $paddingY;

    // .radio__input
    &__input {
        @include visuallyhidden;
    }

    // .radio__box
    &__box {
        position: absolute;
        border-radius: 50%;
        background-color: var(--color-text-white);
        display: block;
        width: rem(16);
        height: rem(16);
        border-width: 1px;
        border-style: solid;
        border-color: var(--color-text-additional);
        transition: background-color .3s linear;
        display: inline-flex;
        align-items: center;
        justify-content: center;

        &:before {
            content: '';
            width: rem(8);
            height: rem(8);
            display: block;
            border-radius: 50%;
            background-color: var(--color-primary-50);
            transform: scale(0);
            transition: transform .3s linear;
        }
    }

    // .radio__label
    &__label {
        font-size: rem(16);
        line-height: 1.46;
        color: var(--color-text-header-subheader);
        padding-left: rem(24);
    }

    &__input:checked + &__box {
        border-color: var(--color-primary-50);

        &:before {
            transform: scale(1);
        }
    }

    &__input:focus + &__box {
        
    }
}