.switch {
    $textMargin: rem(12);
    $boxPaddingX: rem(2);

    position: relative;
    cursor: pointer;
    user-select: none;
    display: inline-flex;
    align-items: center;
    align-items: flex-start;

    // .form-component .switch
    // .form-component & {
    // 	margin-top: rem(16);
    // }

    // .switch__input
    &__input {
        @include visuallyhidden;
    }

    // .switch__label
    &__label {
        font-weight: bold;
        font-size: rem(16);
        line-height: 1.2;
        color: var(--color-text-header-subheader);
        white-space: break-spaces;
    }

    // .switch__box
    &__box {
        height: rem(16);
        width: rem(28);
        border-radius: rem(16);
        display: inline-flex;
        align-items: center;
        position: relative;
        transition: background-color .3s linear;
        background-color: var(--color-text-additional);
        margin-top: rem(2);
        flex-shrink: 0;

        &:after {
            content: "";
            position: absolute;
            display: block;
            width: rem(12);
            height: rem(12);
            border-radius: 50%;
            background-color: var(--color-bg-white);
            left: $boxPaddingX;
            right: auto;
        }
    }

    &__label ~ &__box {
        margin-left: $textMargin;
        margin-right: 0;
    }

    &__box + &__label {
        margin-left: $textMargin;
        margin-right: 0;
    }

    &__input:checked ~ &__box {
        background-color: var(--color-primary-40);
    }

    &__input:checked ~ &__box:after {
        left: auto;
        right: $boxPaddingX;
    }
}