.sign-up-now {
    $mobileSwitch: #{ screen(pad) };
    $navsBorderHeight: rem(2);

    --paddingX: #{ rem(24) };
    --btn-size: #{ rem(116) };
    --btn-border: #{ rem(22) };

    position: relative;

    @include m($mobileSwitch) {
        // --btn-size: #{ rem(184) };
        --btn-size: #{ rem(140) };
        --inner-padding-top: #{ rem(40) };
    }

    @include m( phoneLarge ) {
        --paddingX: #{ rem(32) };
    }

    // .sign-up-now__inner
    &__inner {
        border-radius: rem(16);
        background-color: var(--color-bg-peach);
        padding-top: rem(64);
        padding-left: var(--paddingX);
        padding-right: var(--paddingX);
    }

    // .sign-up-now__title
    &__title {
        text-align: center;
        max-width: rem(656);
        position: relative;
        margin-left: auto;
        margin-right: auto;
    }

    // .sign-up-now__tabs
    &__tabs {
        margin-top: rem(27);
    }

    // .sign-up-now__tabs-navs-list
    &__tabs-navs-list {
        margin-left: calc( var(--paddingX) * -1 );
        margin-right: calc( var(--paddingX) * -1 );
        position: relative;
        bottom: - $navsBorderHeight;
        display: flex;

        @include m( pad ) {
            max-width: rem(772);
            margin-left: auto;
            margin-right: auto;
        }
    }

    // .sign-up-now__tabs-nav
    &__tabs-nav {
        flex-grow: 1;
        position: relative;

        // .sign-up-now__tabs-nav_active
        &_active {
            font-weight: 700;

            &::after {
                content: '';
                display: block;
                position: absolute;
                left: 0;
                width: 100%;
                bottom: 0;
                height: rem(4);
                background-color: var(--color-primary-50);
                border-radius: rem(4) rem(4) 0 0;
            }
        }
    }

    // .sign-up-now__tabs-nav-btn
    &__tabs-nav-btn {
        font-size: rem(22);
        line-height: 1.4;
        color: var(--color-text-header-subheader);
        width: 100%;
        min-height: rem(42);
        display: flex;
        align-items: center;
        justify-content: center;

        @include m( pad ) {
            min-height: rem(49);
        }
    }

    // .sign-up-now__tabs-content
    &__tabs-content {
        border-top: $navsBorderHeight solid var(--color-additional-beige );
        border-bottom-left-radius: rem(16);
        border-bottom-right-radius: rem(16);
        background-color: var( --color-additional-beige-light );
        padding-top: rem(68);
        padding-left: var(--paddingX);
        padding-right: var(--paddingX);
        margin-left: calc( var(--paddingX) * -1 );
        margin-right: calc( var(--paddingX) * -1 );
        display: none;

        // .sign-up-now__tabs-content_show
        &_show {
            display: block;
        }

        @include m( pad ) {
            padding-top: rem(40);
            background-image: url( $componentsImgPath + '/sign-up-now/bg.svg' );
            background-size: cover;
            background-position: center bottom;
            background-repeat: no-repeat;
        }
    }

    // .sign-up-now__card
    &__card {
        $coinHeight: rem(85);
        $coinWidth: rem(87);
        $coinMarginRight: rem(62);
        $coinMarginLeft: rem(4);
        $padding: rem(30);

        padding: $padding;
        background: var(--color-bg-white);
        border-radius: rem(16);
        max-width: rem(466);
        position: relative;
        margin-left: auto;
        margin-right: auto;

        @include m( pad ) {
            padding-right: $coinMarginLeft + $coinWidth + $coinMarginRight;
            min-height: $coinHeight + $padding * 2;
            background-image: url( $componentsImgPath + '/sign-up-now/coins.svg' );
            background-size: $coinWidth $coinHeight;
            background-position: right $coinMarginRight center;
            background-repeat: no-repeat;
        }
    }

    // .sign-up-now__card-title
    &__card-title {
        font-weight: 700;
        font-size: rem(24);
        line-height: 1.4;
        color: var(--color-secondary-main);
        text-align: center;
    }

    // .sign-up-now__card-list
    &__card-list {
        margin-top: rem(9);
    }

    // .sign-up-now__card-list-item
    &__card-list-item {
        $bulletSize: rem(12);
        $textGap: rem(8);

        font-weight: 400;
        font-size: rem(16);
        line-height: 1.46;
        color: var(--color-text-main);
        padding-left: $bulletSize + $textGap;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            display: block;
            left: 0;
            top: rem(6);
            width: $bulletSize;
            height: $bulletSize;
            background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.81 3.173c-.419-.67-1.047-1.214-1.927-1.632C5.662.536 2.393-.05.843 2.336v.042c-.21.167-.377.418-.377.711-.796 1.883-.545 4.185.545 5.9a6.412 6.412 0 0 0 2.514 2.218c.335.21.67.418 1.006.544.628.251 1.215.293 1.718.21a9.06 9.06 0 0 0 1.843-.043c2.64-.376 3.772-3.054 3.897-5.481.126-1.549-.88-2.637-2.179-3.264Zm-5.363-.377v-.084c0-.083 0-.167-.042-.25.21 0 .419 0 .628.041-.21.042-.419.126-.586.293Zm-.335 6.737c-.126-.125-.252-.21-.336-.376.084.041.168.083.294.125.167.251.377.46.628.628-.042 0-.084-.042-.125-.042-.168-.084-.294-.21-.461-.335Zm4.777.335c.251-.419.502-.879.712-1.34a.533.533 0 0 0 .377-.292l-.251.628c-.21.418-.503.753-.838 1.004Zm1.257-2.05v-.084c0-.168 0-.335-.042-.502.084-.293.167-.544.21-.837.041.502-.043.962-.168 1.423Z' fill='%23FE6464'/%3E%3C/svg%3E");
        }

        &:not(:first-child) {
            margin-top: rem(4);
        }
    }

    // .sign-up-now__btn-wrap
    &__btn-wrap {
        margin-top: rem(20);
        position: relative;
        z-index: 1;
        transform: translateY(50%);
    }

    // .sign-up-now__btn
    &__btn {
        width: var(--btn-size);
        height: var(--btn-size);
        border-radius: 50%;
        background-color: var(--color-primary-50);
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 0 0 rem(22) var(--color-bg-beige-light);
        transform: translateY(50%);
        margin-left: auto;
        margin-right: auto;
        position: relative;

        font-size: rem(14);
        font-weight: 700;
        text-align: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--color-text-white);
        transition: background-color .3s linear;

        animation: pulse 1.5s infinite;
        box-shadow: 0 0 0 0 rgba(90, 153, 212, 0.5);

        &:hover {
            background-color: var(--color-primary-40);
        }

        @include m( pad ) {
            width: rem(140);
            height: rem(140);
        }
    }

    // .sign-up-now__bg-round
    &__bg-round {
        width: calc(var(--btn-size) + var(--btn-border) * 2);
        height: calc(var(--btn-size) + var(--btn-border) * 2);
        background-color: var(--color-bg-beige-light);
        border-radius: 50%;
        position: absolute;
        left: 50%;
        clip-path: inset(0 0 50% 0);

        // bottom: calc( var(--btn-border) * -1 );

        bottom: rem(-82);
        transform: translateX(-50%);
        z-index: 0;

        @include m( pad ) {
            bottom: rem(-96);
        }
    }
}