.index-in-form {
    background-color: var(--color-bg-peach);
    --border-radius: #{ rem(16) };
    --top-gap: 0px;

    .index-in-form__item-inner {
        max-width: var(--max-content-width);
    }

    @include m( 0, desktopLarge ) {
        --item-padding: #{ rem(30) };
    }

    @include m( desktopSmall ) {
        --top-gap: #{ rem(12) };
    }

    @include m( desktopLarge ) {
        --item-padding: #{ rem(40) };
    }

    // .index-in-form__inner
    &__inner {
        position: relative;
        padding-top: rem(80);
    }

    // .index-in-form__title
    &__title {
        max-width: rem(790);

        @include m( 0, pad ) {
            text-align: center;
        }
    }

    // .index-in-form__text
    &__text {
        max-width: rem(790);
        margin-top: rem(16);

        @include m( 0, pad ) {
            text-align: center;
        }
    }

    // .index-in-form__list
    &__list {
        margin-top: rem(50);

        @include m( desktopSmall, desktopLarge ) {
            display: grid;
            grid-template-areas: "item1 item1 item2 item2"
                                "item1 item1 item3 item3"
                                "item4 item4 item4 item4";

            grid-template-columns: repeat(4, 1fr);
            gap: rem(20);
        }

        @include m( desktopLarge ) {
            display: grid;
            grid-template-areas: "item1 item1 item1 item1 item1 item2 item2 item2 item2 item2 item2 item2"
                                "item1 item1 item1 item1 item1 item3 item3 item3 item3 item3 item3 item3"
                                "item4 item4 item4 item4 item4 item4 item4 item4 item4 item4 item4 item4";
            grid-template-columns: repeat(12, 1fr);
            gap: rem(30);
        }
    }

    // .index-in-form__item-inner
    &__item-inner {
        z-index: 1;
        position: relative;
    }

    // .index-in-form__item
    &__item {
        border-radius: var(--border-radius);
        position: relative;
        padding: calc( var(--item-padding) + var(--top-gap) ) var(--item-padding) var(--item-padding) var(--item-padding);

        @include m( 0, desktopSmall ) {
            & + & {
                margin-top: rem(20);
            }
        }

        &::before,
        &::after {
            content: '';
            z-index: 0;
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            border-radius: var(--border-radius);
            pointer-events: none;
            user-select: none;
        }

        &::before {
            height: calc( 100% - var(--top-gap) );
            background-color: var(--bg-color);
            border-radius: var(--border-radius);
        }

        &::after {
            height: 100%;
            background-repeat: no-repeat;
        }

        &:nth-child(1) {
            grid-area: item1;

            --bg-color: var(--color-additional-yellow-light);

            --bg-clock-img: url( #{ $componentsImgPath + '/index-in-form/block1-bg1.png' } );
            --bg-pig-img: url( #{ $componentsImgPath + '/index-in-form/block1-bg3.png' } );
            --bg-coins-img: url( #{ $componentsImgPath + '/index-in-form/block1-bg2.svg' } );

            @include m( 0, phoneLarge ) {
                --content-padding: #{ rem(246) } 0 0 0;

                --bg-clock-size: #{ rem(135) };
                --bg-clock-position: top left #{ rem(-40) };

                --bg-pig-size: #{ rem(194) };
                --bg-pig-position: top #{ rem(36) } right #{ rem(-40) };

                --bg-coins-size: #{ rem(312) } #{ rem(211) };
                --bg-coins-position: top #{ rem(6) } center;
            }

            @include m( phoneLarge, pad ) {
                --content-padding: #{ rem(249) } 0 0 0;

                --bg-clock-size: #{ rem(135) };
                --bg-clock-position: top left #{ rem(10) };

                --bg-pig-size: #{ rem(194) };
                --bg-pig-position: top #{ rem(36) } right #{ rem(-20) };

                --bg-coins-size: auto #{ rem(197) };
                --bg-coins-position: top #{ rem(12) } center;
            }

            @include m( pad, desktopSmall ) {
                --content-padding: #{ rem(315) } 0 0 0;
                --bg-clock-size: #{ rem(202) };
                --bg-clock-position: top left #{ rem(10) };

                --bg-pig-size: #{ rem(223) };
                --bg-pig-position: top #{ rem(53) } right #{ rem(-20) };

                --bg-coins-size: auto #{ rem(197) };
                --bg-coins-position: top #{ rem(12) } center;
            }

            @include m( desktopSmall, desktopLarge ) {
                --bg-pig-img: none;
                --content-padding: #{ rem(379) } 0 0 0;

                --bg-clock-size: #{ rem(202) };
                --bg-clock-position: top left;

                --bg-pig-size: 0px;
                --bg-pig-position: top left;

                --bg-coins-size: auto #{ rem(201) };
                --bg-coins-position: top #{ rem(25) } left #{ rem(172) };
            }

            @include m( desktopLarge ) {
                --content-padding: #{ rem(277) } 0 0 0;

                --bg-clock-size: #{ rem(202) };
                --bg-clock-position: top left;

                --bg-pig-size: 0px;
                --bg-pig-position: top left;

                --bg-coins-size: auto #{ rem(201) };
                --bg-coins-position: top #{ rem(25) } left #{ rem(172) };
            }

            &::after {
                background-image: var(--bg-clock-img), var(--bg-pig-img), var(--bg-coins-img);
                background-size: var(--bg-clock-size), var(--bg-pig-size), var(--bg-coins-size);
                background-position: var(--bg-clock-position), var(--bg-pig-position), var(--bg-coins-position);
            }
        }

        &:nth-child(2) {
            grid-area: item2;
            --bg-color: var(--color-additional-beige-light);

            &::after {
                background-image: url( $componentsImgPath + '/index-in-form/block2-bg1.png' );
                background-size: var(--bg1-size);
                background-position: var(--bg1-position);
            }

            --bg1-width: #{ rem(296) };
            --bg1-height: #{ rem(232) };
            --bg1-size: var(--bg1-width) var(--bg1-height);
            --bg1-position: bottom #{ rem(-18) } center;

            @include m( 0, pad ) {
                --content-padding: 0 0 #{ rem(234) } 0;
            }

            @include m( pad ) {
                --max-content-width: #{ rem(402) };
                --bg1-width: #{ rem(347) };
                --bg1-height: #{ rem(277) };
                --bg1-position: bottom left calc( var(--max-content-width) + #{ rem(20) } );
            }

            @include m( desktopSmall ) {
                --max-content-width: #{ rem(284) };
            }

            @include m( desktopSmall ) {
                --max-content-width: #{ rem(356) };
            }
        }

        &:nth-child(3) {
            grid-area: item3;
            --max-content-width: #{ rem(402) };
            --bg-color: var(--color-additional-orange-light);

            &::after {
                background-image: url( $componentsImgPath + '/index-in-form/block3-bg1.png' ), url( $componentsImgPath + '/index-in-form/block3-bg2.svg' );
                background-size: var(--bg1-size), var(--bg2-size);
                background-position: var(--bg1-position), var(--bg2-position);
            }

            --bg1-width: #{ rem(213) };
            --bg1-height: #{ rem(238) };
            --bg1-position: right bottom;
            --bg1-size: var(--bg1-width) var(--bg1-height);

            --bg2-width: #{ rem(320) };
            --bg2-height: #{ rem(86) };
            --bg2-right-gap: #{ rem(141) };
            --bg2-position: right var(--bg2-right-gap) bottom calc( var(--bg1-height) - var(--bg2-height) );
            --bg2-size: var(--bg2-width) var(--bg2-height);

            @include m( 0, pad ) {
                --content-padding: 0 0 #{ var(--bg1-height) } 0;
            }

            @include m( pad ) {
                --bg1-size: auto #{ rem(238) };
                --bg2-position: right var(--bg2-right-gap) bottom #{ rem(127) };
            }

            @include m( desktopSmall ) {
                $rightShift: rem(-53);
                --bg1-size: auto #{ rem(233) };
                --bg1-position: right #{ $rightShift } bottom;
                --max-content-width: #{ rem(274) };
                --bg2-size: var(--bg2-width) var(--bg2-height);
                --bg2-position: right calc( var(--bg2-right-gap) + #{ $rightShift } ) bottom #{ rem(127) };
            }

            @include m( desktopLarge ) {
                --max-content-width: #{ rem(412) };
                --bg1-size: auto #{ rem(244) };
                --bg1-position: right bottom;
            }
        }

        &:nth-child(4) {
            --min-height: initial;
            --bg-top-gap: 0;
            --bg-gap: #{ rem(40) };

            grid-area: item4;
            --bg-color: var(--color-additional-pink-light);

            @include m( pad ) {
                --max-content-width: #{ rem(402) };
                --bg-top-gap: #{ rem(20) };
                --min-height: #{ rem(327) };
                min-height: calc( var(--min-height) - var(--bg-top-gap) );
            }

            @include m( desktopLarge ) {
                --bg-gap: #{ rem(100) };
            }

            .index-in-form__img {
                background-image: url( $componentsImgPath + '/index-in-form/block4-bg1.png' );
                background-repeat: no-repeat;
                user-select: none;
                z-index: 4;
                position: relative;

                @include m( 0, phoneSmall ) {
                    height: rem(271);
                    margin-top: rem(10);
                    margin-left: calc( var(--item-padding) * -1 );
                    margin-right: calc( var(--item-padding) * -1 );
                    margin-bottom: calc( var(--item-padding) * -1 );
                    border-bottom-left-radius: var(--border-radius);
                    border-bottom-right-radius: var(--border-radius);
                    background-position: top center;
                    background-size: cover;
                }

                @include m( phoneSmall, pad ) {
                    height: rem(271);
                    margin-top: rem(10);
                    margin-left: auto;
                    margin-right: auto;
                    margin-bottom: calc( var(--item-padding) * -1 );
                    border-bottom-left-radius: var(--border-radius);
                    border-bottom-right-radius: var(--border-radius);
                    background-position: bottom center;
                    background-size: contain;

                    max-width: rem(440);
                }

                @include m( pad ) {
                    --left: calc( var(--max-content-width) + var(--bg-gap) + var(--item-padding) );
                    position: absolute;
                    bottom: 0;
                    left: var(--left);
                    background-position: top left;
                    height: rem(319);
                    width: calc( 100% - var(--left) );
                    max-width: rem(430);
                    border-bottom-right-radius: var(--border-radius);
                    background-size: cover;
                }

                @include m( desktopLarge ) {
                    width: 100%;
                    height: var(--min-height);

                    background-image: url( $componentsImgPath + '/index-in-form/block4-bg1.png' ), url( $componentsImgPath + '/index-in-form/block4-bg2.svg' );
                    background-repeat: no-repeat, no-repeat;
                    background-size: contain, contain;
                    background-position: bottom center, top center;
                }
            }
        }
    }

    // .index-in-form__item-inner
    &__item-inner {
        max-width: var(--max-content-width);
        padding: var(--content-padding);
    }

    // .index-in-form__item-title
    &__item-title {
        font-weight: bold;
        font-size: rem(20);
        line-height: 1.34;
        color: var(--color-text-header-subheader);
    }

    // .index-in-form__item-text
    &__item-text {
        margin-top: rem(10);
        font-size: rem(16);
        line-height: 1.46;

        p {
            margin-top: rem(10);
        }
    }

    // .index-in-form__test-wrap
    &__test-wrap {
        background-color: var(--color-bg-beige-light);
        $border: rem(22);
        padding: $border;
        width: rem(160);
        height: rem(160);
        border-radius: 50%;
        position: relative;
        bottom: 0;
        margin-left: auto;
        margin-right: auto;
        transform: translateY(50%);

        @include m( 0, pad ) {
            width: rem(116) + $border * 2;
            height: rem(116) + $border * 2;
        }

        @include m( pad ) {
            width: rem(140) + $border * 2;
            height: rem(140) + $border * 2;
        }
    }

    // .index-in-form__btn
    &__btn {
        animation: pulse 1.5s infinite;
        box-shadow: 0 0 0 0 rgba(90, 153, 212, 0.5);
    }
}