.modal-form {
    display: flex;
    flex-direction: column;

    // .modal-form__header
    &__header {
        text-align: right;
    }

    // .modal-form__content
    &__content {
        margin-top: rem(10);
        flex-grow: 1;
        flex-basis: 1px;
        align-items: center;
        display: flex;
        // overflow-y: scroll;
    }

    // .modal-form__footer
    &__footer {
        margin-top: rem(10);
    }
}

.modal {
    --transitionTime: 1s;
    --modal-sides: #{ rem(20) };

    $windowShift: rem(20);

    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;

    // .modal_open
    &_open {
        visibility: visible;
    }

    // .modal_hide
    &_hide {
        transition: visibility 0s linear var(--transitionTime);
    }

    // .modal_open .modal__overlay
    // .modal_open .modal__window
    &_open &__overlay,
    &_open &__window {
        opacity: 1;
        z-index: 1000;
    }

    // .modal_hide .modal__overlay
    // .modal_hide .modal__window
    &_hide &__overlay,
    &_hide &__window {
        opacity: 0;
        z-index: 1000;
    }

    // .modal_open .modal__window
    &_open &__window {
        transform: translateY( 0 );
    }

    // .modal_hide .modal__window
    &_hide &__window {
        transform: translateY( - $windowShift );
    }

    // .modal__overlay
    &__overlay {
        z-index: 1;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0;

        background: rgba(#000,.4);
        transition: opacity var(--transitionTime, .3s) ease-in;
    }

    // .modal__window
    &__window {
        z-index: 2;
        opacity: 0;
        background-color: var(--color-bg-beige-light);
        width: 100%;
        height: 100%;
        max-width: 100%;
        max-height: 100%;
        // max-width: calc( 100vw - var(--modal-sides) * 2 );
        // max-height: calc( 100vh - var(--modal-sides) * 2 );
        transform: translateY(- $windowShift);
        transition: transform var(--transitionTime, .3s) ease-in, opacity var(--transitionTime, .3s) ease-in;

        display: flex;
        flex-direction: column;
        // height: 100%;
    }
}

.modal__window {
    padding: rem(20);
}