.index-hero {
    // .index-hero__inner
    &__inner {
        display: flex;
        flex-direction: column;
        position: relative;

        @include m(0,pad) {
            padding-top: rem(50);
        }

        @include m(pad, desktopSmall) {
            padding-top: rem(80);
        }

        @include m(desktopSmall) {
            margin-top: rem(28);
        }
    }

    // .index-hero__title
    &__title {
        @include m( 0, pad ) {
            text-align: center;
        }

        @include m(desktopSmall) {
            margin-top: rem(50);
            max-width: rem(668);
        }
    }

    // .index-hero__text-wrap
    &__text-wrap {
        order: 3;

        @include m(0,pad) {
            margin-top: rem(28);
        }

        @include m( pad, desktopSmall ) {
            margin-top: rem(37);
            max-width: rem(479);
        }

        @include m( desktopSmall, desktopLarge ) {
            margin-top: rem(16);
            max-width: rem(469);
        }

        @include m( desktopLarge ) {
            margin-top: rem(16);
        }
    }

    // .index-hero__text1
    &__text1 {
        font-size: rem(22);
        line-height: 1.4;
        color: var(--color-text-header-subheader);

        @include m(0,pad) {
            text-align: center;
        }

        @include m( desktopLarge ) {
            max-width: rem(500);
        }
    }

    // .index-hero__text2
    &__text2 {
        font-size: rem(16);
        line-height: 1.46;

        @include m(0,pad) {
            text-align: center;
            margin-top: rem(8);
        }

        @include m(pad) {
            margin-top: rem(16);
        }

        @include m(desktopLarge) {
            max-width: rem(386);
            padding-bottom: rem(53); // сдвиг кнопки
        }
    }

    // .index-hero__test-wrap
    &__test-wrap {
        order: 4;

        @include m( 0, pad ) {
            margin-top: rem(40);
            display: flex;
            justify-content: center;
        }

        @include m( 0, pad ) {
            position: relative;
        }

        @include m( pad, desktopSmall ) {
            position: absolute;
            bottom: 0;
            left: rem(544);
        }

        @include m( desktopSmall, desktopLarge ) {
            position: relative;
            margin-top: rem(8);
            padding-left: rem(430);
        }

        @include m( desktopLarge ) {
            position: absolute;
            bottom: 0;
            left: rem(454);
        }
    }

    // .index-hero__test
    &__test {
        animation: pulse 1.5s infinite;
        box-shadow: 0 0 0 0 rgba(90, 153, 212, 0.5);

        &:hover {
            animation: none;
        }
    }

    // .index-hero__test-icon
    &__test-icon {
        margin-top: rem(5);
    }

    // .index-hero__picts-wrap
    &__picts-wrap {
        order: 2;
        display: flex;
        flex-wrap: wrap;
        position: relative;

        @include m( 0, pad ) {
            margin-top: rem(30);
        }

        @include m( pad, desktopSmall ) {
            margin-top: rem(34);
            justify-content: space-between;
        }

        @include m( desktopSmall ) {
            position: absolute;
            right: 0;
            top: 0;
            width: rem(600);
        }
    }

    // .index-hero__pict
    &__pict {
        height: auto;
        flex-shrink: 0;
        position: relative;
        object-fit: contain;
        display: block;

        // .index-hero__pict_mobility
        &_mobility {
            @include m(0,phoneLarge) {
                width: rem(160);
            }

            @include m( phoneLarge, desktopSmall ) {
                width: rem(212);
            }

            @include m( desktopSmall, desktopLarge ) {
                width: rem(212);
                position: absolute;
                top: rem(165);
                right: rem(196);
            }

            @include m( desktopLarge ) {
                width: rem(228);
                position: absolute;
                top: rem(15);
                right: rem(284);
            }
        }

        // .index-hero__pict_power
        &_power {
            @include m(0,phoneLarge) {
                width: rem(170);
                margin-left: auto;
            }

            @include m( phoneLarge, pad ) {
                width: rem(218);
                margin-left: auto;
            }

            @include m( pad, desktopSmall ) {
                width: rem(218);
            }

            @include m( desktopSmall ) {
                width: rem(218);
                position: absolute;
                top: 0;
                right: 0;
            }
        }

        // .index-hero__pict_balance
        &_balance {
            @include m(0,phoneLarge) {
                width: rem(193);
                margin-left: auto;
                margin-right: auto;
                margin-top: rem(10);
            }

            @include m( phoneLarge, pad ) {
                width: rem(218);
                margin-left: auto;
                margin-right: auto;
            }

            @include m( pad, desktopSmall ) {
                width: rem(218);
            }

            @include m( desktopSmall, desktopLarge ) {
                width: rem(218);
                position: absolute;
                top: rem(274);
                right: 0;
            }

            @include m( desktopLarge ) {
                width: rem(218);
                position: absolute;
                top: rem(209);
                right: rem(96);
            }
        }
    }
}

@keyframes pulse {
    0% {
      transform: scale(.9);
    }

    70% {
      transform: scale(1);
      box-shadow: 0 0 0 rem(50) rgba(#5a99d4, 0);
    }

    100% {
      transform: scale(.9);
      box-shadow: 0 0 0 0 rgba(#5a99d4, 0);
    }
}