<pre>
<?php print_r( $model->data ) ?>
</pre>

<?php /*
<h1><?php echo e(trans('art.form::lang.messages.item.message_data')) ?> [<?= $model::$types[ $model->type ]?>]</h1>

<table class="message-table m-t-md">
	<tr>
		<td class="message-label">Имя:</td>
		<td class="message-value">
			<?php echo nl2br(htmlspecialchars( $model->name, ENT_QUOTES)); ?>
		</td>
	</tr>
	<tr>
		<td class="message-label">Телефон:</td>
		<td class="message-value">
			<?php echo nl2br(htmlspecialchars( $model->contacts[ 'phone' ] ?? '', ENT_QUOTES)); ?>
		</td>
	</tr>
	<tr>
		<td class="message-label">E-Mail:</td>
		<td class="message-value">
			<?php echo nl2br(htmlspecialchars( $model->contacts[ 'mail' ] ?? '', ENT_QUOTES)); ?>
		</td>
	</tr>
	<?php if ( is_array( $model->data ) ): ?>
		<?php foreach( $model->data as $key => $val ): ?>
		<tr>
			<td class="message-label"><?=$key?>:</td>
			<td class="message-value"><?=$val?></td>
		</tr>
		<?php endforeach; ?>
	<?php endif; ?>
</table>

<div class="message-metadata m-t-md m-r-md text-right">
	<p class="m-a-0"><?= e(trans('art.form::lang.messages.item.remote_address')) ?>: <?= $model->meta[ 'remote_address' ] ?? '' ?></p>
	<p class="m-a-0"><?= e(trans('art.form::lang.messages.item.url')) ?>: <a target="_blank" href="<?= $model->meta[ 'url' ] ?? '' ?>"><?= e(trans('art.form::lang.messages.item.page_send')) ?></a></p>
	<p class="m-a-0"><?= e(trans('art.form::lang.messages.item.form_id')) ?>: <?= $model->meta[ 'form_id' ] ?? '' ?></p>
	<p class="m-a-0"><?= e(trans('art.form::lang.messages.item.created')) ?>: <?= $model->created_at->format('d.m.Y h:i:s') ?></p>
	<p class="m-a-0"><?= e(trans('art.form::lang.messages.item.updated')) ?>: <?= $model->updated_at->format('d.m.Y h:i:s') ?></p>
</div>
*/?>