.layout-with-sidebar {
    --posts-margin-top: #{ rem(34) };
    display: grid;
    padding-top: rem(30);

    @include m( 0, pad ) {
        grid-template-columns: 1fr 1fr;
        column-gap: rem(20);
        grid-template-areas: "title title"
                                "search search"
                                "subtitle subtitle"
                                "content content";
    }

    @include m( pad ) {
        grid-template-columns: 1fr 1fr;
        column-gap: rem(20);
        grid-template-areas: "title search"
                                "subtitle subtitle"
                                "content content";
    }

    @include m( desktopSmall ) {
        grid-template-columns: repeat(3, 1fr);
        column-gap: rem(20);
        grid-template-areas: "title search search"
                                "empty subtitle subtitle"
                                "sidebar content content";
    }

    @include m( desktopLarge ) {
        grid-template-columns: repeat(12, 1fr);
        column-gap: rem(30);
        grid-template-areas: "title title title search search search search search search search search search"
                                "empty empty empty subtitle subtitle subtitle subtitle subtitle subtitle subtitle subtitle subtitle"
                                "sidebar sidebar sidebar content content content content content content content content content";
    }

    // .layout-with-sidebar__area-title
    &__area-title {
        grid-area: title;

        @include m( 0, pad ) {
            text-align: center;
        }
    }

    // .layout-with-sidebar__area-subtitle
    &__area-subtitle {
        grid-area: subtitle;

        font-style: italic;
        font-weight: 800;
        line-height: 1.2;
        color: var(--color-text-header-subheader);

        @include m( 0, pad ) {
            font-size: rem(30);
            margin-top: rem(40);
        }

        @include m( pad, desktopSmall ) {
            font-size: rem(40);
            margin-top: rem(40);
        }

        @include m( desktopSmall ) {
            font-size: rem(46);
            margin-top: rem(44);
        }
    }

    // // .layout-with-sidebar__btn-mobile-category
    // &__btn-mobile-category {
    //     display: flex;
    //     align-items: center;
    //     height: rem(44);
    //     background: var(--color-bg-white);
    //     border: 1px solid var(--color-border);
    //     border-radius: rem(30);
    //     padding-left: rem(24);
    //     padding-right: rem(16);
    //     flex-grow: 1;

    //     @include m( desktopSmall ) {
    //         display: none;
    //     }
    // }

    // // .layout-with-sidebar__btn-mobile-category-label
    // &__btn-mobile-category-label {
    //     font-size: rem(16);
    //     line-height: 1.46;
    //     color: var(--color-text-main);
    //     flex-grow: 1;
    //     overflow: hidden;
    //     white-space: nowrap;
    //     text-overflow: ellipsis;
    //     margin-right: rem(8);
    //     text-align: left;
    // }

    // // .layout-with-sidebar__btn-mobile-category-icon
    // &__btn-mobile-category-icon {
    //     color: var(--color-text-additional);
    //     flex-shrink: 0;
    // }

    // .layout-with-sidebar__btn-mobile-search
    &__btn-mobile-search {
        width: rem(44);
        height: rem(44);
        background: var(--color-bg-white);
        border: 1px solid var(--color-border);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--color-text-additional);
        flex-shrink: 0;

        @include m( desktopSmall ) {
            display: none;
        }
    }

    // .layout-with-sidebar__area-search
    &__area-search {
        grid-area: search;

        @include m( 0, desktopSmall ) {
            display: flex;
            align-items: center;
            justify-content: right;

            > * + * {
                margin-left: rem(12);
            }
            display: none;
        }

        @include m( desktopSmall ) {
            margin-top: rem(30);
            align-self: center;
            justify-self: right;
        }



        // @include m( 0, desktopSmall ) {
        //     grid-column: 1;
        //     background-color: blue;
        // }

        // @include m( desktopSmall ) {
        //     grid-column: 1/4;
        //     grid-row: 1/2;
        //     justify-self: flex-end;
        // }

        // @include m( desktopLarge ) {
        //     grid-column: 6/13;
        //     grid-row: 1/2;
        //     align-self: center;
        //     justify-self: right;
        // }
    }

    // .layout-with-sidebar__search-form
    &__search-form {
        min-width: rem(386);

        @include m( 0, desktopSmall ) {
            display: none;
        }
    }

    // .layout-with-sidebar__area-sidebar
    &__area-sidebar {
        @include m( 0, desktopSmall ) {
            display: none;

            &_show {
                display: block;
                position: fixed;
                left: 0;
                top: 0;
                width: 100%;
                height: 100vh;
                background-color: #fff;
                padding: 24px;
                z-index: 100;
            }
        }

        @include m( desktopSmall ) {
            grid-area: sidebar;
            margin-top: var(--posts-margin-top);
        }
    }

    // .layout-with-sidebar__area-content
    &__area-content {
        grid-area: content;
        margin-top: var(--posts-margin-top);
    }

    // .layout-with-sidebar__area-pagination
    &__area-pagination {
        grid-area: pagination;
    }
}