.price-modal {
    $mobileSwitch: rem(700);
    margin-left: auto;
    margin-right: auto;
    max-width: rem(1000);
    width: 100%;

    @include m( 0, $mobileSwitch ) {
        max-height: 100vh;
        overflow-y: auto;
    }

    @include m( $mobileSwitch ) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: rem(30);
    }

    // .price-modal__area-info
    &__area-info {
    }

    // .price-modal__info-title
    &__info-title {
        font-size: rem(20);
        font-weight: bold;
    }

    // .price-modal__info-price
    &__info-price {
        margin-top: rem(20);
        font-size: rem(24);
        font-weight: bold;
    }

    // .price-modal__info-text
    &__info-text {
        margin-top: rem(10);

        @include m( 0, $mobileSwitch ) {
            display: none;
        }
    }

    // .price-modal__info-list
    &__info-list {
        @include m( 0, $mobileSwitch ) {
            display: none;
        }

        @include m( 0, $mobileSwitch ) {
            margin-top: rem(20);
        }
    }

    // .price-modal__info
    &__info {
        background-color: var(--color-text-white);
        border: 1px solid var(--color-border);
        border-radius: rem(16);
        padding: rem(16);
    }

    // .price-modal__area-form
    &__area-form {
        @include m( 0, $mobileSwitch ) {
            margin-top: rem(20);
        }
    }
}

.price {
	--carouselOwerflowX: auto;
	--carouselSlidesCount: 1;
	--carouselSlidesGap: 30px; // in px!!!!
	--carouselScrollPaddingSize: #{ rem(7) };
	--carouselScrollPadding: var(--carouselScrollPaddingSize);
    --labelShift: #{ rem(14) };
    --scrollbarSize: 0;

    --btn-shadow-size: #{ rem(160) };
    --btnSize: #{ rem(116) };
    --itemPaddingBottom: #{ rem(70) };

    background: var(--color-bg-peach);
    padding-top: rem(80);
    padding-bottom: rem(80);

    @include m( pad ) {
        --carouselSlidesCount: 2;
        --btn-shadow-size: #{ rem(200) };
        --btnSize: #{ rem(140) };
        --itemPaddingBottom: #{ rem(120) };
    }

    @include m( desktopLarge ) {
        --carouselSlidesCount: 3;
    }

    // .price_inited
    &_inited {
        --carouselSlidesGap: 0;
        --carouselOwerflowX: hidden;
        // --carouselScrollPadding: calc( var(--carouselScrollPaddingSize) + var(--scrollbarSize) );
        --carouselScrollPadding: #{ rem(24) };
    }

    // .price__inner
    &__inner {
    }

    // .price__title
    &__title {
        text-align: center;
    }

    // .price__sub-title
    &__sub-title {
        margin-top: rem(8);
        font-size: rem(22);
        line-height: 1.4;
        text-align: center;
        color: var(--color-text-header-subheader);
    }

    // .price__scroll-legend
    &__scroll-legend.carousel-scroll-legend {
        margin-top: rem(30);

        @include m( pad ) {
            display: none;
        }
    }

    // .price__list
    &__list {
        overflow: var(--carouselOwerflowX);

        padding-top: var(--labelShift);
        margin-top: rem(50);
        padding-bottom: var(--carouselScrollPadding);
        @include scrollbars;
    }

    // .price__list-wrapper
    &__list-wrapper {
        display: flex;
    }

    // .price__item
    &__item {
        --item-border: 1px solid var(--color-bg);

        width: 100%;
        padding: rem(40) rem(24) var(--itemPaddingBottom) rem(24);

        flex-shrink: 0;
        position: relative;
        align-self: flex-start;
        position: relative;

        width: calc( ( 100% - ( ( var( --carouselSlidesCount ) - 1 ) * var( --carouselSlidesGap ) ) ) / var( --carouselSlidesCount ) );

        &::before {
            content: "";
            width: calc( 100% - 2px );
            height: calc( 100% - 3px - var(--btnSize) / 2 - ( var(--btn-shadow-size) / 2 - var(--btnSize) / 2 ) );
            position: absolute;
            left: 0;
            top: 0;
            background: var(--color-bg-white);
            border: var(--item-border);
            border-radius: rem(16);
            z-index: -1;
        }

        &:after {
            content: "";
            width: var(--btn-shadow-size);
            height: var(--btn-shadow-size);
            border: var(--item-border);
            background-color: var(--color-bg-peach);
            border-radius: 50%;
            display: block;
            position: absolute;
            left: 50%;
            bottom: 0;
            transform: translateX(-50%);
            clip-path: inset(0 0 50% 0);
        }

        & + & {
            margin-left: var(--carouselSlidesGap);
        }
    }

    // .price__item-label
    &__item-label {
        --tag-bg-color: #fe9c9a;

        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    // .price__item-title
    &__item-title {
        font-weight: 700;
        font-size: rem(22);
        line-height: 1.4;
        text-align: center;
        color: var(--color-text-header-subheader);
    }

    // .price__item-subtitle
    &__item-subtitle {
        font-size: rem(16);
        line-height: 1.46;
        text-align: center;
        color: var(--color-text-additional);
        margin-top: rem(10);
        min-height: rem(47);
    }

    // .price__item-img-wrap
    &__item-img-wrap {
        margin-top: rem(30);
    }

    // .price__item-img
    &__item-img {
        width: rem(210);
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    // .price__tabs
    &__tabs {
        margin-top: rem(25);
    }

    // .price__tabs-navs-list
    &__tabs-navs-list {
        display: flex;
        position: relative;

        &::after {
            content: "";
            display: block;
            height: rem(2);
            position: absolute;
            left: 0;
            width: 100%;
            bottom: 0;
            width: 100%;
            background-color: var(--color-border);
        }
    }

    // .price__tabs-nav
    &__tabs-nav {
        font-size: rem(16);
        line-height: 1.46;
        text-align: center;
        color: var(--color-text-header-subheader);
        flex-grow: 1;
        position: relative;
        padding-bottom: rem(14);

        // .price__tabs-nav_active
        &_active {
            font-weight: 700;

            &:after {
                content: "";
                height: rem(4);
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                z-index: 1;

                background-color: var(--color-primary-50);
                border-radius: rem(4) rem(4) 0 0;
            }
        }
    }

    // .price__tabs-nav-btn
    &__tabs-nav-btn {
        width: 100%;
        height: 100%;
        display: block;
    }

    // .price__tabs-content
    &__tabs-content {
        display: none;

        // .price__tabs-content_show
        &_show {
            display: block;
        }
    }

    // .price__item-old-price
    &__item-old-price {
        font-weight: 700;
        font-size: rem(30);
        line-height: 1.2;
        text-align: center;
        color: var(--color-text-main);
        margin-top: rem(24);
        display: block;
    }

    // .price__item-price
    &__item-price {
        font-weight: 700;
        font-size: rem(40);
        line-height: 1.2;
        text-align: center;
        color: var(--color-secondary-main);
        margin-top: rem(24);
    }

    // .price__item-price-comment
    &__item-price-comment {
        font-weight: 400;
        font-size: rem(14);
        line-height: 1.4;
        text-align: center;
        color: var(--color-text-additional);
        margin-top: rem(2);
    }

    // .price__options-list
    &__options-list {
        margin-top: rem(24);
    }

    // .price__options-item
    &__options-item {
        --bullet-color: #9aacba;
        --text-color: #9aacba;

        $bulletWidth: rem(12);
        $bulletGap: rem(8);
        padding-left: $bulletWidth + $bulletGap;
        position: relative;

        font-weight: 400;
        font-size: rem(16);
        line-height: 1.46;
        color: var(--text-color);

        // .price__options-item_active
        &_active {
            --text-color: var(--color-main);
            --bullet-color: var(--color-illustrations-red );
        }

        &:not(:first-child) {
            margin-top: rem(16);
        }
    }

    // .price__options-item-bullet
    &__options-item-bullet {
        position: absolute;
        left: 0;
        top: rem(4);
        color: var(--bullet-color);
    }

    // .price__btn-wrap
    &__btn-wrap {
        z-index: 1;
        position: relative;
        display: flex;
        justify-content: center;
        bottom: calc( var(--btn-shadow-size) / 2 - var(--btnSize) / 2 - var(--itemPaddingBottom) );
    }

    // .price__btn
    &__btn {
        animation: pulse 1.5s infinite;
        box-shadow: 0 0 0 0 rgba(90, 153, 212, 0.5);
    }
}