{%
    set list = [
        'В какое время суток нужно делать упражнения?',
        'Для кого подходят программы?',
        'Какое оборудование необходимо для участия?',
        'Что делать, если нет специального оборудования?',
        'Будет ли обратная связь или курирование процесса выполнения?',
        'При каких заболеваниях и травмах можно участвовать в программах?',
        'В какое время суток нужно делать упражнения?',
    ]
%}
<div class="faq {{ css }}">
    <div class="faq__inner container">
        <h2 class="h2 faq__title">Популярные вопросы</h2>

        <div class="faq__list js-faq">
            {% for item in list %}
            <div class="faq__item js-item">
                <div class="faq__label js-label">
                    {{ item }}

                    <div class="faq__arrow-wrapper">
                        {%
                            partial 'components/icon'
                            width="24"
                            height="24"
                            icon="arrow-up"
                            css="faq__arrow-icon"
                        %}
                    </div>
                </div>

                <div class="faq__content js-content">
                    <div class="faq__content-inner">
                        <p>Программа проходит в закрытой группе Instagram, все видео-посты с подробными разбороми техники выполнения и сториз с описанием уже загружены в группу. Вся информация сохраняется и доступна участникам в любое время.</p>
                        <p>Первые 14 дней мы рекомендуем выполнять упражнения день за днём не более одного комплекса за день. Далее вы можете комбинировать несколько комлексов сразу, выбирая упражнения в связи с вашей целью на день.</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>