@include m( desktopSmall ) {
.form-filter {
    // .form-filter__mobile-title
    &__mobile-title {
        display: none;
    }

    // .form-filter__btn-close
    &__btn-close {
        display: none;
    }

    // .form-filter__group-gap
    &__group-gap {
        margin-top: rem(30);
    }

    // .form-filter__btns-wrap
    &__btns-wrap {
        display: none;
    }
}
}