@include m( 0, desktopSmall ) {
.form-filter {
    $paddingX: rem(20);

    padding-left: $paddingX;
    padding-right: $paddingX;
    padding-top: rem(82);
    padding-bottom: rem(39);
    background-color: var(--color-bg-beige-light);
    display: flex;
    flex-direction: column;

    // .form-filter__btn-close
    &__btn-close {
        position: absolute;
        right: rem(20);
        top: rem(20);
        width: rem(44);
        height: rem(44);
    }

    // .form-filter__title
    &__title {
        font-style: italic;
        font-weight: 800;
        font-size: rem(40);
        line-height: 1.2;
        text-transform: uppercase;
        color: var(--color-text-header-subheader);
    }

    // .form-filter__group-gap
    &__group-gap {
        margin-top: rem(30);
    }

    // .form-filter__body
    &__body {
        margin-top: rem(30);
        flex-grow: 1;
        overflow-y: auto;
    }

    // .form-filter__btns-wrap
    &__btns-wrap {
        margin-top: rem(56);
        display: flex;
        justify-content: center;
        flex-shrink: 0;
    }
}
}