@function _hex-to-dec($string) {
    $hex: "0" "1" "2" "3" "4" "5" "6" "7" "8" "9" "a" "b" "c" "d" "e" "f";
    $string: to-lower-case($string);
    $length: str-length($string);

    $dec: 0;
    @for $i from 1 through $length {
    $factor: 1 + (15 * ($length - $i));
    $index: index($hex, str-slice($string, $i, $i));
    $dec: $dec + $factor * ($index - 1);
    }

    @return $dec;
}

@function _hex2rgb($string) {
    $string-lower: to-lower-case($string);
    $r: "";  $g: ""; $b: "";
    $hex: "0" "1" "2" "3" "4" "5" "6" "7" "8" "9" "a" "b" "c" "d" "e" "f";
    $length: str-length($string);
    $max: if($length == 4, 1, 2);

    // Check for length accuracy
    @if $length != 4 and $length != 7 {
    @return $string;
    }

    // Loop from the second character (omitting #)
    @for $i from 2 through $length {
    $c: str-slice($string-lower, $i, $i);

    // If wrong character, return
    @if index($hex, $c) == null {
        @return $string;
    }

    @if      str-length($r) < $max {
        $r: $r + $c;
    } @else if str-length($g) < $max {
        $g: $g + $c;
    } @else if str-length($b) < $max {
        $b: $b + $c;
    }
    }

    @if $length == 4 {
    $r: $r + $r;
    $g: $g + $g;
    $b: $b + $b;
    }

    @return (
        "r" : _hex-to-dec($r),
        "g" : _hex-to-dec($g),
        "b" : _hex-to-dec($b),
    );
}