.authors-list {
    --carouselOwerflowX: auto;
    --carouselSlidesCount: 1;
    --carouselSlidesGap: #{ rem(20) };
    --carouselScrollPaddingSize: #{ rem(7) };
    --carouselScrollPadding: var(--carouselScrollPaddingSize);

    @include m( desktopLarge ) {
        --carouselSlidesGap: #{ rem(30) };
    }

    // .authors-list_inited
    &_inited {
        --carouselSlidesGap: 0;
        --carouselOwerflowX: hidden;
        --carouselScrollPadding: calc( var(--carouselScrollPaddingSize) + var(--scrollbarSize) );
    }

    // .authors-list__inner
    &__inner {
    }

    // .authors-list__title
    &__title {
        text-align: center;
    }

    // .authors-list__scroll-legend
    &__scroll-legend.carousel-scroll-legend {
        margin-top: rem(30);

        @include m( pad ) {
            display: none;
        }
    }

    // .authors-list__carousel
    &__carousel {
        margin-top: rem(50);
        overflow-x: var(--carouselOwerflowX);
        padding-bottom: var(--carouselScrollPadding);
        @include scrollbars;
    }

    // .authors-list__list
    &__list {
        display: flex;
    }

    // .authors-list__item
    &__item {
        flex-shrink: 0;

        & + & {
            margin-left: var(--carouselSlidesGap);
        }

        @include m( 0, desktopSmall ) {
            max-width: rem(266);
        }

        @include m( desktopSmall ) {
            width: calc( ( 100% - var(--carouselSlidesGap) * 2 ) / 3 );
        }
    }

    // .authors-list__item-photo-wrap
    &__item-photo-wrap {
        padding-top: 143.233%;
        position: relative;

        &::after {
            content: "";
            display: block;
            background: var(--color-additional-beige-light);
            border-radius: rem(16);
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: calc( 100% - #{ rem(41) } );
        }
    }

    // .authors-list__item-photo
    &__item-photo {
        height: 100%;
        width: 100%;
        bottom: 0;
        z-index: 1;
        position: absolute;
        object-fit: cover;
        object-position: bottom;

        max-width: rem(354);
        left: 50%;
        transform: translateX(-50%);
    }

    // .authors-list__item-name
    &__item-name {
        font-weight: 700;
        font-size: rem(20);
        line-height: 1.34;
        color: var(--color-text-header-subheader);
        margin-top: rem(16);
    }

    // .authors-list__item-specialty
    &__item-specialty {
        font-weight: 400;
        font-size: rem(14);
        line-height: 1.4;
        color: var(--color-text-additional);
        margin-top: rem(4);
    }

    // .authors-list__item-about
    &__item-about {
        font-weight: 400;
        font-size: rem(16);
        line-height: 1.46;
        color: var(--color-text-main);
        margin-top: rem(8);
    }

    // .authors-list__item-label
    &__item-label {
        bottom: rem(8);
        position: absolute;
        z-index: 2;
        left: 50%;
        transform: translate(-50%);

        @include m( desktopSmall ) {
            bottom: rem(30);
        }
    }

    // .authors-list__nav-wrapper
    &__nav-wrapper {
        margin-top: rem(7);

        &:empty {
            display: none;
        }

        @include m( desktopSmall ) {
            margin-top: rem(30);
        }
    }

    // .authors-list__navs
    &__navs {
        width: rem(55);
        height: rem(44);
        display: inline-flex;
        align-items: center;
        justify-content: center;
        color: var(--color-primary-50);
        transition: color .3s linear;

        &:hover {
            color: var(--color-primary-40);
        }

        // .authors-list__navs_disabled
        &_disabled {
            opacity: .4;
        }
    }
}