title = "Programs item"
url = "/programs/:slug"
layout="main"

[viewBag]
activeMenu = "programs"
==
<?php
    function onStart() {
        $slug	= $this->param( 'slug' );
        $urlData = \Ed\Helpers\Classes\Helpers\Slug::getSlugId( $slug );

        if( $urlData === false ) {
            $this->setStatusCode( 404 );
            return $this->controller->run( '404' );
        }

        $item	= \Ed\Programs\Models\Item::whereId( $urlData['id'] )
                        ->published()
                        ->with([
                            'category'  => function( $q ) {
                                $q->published();
                            }
                        ])
                        ->first();

        if( !$item ) {
            $this->setStatusCode( 404 );
            return $this->controller->run( '404' );
        }

        if ( $item->slug != $urlData['slug'] ) {
            return redirect( $item->getUrl(), 301 );
        }

        $this->page->meta_title = $item->meta_title == '' ? $item->title : $item->meta_title;
        if ( $item->meta_description != '' )
            $this->page->meta_description = $item->meta_description;
        if ( $item->meta_keywords != '' )
            $this->page->meta_keywords = $item->meta_keywords;

        $this[ 'bread' ]	= [
            [ 'title' => 'Программы', 'url' => \Cms\Classes\Page::url( 'programs/list' ) ],
            [ 'title' => $item->title, 'url' => '' ],
        ];

        $this[ 'item' ] = $item;
    }
?>
==
{#
<div class="container">
    <h1 class="h1">{{ item.title }}</h1>
</div>
#}

{% partial 'editor-blocks/_blocks' sections=item.text %}