.page {
    --header-height: #{ rem(81) };
    --bread-top-gap: #{ rem(40) };

    // .page_no-header
    &_no-header {
        --header-height: 0;
        --bread-top-gap: 0;
    }

    // .page_mb-s
    &_mb-s {
        margin-bottom: rem(30);
    }

    // .page_mb-m
    &_mb-m {
        margin-bottom: rem(60);
    }

    // .page_mb-l
    &_mb-l {
        margin-bottom: rem(130);
    }

    padding-top: calc( var( --header-height ) + var( --bread-top-gap ) );
}