<div clasa="form-field" style="margin-top: 15px">
    <div class="form-field__label">
        <label
            class="form-field__label"
            for="input-name-1957294782"
            x-text="field.label"
        ></label>
    </div>

    <div class="form-field__control-wrap">
        <input
            class="input"
            id="input-name-1957294782"
            type="text"
            :name="field.name"
            x-model="field.value"
            :required="field.required"
            :placeholder="field.label"
        >
    </div>
</div>