<div clasa="form-field" style="margin-top: 15px">
    <div class="form-field__label">
        <label
            class="form-field__label"
            for="input-name-1957294782"
            x-text="slide.fields[0].label"
        ></label>
    </div>

    <div class="form-field__control-wrap">
        <input
            class="input"
            id="input-name-1957294782"
            type="text"
            :disabled="phoneVerified == true || slide.checkPhone == true"
            :name="slide.fields[0].name"
            x-model="slide.fields[0].value"
            :required="slide.fields[0].required"
            :placeholder="slide.fields[0].label"
        >
    </div>

    <div class="form-field__error" x-text="slide.fields[0].error"></div>
</div>

<template x-if="slide.checkPhone == false && phoneVerified == false">
    <div class="mt-30 text-center">
        <button
            @click="requestVerifyPhone( slide )"
            class="button-secondary"
            type="button"
        >Подтвердить телефон</button>
    </div>
</template>

<template x-if="slide.checkPhone == true && phoneVerified == false">
    <div>
        <div clasa="form-field" style="margin-top: 15px">
            <div class="form-field__label">
                <label
                    class="form-field__label"
                    for="input-name-1957294782"
                >Последние 4 цифры входящего звонка</label>
            </div>

            <div class="form-field__control-wrap">
                <input
                    class="input"
                    id="input-name-1957294782"
                    type="text"
                    x-model="phoneVerifiedCode"
                    placeholder="Последние 4 цифры номерв"
                >
            </div>

            <div class="form-field__error" x-text="phoneVerifiedCodeError"></div>
        </div>

        <div class="mt-30 text-center">
            <button
                @click="verifyPhone"
                class="button-secondary"
                type="button"
            >Подтвердить</button>
        </div>
    </div>
</template>