<fieldset>
    <template x-for="field,idx in slide.fields">
        <label
            class="options-item"
            x-bind="inputRadioLabel(slide,field)"
        >
            <input
                class="options-item__input"
                x-bind="inputRadioAttr(slide,field)"
                x-model="slide.values"
            >

            <div class="options-item__inner">
                <div class="options-item__icon-wrapper">
                    <img
                        class="options-item__icon"
                        :src="`${ storePath }${ field.icon }`"
                        alt=""
                    >
                </div>
                <div class="options-item__icon-text" x-text="field.label"></div>
            </div>
        </label>
    </template>
</fieldset>