<div>
    <div class="quiz-video-screen__title" x-text="slide.title"></div>

    <div class="quiz-video-screen__video-wrapper">
        <div class="quiz-player">
            <video
                class="quiz-player__video"
                width="200"
                :src="`${ storePath }${ slide.video }`"
                :poster="`${ storePath }${ slide.poster }`"
                playsinline
            ></video>
            <button class="quiz-player__btn-play" @click="playVideo" type="button">
                <svg width="100" height="100" version="1.1" viewBox="0 0 128 128" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"><g id="_x34__stroke"><g id="Youtube_1_" clip-rule="evenodd" fill-rule="evenodd"><path fill="none" d="M0 0h128v128H0z"/><path d="M126.72 38.224s-1.252-8.883-5.088-12.794c-4.868-5.136-10.324-5.16-12.824-5.458-17.912-1.305-44.78-1.305-44.78-1.305h-.056s-26.868 0-44.78 1.305c-2.504.298-7.956.322-12.828 5.458C2.528 29.342 1.28 38.224 1.28 38.224S0 48.658 0 59.087v9.781c0 10.433 1.28 20.863 1.28 20.863s1.248 8.883 5.084 12.794c4.872 5.136 11.268 4.975 14.116 5.511 10.24.991 43.52 1.297 43.52 1.297s26.896-.04 44.808-1.345c2.5-.302 7.956-.326 12.824-5.462 3.836-3.912 5.088-12.794 5.088-12.794S128 79.302 128 68.868v-9.781c0-10.429-1.28-20.863-1.28-20.863zM50.784 80.72l-.004-36.219 34.584 18.172-34.58 18.047z" fill="#CE1312" id="Youtube"/></g></g></svg>
            </button>
        </div>
    </div>
</div>