@include m( pad ) {
    .header-menu {
        // .header-menu__title
        &__title {
            display: none;
        }

        // .header-menu__btn-close
        &__btn-close {
            display: none;
        }

        // .header-menu__list
        &__list {
            display: flex;
        }

        // .header-menu__list-item
        &__list-item {
            @include m( pad, desktopSmall ) {
                &:not(:first-child){
                    margin-left: rem(30);
                }
            }

            @include m( desktopSmall ) {
                &:not(:first-child){
                    margin-left: rem(40);
                }
            }
        }

        // .header-menu__link
        &__link {
            text-decoration: none;
            font-size: rem(16);
            line-height: 1.4;
            color: var(--color-text-main);
            transition: color .3s linear;

            &:hover {
                color: var(--color-primary-40);
            }

            // .header-menu__link_active
            &_active {
                color: var(--color-primary-50);
            }
        }
    }
}