@include m( 0, pad ) {
    .header-menu {
        $innerMaxWidth: rem(375);
        --overlayOpacity: 0;
        --innerTransform: translateX(0);

        position: fixed;
        left: 0;
        top: 0;
        z-index: 10;
        width: 100vw;
        height: 100vh;
        visibility: hidden;
        transition: visibility .3s linear;

        // .header-menu_open
        &_open {
            visibility: visible;
            --overlayOpacity: 1;
            --innerTransform: translateX(-100%);
        }

        // .header-menu__inner
        &__inner {
            width: 100%;
            max-width: $innerMaxWidth;
            background-color: var(--color-bg-beige-light);
            padding: rem(54) rem(50);
            display: flex;
            flex-direction: column;
            justify-content: center;
            position: absolute;
            right: - $innerMaxWidth;
            top: 0;
            transform: var(--innerTransform);
            transition: transform .3s linear;

            @include m( 0, phoneLarge ) {
                width: 100%;
                height: 100%;
            }

            @include m( phoneLarge, pad ) {
                border-top-left-radius: rem(16);
                border-bottom-left-radius: rem(16);
            }
        }

        // .header-menu__ovarlay
        &__overlay {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            background-color: rgba( #3E4356, .5 ); // var(--color-illustrations-black)
            opacity: var(--overlayOpacity);
            transition: opacity .3s linear;
        }

        // .header-menu__title
        &__title {
            @include m( 0, phoneLarge ) {
                margin-bottom: rem(50);
                text-align: center;
            }

            @include m( phoneLarge, pad ) {
                margin-bottom: rem(40);
                text-align: left;
            }
        }

        // .header-menu__btn-close
        &__btn-close {
            width: rem(44);
            height: rem(44);
            position: absolute;
            right: rem(20);
            top: rem(20);
            color: var(--color-text-additional);
            display: flex;
            align-items: center;
            justify-content: center;
        }

        // .header-menu__list
        &__list {
            display: flex;
            flex-direction: column;
        }

        // .header-menu__list-item
        &__list-item {
            @include m( 0, phoneLarge ) {
                text-align: center;
            }

            @include m( phoneLarge, pad ) {
                text-align: left;
            }

            &:not(:first-child){
                margin-top: rem(30);
            }
        }

        // .header-menu__link
        &__link {
            font-size: rem(24);
            line-height: 1.4;
            color: var(--color-text-mail);
            text-decoration: none;
            transition: color .3s linear;

            &:hover {
                color: var(--color-primary-40);
            }

            // .header-menu__link_active
            &_active {
                color: var(--color-primary-50);
            }
        }
    }
}
