.two-images {
    --col-count: 1;

    @include m(pad) {
        --col-count: 2;
    }

    // .two-images__inner
    &__inner {
        padding-top: rem(20);
        display: grid;
        grid-template-columns: repeat( var(--col-count), 1fr );
        gap: rem(20);
    }

    // .two-images_direction-horizontal
    &_direction-horizontal {
        --gradient-direction: to right;
    }

    // .two-images_direction-vertical
    &_direction-vertical {
        --gradient-direction: to bottom;
    }

    // .two-images_use-background
    &_use-background {
        background-image: linear-gradient( var(--gradient-direction), var(--gradient-from), var(--gradient-to) );
    }

    // .two-images__img
    &__img {
        width: 100%;
        height: auto;
        display: block;
    }
}