.what-you-get {
    $iconWidth: rem(20);
    $iconHeight: rem(26);

    // .what-you-get__inner
    &__inner {
    }

    // .what-you-get__title
    &__title {
        text-align: center;
    }

    // .what-you-get__content
    &__content {
        @include m( desktopLarge ) {
            display: flex;
        }
    }

    // .what-you-get__list
    &__list {
        margin-top: rem(50);
        flex-grow: 1;

        @include m( desktopLarge ) {
            max-width: 50%;
            margin-top: rem(60);
        }
    }

    // .what-you-get__list-item
    &__list-item {
        &:not(:first-child) {
            margin-top: rem(30);
        }
    }

    // .what-you-get__list-item-title
    &__list-item-title {
        padding-left: $iconWidth + rem(16);
        min-height: $iconHeight;
        background-repeat: no-repeat;
        background-position: left top;
        background-size: $iconWidth $iconHeight;
        background-image: url( componentAssetPath( 'what-you-get', 'title-bg.svg' ) );
    }

    // .what-you-get__list-item-text
    &__list-item-text {
        font-size: rem(16);
        line-height: 1.46;
        color: var(--color-text-main);

        margin-top: rem(16);
    }

    // .what-you-get__img-wrap
    &__img-wrap {
        text-align: center;
        @include m( 0, desktopLarge ) {
            margin-top: rem(40);
        }

        @include m( desktopLarge ) {
            margin-top: rem(50);
            max-width: calc( 50% - 20px );
            margin-left: rem(20);
        }
    }

    // .what-you-get__img
    &__img {
        // max-width: 100%;
    }
}
