.button-primary {
    padding: rem(16) rem(40);
    border-radius: rem(30);
    border-width: 1px;
    border-style: solid;
    border-color: currentColor;
    color: var( --color-text-white );
    text-decoration: none;
    background-color: var( --color-primary-40 );
    transition: color .3s linear, border-color .3s linear, background-color .3s linear;
    display: inline-flex;
    align-items: center;

    font-weight: bold;
    font-size: rem(14);
    line-height: 1.4;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    & > * + * {
        margin-left: rem(10);
    }

    // .button-primary__text
    &__text {
        margin-right: rem(10);
        flex-grow: 1;
    }

    // .button-primary__icon
    &__icon {
        margin-left: auto;
    }

    &:hover {
        background-color: var( --color-primary-60 );
        border-color: var( --color-primary-60 );
        color: var( --color-text-white );
    }

    &:active {
        background-color: var( --color-primary-60 );
        border-color: var( --color-primary-60 );
        color: var( --color-text-white );
    }

    &:disabled, &.disabled {
        border-color: var( --color-text-additional );
        color: var( --color-text-additional );
        cursor:not-allowed;

        &:hover {
            background-color: transparent;
            border-color: var( --color-text-additional );
            color: var( --color-text-additional );
        }
    }
}