.button-tertiary {
    @include clear-button;
    padding: rem(12) 0;
    color: var( --color-primary-50 );
    text-decoration: none;
    background-color: transparent;
    transition: color .3s linear;
    display: inline-flex;
    align-items: center;

    font-weight: bold;
    font-size: rem(14);
    line-height: 1.4;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    & > * + * {
        margin-left: rem(10);
    }

    &:hover {
        color: var( --color-primary-40 );
        text-decoration: underline;
    }

    &:active {
        color: var( --color-primary-60 );
        text-decoration: none;
    }

    &:disabled,
    &_disabled {
        color: rgba( var( --color-primary-50 ), .4 );
    }
}