.blog-anons-list {
    --slideGap: #{ rem(30) };
    --carouselOverflowX: auto;
    --carouselOverflowY: hidden;
    --carouselPaddingBottom: #{ rem(10) };

    // .blog-anons-list_carousel-inited
    &_carousel-inited {
        --slideGap: 0;
        --carouselOverflowX: hidden;
        --carouselOverflowY: hidden;
        --carouselPaddingBottom: 0;
    }

    // .blog-anons-list__title
    &__title {
    }

    // .blog-anons-list__scroll-legend
    &__scroll-legend.carousel-scroll-legend {
        margin-top: rem(30);

        @include m( pad ) {
            display: none;
        }
    }

    // .blog-anons-list__carousel
    &__carousel {
        overflow-y: var(--carouselOverflowY);
        overflow-x: var(--carouselOverflowX);
        padding-bottom: var(--carouselPaddingBottom);
        @include scrollbars;
    }

    // .blog-anons-list__list
    &__list {
        display: flex;
        margin-top: rem(40);
    }

    // .blog-anons-list__item
    &__item {
        width: 100%;
        margin-right: var( --slideGap );
        flex-shrink: 0;

        @include m(0,pad) {
            max-width: rem(378);
        }
    }

    // .blog-anons-list__pagination
    &__pagination {
    }

    // .blog-anons-list__more-wrapper
    &__more-wrapper {
        margin-top: rem(30);

        @include m( 0, pad ) {
            text-align: center;
        }

        @include m( pad ) {
            text-align: right;
        }
    }
}