.custom-scroll {
    &::-webkit-scrollbar {
        width: 7px;
    }

    &::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    &::-webkit-scrollbar-thumb {
        background: #888;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}

.toolbar {
    padding: 0 5px;
}

.cdx-button:disabled {
    cursor: not-allowed;
    color: #fff;
    background-color: #ccc;
}

.shopaholic-products-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2000000000;
    display: flex;
    align-items: center;
    justify-content: center;

    // .shopaholic-products-modal__overlay
    &__overlay {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background-color: rgba(0,0,0,.5);
    }

    // .shopaholic-products-modal__content
    &__content {
        max-width: 70vw;
        max-height: 70vh;
        background-color: #fff;
        border-radius: 20px;
        padding: 20px;
        position: relative;
        z-index: 2;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        min-height: 1px;
    }

    //.shopaholic-products-modal__list-wrapper
    &__list-wrapper {
        position: relative;
        flex-grow: 1;
        margin-top: 15px;
        margin-bottom: 15px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
    }

    //.shopaholic-products-modal__list
    &__list {
        overflow-y: auto;
        position: relative;
        height: 100%;

        &:empty::after {
            content: attr(data-noitems);
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: bold;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
        }
    }


    //.shopaholic-products-modal__footer
    &__footer {
        display: flex;
        border-top: 1px solid #ccc;
        padding-top: 5px;
        justify-content: flex-end;
        
        > * + * {
            margin-left: 5px;
        }
    }
}


/* PRELOADER */

.preloader-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.85);
    z-index: 100000;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s linear;

    // .preloader_show
    &_show {
        pointer-events: initial;
        opacity: 1;
    }
}

.preloader {
    $size: 26px;

    text-align: center;
    position: relative;
    user-select: none;
    width: 80px;

    // .preloader__item
    &__item {
        $size: 18px;

        display: inline-block;
        width: $size;
        height: $size;
        border-radius: 100%;
        background-color: #ccc;
        animation: preloader 1.4s infinite ease-in-out both;

        // .preloader__item_one
        &_one {
            animation-delay: -0.32s;
        }

        // .preloader__item_two
        &_two {
            animation-delay: -0.16s;
        }
    }
}

@keyframes preloader {
    0%, 80%, 100% {
      transform: scale(0);
    }

    40% {
      transform: scale(1);
    };
}