.price3 {
    $iconSize: rem(60);
    $switchBlock: screen(desktopSmall);

    background-color: var(--color-bg-peach);
    padding-top: rem(40);
    padding-bottom: rem(40);

    // .price3__inner
    &__inner {
        display: grid;
        gap: rem(40);

        @include m( 0, $switchBlock ) {
            grid-template-areas: "title" "info" "form";
            grid-template-columns: 1fr;
        }

        @include m( $switchBlock ) {
            grid-template-areas: "title title" "info form";
            grid-template-columns: 1fr 1fr;
        }
    }

    // .price3__main-title
    &__main-title {
        grid-area: title;
        text-align: center;
    }

    // .price3__col-info
    &__col-info {
        grid-area: info;
    }

    // .price3__video-title
    &__video-title {
        text-align: center;
        font-size: rem(18);
        text-transform: uppercase;
    }

    // .price3__video-wrapper
    &__video-wrapper {
        margin-top: rem(20);
    }

    // .price3__info-title
    &__info-title {
        text-align: center;
        margin-top: rem(20);
    }

    // .price3__list
    &__list {
        margin-top: rem(20);
    }

    // .price3__list-item
    &__list-item {
        &:not(:first-child) {
            margin-top: rem(20);
        }
    }

    // .price3__list-title
    &__list-title {
        display: flex;
        align-items: center;

        &:before {
            content: '';
            display: inline-block;
            width: rem(20);
            height: rem(20);
            background-image: url( componentAssetPath( 'page-index', 'technologically-bullet.svg' ) );
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            margin-right: rem(16);
            flex-shrink: 0;
        }
    }

    // .price3__list-text
    &__list-text {
        font-size: rem(16);
        line-height: 1.46;
        color: var(--color-text-additional);
        margin-top: rem(8);
    }

    // .price3__info-comment
    &__info-comment {
        text-align: center;
        font-size: rem(22);
        margin-top: rem(20);
    }

    // .price3__tag-row
    &__tag-row {
        text-align: center;
        margin-top: rem(20);
    }

    // .price3__col-form
    &__col-form {
        grid-area: form;
        border-radius: rem(20);
        border: 1px solid var(--color-primary-60);
        background-color: var(--color-bg-white);
        padding: rem(20);
    }

    // .price3__form-title
    &__form-title {
        font-size: rem(38);
        color: var(--color-secondary-main);
        text-align: center;
    }

    // .price3__form-subtitle
    &__form-subtitle {
        text-align: center;
        color: var(--color-secondary-main);
        margin-top: rem(20);
    }

    // .price3__form-list-before
    &__form-list-before {
        margin-top: rem(30);
    }

    // .price3__form-list-before-item
    &__form-list-before-item {
        display: flex;
        line-height: 1;

        &:not(:first-child) {
            margin-top: rem(8);
        }

        &:before {
            content: '';
            display: inline-block;
            width: rem(15);
            height: rem(15);
            background-image: url( componentAssetPath( 'page-index', 'technologically-bullet.svg' ) );
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            margin-right: rem(8);
            flex-shrink: 0;
        }
    }

    // .price3__form-img-after
    &__form-img-after {
        display: block;
        margin-top: rem(20);
        width: 100%;
        height: auto;
    }

    // .price3__form-list-after
    &__form-list-after {
        margin-top: rem(20);
    }

    // .price3__form-list-after-item
    &__form-list-after-item {
        display: grid;
        grid-template-areas: "icon title" "icon text";
        grid-template-columns: $iconSize auto;
        column-gap: rem(20);
        row-gap: rem(5);

        &:not(:first-child) {
            margin-top: rem(10);
        }
    }

    // .price3__form-list-after-icon
    &__form-list-after-icon {
        width: $iconSize;
        height: auto;
        grid-area: icon;
    }

    // .price3__form-list-after-title
    &__form-list-after-title {
        grid-area: title;
        font-weight: bold;
        font-size: rem(18);
        text-transform: uppercase;

        mark {
            background-color: transparent;
            color: var(--color-secondary-main);
        }
    }

    // .price3__form-wrapper
    &__form-wrapper {
        margin-top: rem(20);
    }

    // .price3__form-list-after-text
    &__form-list-after-text {
        grid-area: text;
        font-size: rem(14);
    }
}

.external-form {
    // .external-form__row
    &__row {
        &:not(:first-child) {
            margin-top: rem(16);
        }
    }

    input {
        background-color: var(--color-bg-peach);
    }

    // .external-form__button
    &__button {
        width: 100%;
    }
}