.submit-your-application {
    $mobileSwitch: #{ screen(pad) };
    $isonSize: rem(70);
    position: relative;
    --btn-size: #{ rem(116) };
    --btn-border: #{ rem(22) };

    @include m($mobileSwitch) {
        --btn-size: #{ rem(140) };
    }

    &::before {
        content: "";
        display: block;
        background-color: var(--color-bg-peach);
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        bottom: calc( var(--btn-size) / 2 );
        z-index: 0;
    }

    // .submit-your-application__inner
    &__inner {
        padding-top: rem(50);
        position: relative;
        z-index: 1;
    }

    // .submit-your-application__list
    &__list {
        display: grid;
        row-gap: rem(30);
        grid-template-columns: 1fr;

        @include m( pad ) {
            grid-template-columns: repeat(2, 1fr);
            column-gap: rem(20);
        }

        @include m( desktopSmall ) {
            grid-template-columns: repeat(4, 1fr);
        }

        @include m( desktopLarge ) {
            column-gap: rem(30);
        }
    }

    // .submit-your-application__item
    &__item {
        background-repeat: no-repeat;
        background-size: $isonSize $isonSize;
        background-position: left top;
    }

    // .submit-your-application__title
    &__title {
        min-height: $isonSize;
        padding-left: $isonSize + rem(16);
        display: flex;
        align-items: center;
    }

    // .submit-your-application__text
    &__text {
        margin-top: rem(16);
        font-size: rem(16);
        line-height: 1.46;
        color: var(--color-text-main);
    }

    // .submit-your-application__btn-wrapper
    &__btn-wrapper {
        margin-top: rem(40);
        text-align: center;

        @include m( phoneLarge ) {
            margin-top: rem(78);
        }
    }

    // .submit-your-application__btn
    &__btn {
        width: var(--btn-size);
        height: var(--btn-size);
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background-color: var(--color-primary-50);
        border-radius: 50%;

        font-weight: bold;
        font-size: rem(14);
        line-height: 1.4;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--color-text-white);

        box-shadow: 0 0 0 rem(22) var(--color-bg-beige-light);

        animation: pulse 1.5s infinite;
        box-shadow: 0 0 0 0 rgba(90, 153, 212, 0.5);
    }

    // .submit-your-application__bg-round
    &__bg-round {
        width: calc(var(--btn-size) + var(--btn-border) * 2);
        height: calc(var(--btn-size) + var(--btn-border) * 2);
        background-color: var(--color-bg-beige-light);
        border-radius: 50%;
        position: absolute;
        left: 50%;
        bottom: calc( var(--btn-border) * -1 );
        transform: translateX(-50%);
        z-index: -1;
        clip-path: inset(0 0 50% 0);
    }
}