<template>
    <div id="messenger-container" class="menu-sub-hidden">
        <top-nav />
        <account-sidebar />

        <main>
            <b-container fluid="">
                <slot></slot>
            </b-container>
        </main>
        <!-- <footer-component/> -->
    </div>
</template>

<script>
    import TopNav from '@/components/navs/TopNav'
    import AccountSidebar from '@/components/navs/AccountSidebar'
    // import Footer from '@/components/navs/Footer'

    export default {
        components: {
            TopNav,
            AccountSidebar,
            // 'footer-component': Footer
        },
        data() {
            return {
            };
        },
        computed: {
        },
        mounted() {
            setTimeout(() => {
                document.body.classList.add('default-transition');
            }, 100);
        }
    };
</script>
