.footer {
    background-color: var(--color-bg-white);

    // .footer__inner
    &__inner {
        filter: drop-shadow(0 rem(-4) rem(12) rgba(124, 129, 146, 0.07));

        @include m(0,pad) {
            padding-top: rem(40);
            padding-bottom: rem(40);
        }

        @include m(pad) {
            padding-top: rem(35);
            padding-bottom: rem(35);

            display: grid;
            grid-template-areas: "logo menu"
                                "logo info";
            grid-template-columns: rem(225) 1fr;
            column-gap: rem(24);
        }

        @include m(desktopSmall) {
            grid-template-areas: "logo menu info";
            grid-template-columns: rem(223) 1fr rem(223);
            column-gap: rem(20);
        }

        @include m(desktopLarge) {
            grid-template-columns: rem(282) 1fr rem(282);
            column-gap: rem(30);
        }
    }

    // .footer__area-logo
    &__area-logo {
        @include m(0,pad) {
            text-align: center;
        }

        @include m(pad) {
            grid-area: logo;
        }
    }

    // .footer__logo-wrap
    &__logo-wrap {
    }

    // .footer__logo
    &__logo {
        display: block;
        height: auto;

        @include m( 0,pad ) {
            width: rem(170);
            margin-left: auto;
            margin-right: auto;
        }

        @include m( pad ) {
            width: rem(210);
        }
    }

    // .footer__requisite
    &__requisite {
        margin-top: rem(13);

        font-size: rem(14);
        line-height: 1.4;
        color: var( --color-text-additional );
    }

    // .footer__socials
    &__socials {
        display: flex;

        @include m( 0,pad ) {
            margin-top: rem(13);
            justify-content: center;
        }

        @include m( pad ) {
            margin-top: rem(21);
        }
    }

    // .footer__socials-item
    &__socials-item {
        @include m( 0,pad ) {
            width: rem(40);
            height: rem(40);

            & + & {
                margin-left: rem(4);
            }
        }

        @include m( pad ) {
            width: rem(24);
            height: rem(24);

            & + & {
                margin-left: rem(12);
            }
        }
    }

    // .footer__socials-link
    &__socials-link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        color: var(--color-primary-50);
    }

    // .footer__socials-icon
    &__socials-icon {
        display: block;
    }

    // .footer__menu
    &__menu {
        @include m(0,pad) {
            margin-top: rem(24);
        }

        @include m(pad) {
            grid-area: menu;
            margin-top: rem(15);
        }
    }

    // .footer__menu-list
    &__menu-list {
        @include m(0,phoneLarge) {
            text-align: center;
        }

        @include m(phoneLarge) {
            columns: 2;
        }
    }

    // .footer__menu-item
    &__menu-item {
        &:not(:first-child) {
            @include m(0, phoneLarge) {
                margin-top: rem(12);
            }

            @include m(phoneLarge) {
                margin-top: rem(8);
            }
        }
    }

    // .footer__menu-link
    &__menu-link {
        font-size: rem(16);
        line-height: 1.46;
        color: var(--color-text-main);
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    // .footer__area-info
    &__area-info {
        @include m(0, phoneLarge) {
            margin-top: rem(24);
            text-align: center;
        }

        @include m(phoneLarge) {
            margin-top: rem(43);
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
        }

        @include m(pad) {
            grid-area: info;
        }

        @include m(desktopSmall) {
            margin-top: rem(15);
            align-items: flex-start;
            flex-direction: column;
        }
    }

    // .footer__info
    &__info {
        @include m(0,desktopSmall) {
            margin-top: rem(30);
        }
    }

    // .footer__info-item
    &__info-item {
        font-size: rem(16);
        line-height: 1.46;
        color: var(--color-text-main);

        &:not(:first-child) {
            @include m(0,desktopSmall) {
                margin-top: rem(4);
            }

            @include m(desktopSmall) {
                margin-top: rem(8);
            }
        }

        a {
            text-decoration: none;
            color: inherit;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    // .footer__resident-wrapper
    &__resident-wrapper {
        margin-top: rem(24);
        text-align: center;
    }

    // .footer__resident
    &__resident {
    }
}