.faq {
    // .faq__inner
    &__inner {
        max-width: rem(1010);
    }

    // .faq__title
    &__title {
        text-align: center;
    }

    // .faq__list
    &__list {
        @include m( 0, desktopLarge ) {
            margin-top: rem(50);
        }

        @include m( desktopLarge ) {
            margin-top: rem(60);
        }
    }

    // .faq__item
    &__item {
        border-bottom: 1px solid #F2E9E5;
        padding-bottom: rem(20);

        &:not(:first-child) {
            padding-top: rem(20);
            // border-top: 1px solid #F2E9E5;
        }
    }

    // .faq__label
    &__label {
        font-weight: bold;
        font-size: rem(20);
        line-height: 1.34;
        color: var(--color-text-header-subheader);
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    // .faq__arrow-wrapper
    &__arrow-wrapper {
        width: rem(32);
        height: rem(32);
        flex-shrink: 0;
        margin-left: rem(5);
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--color-primary-50);
        border-radius: 50%;
        transition: color .3s linear, background-color .3s linear;
    }

    // .faq__arrow-icon
    &__arrow-icon {
        display: block;
        transform: rotate(180deg);
        transition: transform .3s linear;
    }

    // .faq__item_open .faq__arrow-wrapper
    &__item_open &__arrow-wrapper {
        color: var(--color-bg-white);
        background-color: var(--color-primary-50);
    }

    // .faq__item_open .faq__arrow-icon
    &__item_open &__arrow-icon {
        transform: rotate(0deg);
    }

    // .faq__content
    &__content {
        max-height: 0;
        overflow: hidden;
        transition: max-height .3s linear;
    }

    // .faq__content-inner
    &__content-inner {
        padding-top: rem(18);

        p:not(:first-child) {
            margin-top: rem(10);
        }
    }
}