title = "Blog category"
url = "/blog/category/:slug"
layout="main"

[viewBag]
activeMenu = "blog"
pageBlock = "page-blog-category"
==
<?php
    function onStart() {
        $slug = $this->param( 'slug' );
        $urlData = \Ed\Helpers\Classes\Helpers\Slug::getSlugId( $slug );

        if( $urlData === false ) {
            $this->setStatusCode( 404 );
            return $this->controller->run( '404' );
        }

        $category = \ED\Blog\Models\Category::whereId( $urlData['id'] )
                ->published()
                ->first();

        if( !$category ) {
            $this->setStatusCode( 404 );
            return $this->controller->run( '404' );
        }

        if ( $category->slug != $urlData['slug'] ) {
            return redirect( $category->getUrl(), 301 );
        }

        $posts = \ED\Blog\Models\Post::where( 'category_id', $urlData['id'] )
            ->published()
            ->paginate( 10 );

        $this->page->meta_title = $category->meta_title == '' ? $category->name : $category->meta_title;
        if ( $category->meta_description != '' )
            $this->page->meta_description = $category->meta_description;
        if ( $category->meta_keywords != '' )
            $this->page->meta_keywords = $category->meta_keywords;

        $this[ 'bread' ]	= [
            [ 'title' => 'Блог', 'url' => \Cms\Classes\Page::url( 'blog/list' ) ],
            [ 'title' => $category->name, 'url' => '' ],
        ];

        $this[ 'category' ] = $category;
        $this[ 'posts' ] = $posts;
    }
?>
==
{%
    partial 'blocks/blog/layout'
    subtitle=category.name
    categoryLabel=category.name
    body
%}
    <div class="page-blog-category__posts">
        {% for post in posts %}
            {%
                partial 'blocks/blog/anons-post'
                item=post
                css=""
            %}
        {% endfor %}
    </div>

    <div class="page-blog-category__pagination">
        {{ posts.render|raw }}
    </div>
{% endpartial %}