title = "Blog list"
url = "/blog"
layout="main"

[viewBag]
activeMenu = "blog"
pageBlock = "page-blog-list"
==
<?php
    function onStart() {
        $categories = \ED\Blog\Models\Category::published()
                    ->whereHas( 'posts', function( $q ) {
                        $q->published();
                    })
                    ->get();

        foreach( $categories as $category ) {
            $category->posts = \ED\Blog\Models\Post::where('category_id', $category->id )->order()->take(3)->get();
        }

        // $categories	= \ED\Blog\Models\Category::published()
        //                 ->whereHas( 'posts', function( $q ) {
        //                     $q->published();
        //                 })
        //                 ->with([
        //                     'posts'  => function( $q ) {
        //                         // $q->take(3)->published();
        //                         // $q->published()->groupBy( 'category_id' );
        //                         $q->published()->groupBy( 'category_id' );
        //                     }
        //                 ])
        //                 ->get();

        $this->page->meta_title = '';
        $this->page->meta_description = '';
        $this->page->meta_keywords = '';

        $this[ 'bread' ]	= [
            [ 'title' => 'Блог', 'url' => \Cms\Classes\Page::url( 'blog/list' ) ],
        ];

        $this[ 'categories' ] = $categories;
    }
?>
==
{%
    partial 'blocks/blog/layout'
    subtitle="Новое в блоге"
    body
%}
    {% for category in categories %}
        <div class="page-blog-list__category-block">
            <div class="page-blog-list__category-header">
                <h3
                    class="page-blog-list__category-title"
                    style="background-image: url({{ category.icon.getPath() }});"
                >
                    {{ category.name }}
                </h3>

                <a
                    class="button-tertiary page-blog-list__category-link"
                    href="{{ category.getUrl() }}"
                >
                    <span class="button-tertiary__text">перейти в раздел</span>
                    {% partial 'components/icon'
                        icon="arrow-right"
                        css="button-tertiary__icon"
                        width="35"
                        height="24"
                    %}
                </a>
            </div>

            <div class="page-blog-list__category-list">
                {% for post in category.posts %}
                {%
                    partial 'blocks/blog/anons-post'
                    item=post
                    css=""
                %}
                {% endfor %}
            </div>
        </div>
    {% endfor %}
{% endpartial %}