title = "Blog post"
url = "/blog/:slug"
layout="main"

[viewBag]
activeMenu = "blog"
pageBlock = "page-blog-post"
==
<?php
    function onStart() {
        $slug = $this->param( 'slug' );
        $urlData = \Ed\Helpers\Classes\Helpers\Slug::getSlugId( $slug );

        if( $urlData === false ) {
            $this->setStatusCode( 404 );
            return $this->controller->run( '404' );
        }

        $post	= \ED\Blog\Models\Post::whereId( $urlData['id'] )
                        ->published()
                        ->with([
                            'author',
                            'tags' => function( $q ) {
                                $q->published();
                            },
                            'category'  => function( $q ) {
                                $q->published();
                            }
                        ])
                        ->first();

        if( !$post ) {
            $this->setStatusCode( 404 );
            return $this->controller->run( '404' );
        }

        if ( $post->slug != $urlData['slug'] ) {
            return redirect( $post->getUrl(), 301 );
        }

        $this->page->meta_title = $post->meta_title == '' ? $post->title : $post->meta_title;
        if ( $post->meta_description != '' )
            $this->page->meta_description = $post->meta_description;
        if ( $post->meta_keywords != '' )
            $this->page->meta_keywords = $post->meta_keywords;

        $this[ 'bread' ]	= [
            [ 'title' => 'Блог', 'url' => \Cms\Classes\Page::url( 'blog/list' ) ],
            [ 'title' => $post->category->name, 'url' => $post->category->getUrl() ],
            [ 'title' => $post->title, 'url' => '' ],
        ];

        $this[ 'post' ] = $post;
    }
?>
==
{%
    partial 'blocks/blog/layout'
    subtitle=post.title
    body
%}
    {% if post.cover %}
        <div class="page-blog-post__cover-wrap">
            {%
                set pictureData = {
                    img		: post.cover.getPath(),
                    formats	: [ 'webp', 'jpg' ],
                    quality	: 90,
                    mode	: 'crop',
                    css		: 'page-blog-post__cover',
                    alt		: post.title,
                    lazy    : false,
                    sizes : [
                        {
                            width : 906,
                            height : 906,
                            media: '(min-width: 400px)'
                        }, {
                            width : 400,
                            height : 400,
                            media: '(max-width: 400px)'
                        }
                    ]

                }
            %}
            {% partial 'components/picture' data=pictureData %}
        </div>
    {% endif %}

    {% if post.author or post.time_to_read > 0 %}
    <div class="page-blog-post__info-bar">
        {% if post.author %}
        <div class="page-blog-post__info-bar-author">
            <div class="blog-author">
                <div class="blog-author__img-wrap">
                    <img
                        src="{{ post.author.avatar.getThumb(70,70) }}"
                        srcset="{{ post.author.avatar.getThumb(140,140) }}"
                        alt="{{ post.author.name }}"
                        class="blog-author__img"
                    >
                </div>
                <div class="blog-author__name">{{ post.author.name }}</div>
            </div>
        </div>
        {% endif %}

        {% if post.time_to_read > 0 %}
            <div class="page-blog-post__info-bar-read">Время чтения: {{ post.time_to_read }} мин.</div>
        {% endif %}
    </div>
    {% endif %}

    {% partial 'editor-blocks/_blocks' sections=post.blocks_data %}

    {#% if post.text %}
    <div class="page-blog-post__text wysiwyg">
        {{ post.text_html | raw }}
    </div>
    {% endif %#}

    {#
    <div style="margin-top: 50px;">
    {% for tag in post.tags %}
        <a href="{{ tag.getUrl() }}">{{ tag.name }}</a>{% if loop.index != loop.last %}, {% endif %}
    {% endfor %}
    </div>
    #}

    <div class="page-blog-post__related">
        <h2 class="h3">Вам также может быть интересно</h2>

        <div class="page-blog-category__posts page-blog-post__related-posts">
            {% for post in post.category.posts %}
                {%
                    partial 'blocks/blog/anons-post'
                    item=post
                    css=""
                %}
            {% endfor %}
        </div>
    </div>
{% endpartial %}