title = "Blog tag"
url = "/blog/tag/:slug"
layout="main"

[viewBag]
activeMenu = "blog"
==
<?php
    function onStart() {
        $slug	= $this->param( 'slug' );
        $urlData = \Ed\Helpers\Classes\Helpers\Slug::getSlugId( $slug );

        if( $urlData === false ) {
            $this->setStatusCode( 404 );
            return $this->controller->run( '404' );
        }

        $tag = \ED\Blog\Models\Tag::whereId( $urlData['id'] )
                ->published()
                ->with([ 'posts' => function( $q ) {
                    $q->published();
                }])
                ->first();

        if( !$tag ) {
            $this->setStatusCode( 404 );
            return $this->controller->run( '404' );
        }

        if ( $tag->slug != $urlData['slug'] ) {
            return redirect( $tag->getUrl(), 301 );
        }

        $this->page->meta_title = $tag->meta_title == '' ? $tag->title : $tag->meta_title;
        if ( $tag->meta_description != '' )
            $this->page->meta_description = $tag->meta_description;
        if ( $tag->meta_keywords != '' )
            $this->page->meta_keywords = $tag->meta_keywords;

        $this[ 'bread' ]	= [
            [ 'title' => 'Блог', 'url' => \Cms\Classes\Page::url( 'blog/list' ) ],
            [ 'title' => $tag->title, 'url' => '' ],
        ];

        $this[ 'tag' ] = $tag;
    }
?>
==
<h1>{{ tag.name }}</h1>

{% for post in tag.posts %}
<div>
	<a href="{{ post.getUrl() }}">{{ post.title }}</a>
</div>
{% endfor %}