.list-with-phone {
    // .list-with-phone__inner
    &__inner {
    }

    // .list-with-phone__title
    &__title {
        margin-bottom: rem(16);

        @include m( 0, pad ) {
            text-align: center;
        }
    }

    // .list-with-phone__text
    &__text {
        line-height: 1.4;
        color: var(--color-text-header-subheader);

        @include m( 0, pad ) {
            text-align: center;
        }

        @include m( 0, desktopLarge ) {
            margin-bottom: rem(50);
        }

        @include m( desktopLarge ) {
            margin-bottom: rem(60);
        }

        @include m( 0, phoneLarge ) {
            font-size: rem(22);
        }

        @include m( phoneLarge, desktopSmall ) {
            font-size: rem(24);
        }

        @include m( desktopSmall ) {
            font-size: rem(26);
        }

        p:not(:last-child) {
            margin-bottom: rem(10);
        }
    }

    // .list-with-phone__list
    &__list {
        display: grid;

        @include m( 0, phoneLarge ) {
            grid-template-columns: 1fr;
        }

        @include m( phoneLarge, desktopSmall ) {
            grid-template-columns: repeat(2, 1fr);
        }

        @include m( desktopSmall ) {
            grid-template-columns: repeat(4, 1fr);
        }

        @include m( 0, desktopLarge ) {
            row-gap: rem(30);
            column-gap: rem(20);
        }

        @include m( desktopLarge ) {
            column-gap: rem(30);
        }
    }

    // .list-with-phone__list-item
    &__list-item {
        list-style-type: none;
    }

    // .list-with-phone__list-item-img-wrap
    &__list-item-img-wrap {
        display: flex;

        @include m(0,phoneLarge) {
            margin-bottom: rem(8);
            justify-content: center;
        }

        @include m(phoneLarge, desktopSmall) {
            margin-bottom: rem(16);
        }

        @include m(desktopSmall) {
            margin-bottom: rem(24);
        }

        @include m(desktopLarge) {
            margin-bottom: rem(16);
        }
    }

    // .list-with-phone__list-item-img
    &__list-item-img {
        width: 100%;
        height: auto;
        display: block;

        @include m( 0, phoneLarge ) {
            max-width: rem(138);
        }

        @include m( phoneLarge ) {
            max-width: rem(191);
        }
    }

    // .list-with-phone__list-item-title
    &__list-item-title {
        margin-bottom: rem(10);

        @include m( 0, phoneLarge ) {
            margin-bottom: rem(4);
            text-align: center;
        }
    }

    // .list-with-phone__list-item-text
    &__list-item-text {
        font-size: rem(16);
        line-height: 1.46;
        color: var(--color-text-main);

        @include m(0,phoneLarge) {
            text-align: center;
        }
    }
}