[staticPage]
useContent = 0
default = 0

[viewBag]
==
<?php
    function onQuize2() {
        $data = post();
        $model = new \Ed\Quize2\Models\Answer;
        $model->quize_id = $data['id'];
        $model->title = $data['title'];
        $model->data = $data['data'];
        $model->save();

        $contacts = \Ed\Quize2\Classes\Helpers::getContactsFromData( $model->data );

        if( count( $contacts ) > 0 ) {
            $formData = [
                'type' => 6,
                'data' => [
                    'quize_id' => $model->id,
                ],
                'contacts' => [
                    'phone' => null,
                    'mail' => null,
                    'name' => null,
                ]
            ];

            if( isset( $contacts[ 'name' ] ) )
                $formData[ 'name' ] = $contacts[ 'name' ];
            if( isset( $contacts[ 'phone' ] ) )
                $formData[ 'contacts' ][ 'phone' ] = $contacts[ 'phone' ];
            if( isset( $contacts[ 'mail' ] ) )
                $formData[ 'contacts' ][ 'mail' ] = $contacts[ 'mail' ];

            try {
                $formItem = \Art\Form\Models\Item::create( $formData );
            } catch( \Exception $e ) {
                trace_log( $e );
            }
        }

        \Diz\Telegram\Models\Telegram::send([
            'title'	=> 'Заполнен квиз "' . $data['title'] . '"',
            'group'	=> 'admins'
        ]);

        $redirect = \Ed\Quize2\Classes\Redirects::check( $model );

        if( $redirect !== false ) {
            return $redirect;
        }

        return $model->quize->general_redirect;
    }
?>
==
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ 'assets/css/quize.css' | theme }}">
</head>
<body>
<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();
   for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
   k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(90664618, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        webvisor:true
   });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/90664618" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->


    {variable
        name="section"
        type="repeater"
        prompt="Добавить блок"
        tab="Content"
        maxItems="1"
        groups="~/themes/easydoo/config/quize2_blocks.yaml"
    }{/variable}

    {% partial 'editor-blocks/_blocks' sections=page.section %}

    {% page %}

    <script src="{{ 'assets/js/quize.js' | theme }}"></script>
</body>
</html>