[staticPage]
useContent = 0
default = 0

[Form]
==
<?php
    function onQuize() {
        $data = post();
        $model = new \Ed\Quize\Models\Answer;
        $model->quize_id = $data['id'];
        $model->data = $data['data'];
        $model->save();
    }

    function onQuize2() {
        $data = post();
        $model = new \Ed\Quize2\Models\Answer;
        $model->quize_id = $data['id'];
        $model->data = $data['data'];
        $model->title = $data['title'];
        $model->save();
    }

    function onStart() {
        $this[ 'backLogin' ] = BackendAuth::check();
        $this[ 'debug' ] = app( 'config' )->get( 'app.debug' );
        $this[ 'locale' ] = app( 'config' )->get( 'app.locale' );
    }

    function onEnd() {
        $this[ 'pageBlock' ] = $this->viewBag->pageBlock ?? 'page-default';
        $this[ 'pageTheme' ] = $this->viewBag->pageTheme ?? 'page';

        $this[ 'metaTitle' ] = $this->page->meta_title ?? ( $this->page->title != '' ? $this->page->title : $this->theme->def_meta_title );
        $this[ 'metaDescription' ] = $this->page->meta_description ?? ( $this->page->description != '' ? $this->page->description : $this->theme->def_meta_description );
        $this[ 'metaKeywords' ] = $this->page->meta_keywords ?? ( $this->page->keywords != '' ? $this->page->keywords : $this->theme->def_meta_keywords );
    }
?>
==
<!DOCTYPE html>
<html lang="{{ locale }}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ metaTitle }}</title>
    <meta name="description" content="{{ metaDescription }}">

    {% if viewBag.canonical %}<link rel="canonical" href="{{ viewBag.canonical }}" />{% endif %}
    {% if viewBag.noindex %}<meta name="robots" content="noindex">{% endif %}

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;1,800&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ 'assets/css/app.css' | theme }}">

    {% styles %}
    {{ this.theme.include_head | raw }}
    {% partial 'layout/favicon' %}
</head>
<body class="{{ pageTheme | default( 'page' ) }} {{ pageBlock | default( 'page-index' ) }} page_no-header">
    {{ this.theme.include_body_begin | raw }}

    {variable
        name="section"
        type="repeater"
        prompt="Добавить блок"
        tab="Content"
        displayMode="builder"
        groups="~/themes/easydoo/config/common_blocks.yaml"
    }{/variable}

    {% partial 'editor-blocks/_blocks' sections=page.section %}

    {% page %}
    <br><br><br><br><br><br>

    {% partial 'layout/footer' %}
    {% partial 'layout/assets' %}
    {{ this.theme.include_body_end | raw }}
</body>
</html>