.review-item {
    background: var(--color-bg-white);
    border: 1px solid var(--color-border);
    border-radius: rem(16);

    @include m( 0, pad ) {
        padding: rem(30);
    }

    @include m( pad ) {
        padding: rem(40);
    }

    // .review-item__header
    &__header {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }

    // .review-item__person-info
    &__person-info {
        display: flex;
        align-items: center;
    }

    // .review-item__avatar-wrap
    &__avatar-wrap {
        width: rem(40);
        height: rem(40);
        position: relative;
        flex-shrink: 0;
    }

    // .review-item__avatar
    &__avatar {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: var(--color-main-shapes);
        object-fit: cover;
        font-size: 1px;
    }

    // .review-item__name
    &__name {
        font-weight: bold;
        font-size: rem(14);
        line-height: 1.4;
        color: var(--color-text-additional);
        margin-left: rem(8);
    }

    // .review-item__rating
    &__rating {
        margin-left: rem(8);
        flex-shrink: 0;
        display: flex;
    }


    // .review-item__rating-item
    &__rating-item {
        @include m( 0, pad ) {
            width: rem(16);
            height: rem(16);
        }

        @include m( pad ) {
            width: rem(24);
            height: rem(24);
        }

        display: block;
        background-image: url( $componentsImgPath + '/review-item/star-no-fill.svg' );
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;

        &_fill {
            background-image: url( $componentsImgPath + '/review-item/star-fill.svg' );
        }

        & + & {
            margin-left: rem(4);
        }
    }

    // .review-item__text
    &__text {
        margin-top: rem(24);
        font-size: rem(16);
        line-height: 1.46;
    }
}
