.lack-of-recovery {
    // .lack-of-recovery__inner
    &__inner {
    }

    // .lack-of-recovery__title
    &__title {
        max-width: rem(811);

        @include m( 0, phoneSmall ) {
            text-align: center;
        }
    }

    // .lack-of-recovery__sub-title
    &__sub-title {
        margin-top: rem(16);
        font-size: rem(26);
        line-height: 1.34;
        color: var(--color-text-header-subheader);

        @include m( 0, phoneSmall ) {
            text-align: center;
        }
    }

    // .lack-of-recovery__list
    &__list {
        margin-top: rem(60);
        display: grid;
        column-gap: rem(30);
        row-gap: rem(17);

        @include m( 0, pad ) {
            grid-template-columns: 1fr;
        }

        @include m( pad, desktopSmall ) {
            grid-template-columns: repeat(2, 1fr);
        }

        @include m( desktopSmall ) {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    // .lack-of-recovery__item
    &__item {
        position: relative;
        z-index: 1;

        font-size: rem(16);
        line-height: 1.46;
        color: var(--color-text-main);

        padding-bottom: rem(24);
        padding-right: rem(24);
        padding-left: rem(56);
        padding-top: rem(37);

        &::after {
            position: absolute;
            content: "";
            display: block;
            left: rem(16);
            top: rem(13);
            width: calc( 100% - #{ rem(16) });
            height: calc( 100% - #{ rem(13) });
            background: var(--color-bg-peach);
            border-radius: rem(8);
            z-index: -1;
        }
    }

    // .lack-of-recovery__item-icon
    &__item-icon {
        position: absolute;
        left: 0;
        top: 0;
    }
}