.countdown {
    $switch: screen( desktopSmall );

    padding: rem(20);

    // .countdown__inner
    &__inner {
        padding: rem(20) rem(30);
        display: grid;
        gap: rem(20);
        background-color: var(--color-bg-white);
        border: 1px solid var(--color-primary-60);
        border-radius: rem(20);

        grid-template-columns: 1fr;
        align-items: center;

        @include m($switch) {
            grid-template-columns: auto 1fr auto;
        }
    }

    // .countdown_direction-horizontal
    &_direction-horizontal {
        --gradient-direction: to right;
    }

    // .countdown_direction-vertical
    &_direction-vertical {
        --gradient-direction: to bottom;
    }

    // .countdown_use-background
    &_use-background {
        background-image: linear-gradient( var(--gradient-direction), var(--gradient-from), var(--gradient-to) );
    }

    // .countdown__col-info
    &__col-info {
        position: relative;

        @include m($switch) {
            padding-right: rem(100);

            &::after {
                content: '';
                display: block;
                pointer-events: none;
                background-image: url( $componentsImgPath + '/price-simple/coins.svg' );
                background-position: right center;
                background-size: contain;
                width: rem(87);
                height: rem(85);
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 0;
            }
        }
    }

    // .countdown__info-row1
    &__info-row1 {
        font-weight: 700;
        font-size: rem(20);
        line-height: 1.34;
        color: var(--color-text-header-subheader);

        mark {
            color: var(--color-secondary-main);
            background-color: transparent;
        }

        @include m(0, $switch) {
            text-align: center;
        }

        @include m($switch) {
            white-space: nowrap;
        }
    }

    // .countdown__info-row2
    &__info-row2 {
        font-weight: 700;
        font-size: rem(20);
        line-height: 1.34;
        color: var(--color-text-header-subheader);

        @include m(0, $switch) {
            text-align: center;
            margin-top: rem(10);
        }
    }

    // .countdown__info-row3
    &__info-row3 {
        @include m(0, $switch) {
            text-align: center;
            margin-top: rem(10);
        }
    }

    // .countdown__price
    &__price {
        font-weight: 700;
        font-size: rem(22);
        line-height: 1.4;
        color: var(--color-secondary-main);
        white-space: nowrap;
    }

    // .countdown__percent
    &__percent {
        @include m(0, $switch) {
            display: none;
        }

        @include m($switch) {
            background-image: url( $componentsImgPath + '/price-simple/percent.svg' );;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            width: rem(53);
            height: rem(56);
            font-style: normal;
            font-weight: 700;
            font-size: rem(16);
            line-height: 1.46;
            color: var(--color-text-white);
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            right: rem(16);
            top: rem(-7);
            z-index: 5;
            transform: rotate(23.03deg);
            pointer-events: none;
        }
    }

    // .countdown__price-old
    &__price-old {
        margin-left: rem(12);
        white-space: nowrap;

        font-weight: 400;
        font-size: rem(26);
        line-height: 1.34;
        // text-decoration-line: line-through;
        color: var(--color-text-additional);
        opacity: 0.5;
    }

    // .countdown__col-button
    &__col-button {
        text-align: center;
    }

    // .countdown__btn
    &__btn {
        font-weight: bold;
        font-size: rem(18);
        line-height: 1.4;
        text-align: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--color-text-white);
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--color-primary-50);
        padding: rem(16) rem(40);
        text-decoration: none;
        border-radius: rem(30);
        animation: pulse 1.5s infinite;
        box-shadow: 0 0 0 0 rgba(90, 153, 212, 0.5);

        &:hover {
            animation: none;
        }

        @include m($switch) {
            font-size: rem(24);
        }
    }

    // .countdown__btn-row1
    &__btn-row1 {
    }

    // .countdown__btn-row2
    &__btn-row2 {
        margin-top: rem(5);
        font-size: rem(14);
        font-weight: 400;
    }

    // .countdown__col-counter
    &__col-counter {
        text-align: center;
    }

    // .countdown__counter-title
    &__counter-title {
        font-weight: 700;
        font-size: rem(20);
    }

    // .countdown__counter
    &__counter {
        display: inline-flex;
        align-items: center;

        > * + * {
            margin-left: rem(30);
        }
    }

    // .countdown__segment
    &__segment {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    // .countdown__segment-number
    &__segment-number {
        font-weight: 700;
        font-size: rem(48);
    }

    // .countdown__segment-comment
    &__segment-comment {
        color: var(--color-text-additional);
        opacity: 0.5;
        font-weight: 400;
        font-size: rem(14);
        text-transform: uppercase;
    }
}