:root {
    // FontSize
    --controlFontSizeXS: #{ rem(11) };
    --controlFontSizeS: #{ rem(13) };
    --controlFontSizeM: #{ rem(14) };
    --controlFontSizeL: #{ rem(16) };
    --controlFontSizeXL: #{ rem(18) };
    --controlFontSizeXXL: #{ rem(20) };

    // FontWeight
    --controlFontWeightRegular: 400;
    --controlFontWeightSemibold: 600;
    --controlFontWeightBold: 700;
}