@mixin gridSidebar() {
    // grid
    --grid-sides: #{ rem(16) };
    --sidebar-column-width: #{ rem(110) };
    --sidebar-column-count: 0;
    --sidebar-width: 0;

    --grid-gutter: #{ rem(16) };
    --grid-columns: 2;
    --max-screen: 100vw;
    --grid-column-width: calc(
        (
            var( --max-screen )
            -
            (
                var(--grid-sides) * 2
                +
                var(--grid-gutter) * ( var(--grid-columns) - 1 )
            )
        )
        /
        var(--grid-columns)
    );

    @include m( tabletSmall ) {
        --grid-columns: 4;
    }

    @include m( tabletMedium ) {
        --grid-columns: 6;
    }

    @include m( tabletLarge ) {
        --grid-columns: 8;
    }

    @include m( desktopSmall ) {
        --grid-sides: #{ rem(24) };
        --grid-gutter: #{ rem(24) };
        --grid-columns: 6;
        --sidebar-column-count: 2;
        --sidebar-width: calc( var( --sidebar-column-width ) * var( --sidebar-column-count ) + var( --grid-gutter ) );

        --grid-column-width: calc(
            (
                var( --max-screen )
                -
                ( var(--grid-sides) * 2 )
                -
                ( var(--sidebar-width) + var(--grid-gutter) )
                -
                ( var(--grid-gutter) * ( var( --grid-columns ) - 1 ) )
            )
            /
            var( --grid-columns )
        );
    }

    @include m( desktopMedium ) {
        --grid-columns: 8;
    }

    @include m( desktopLarge ) {
        --grid-columns: 10;
    }

    @include m( desktopMax ) {
        --max-screen: #{ screen( desktopMax ) };
    }
}