.br2 {
    $blockSwitch: rem(1000);
    --video-order: 2;
    --form-order: 1;
    --cols: 1;
    --min-height: auto;

    @include m( $blockSwitch ) {
        --video-order: 2;
        --form-order: 1;
        --cols: 2;
        --min-height: #{ rem(400) };
    }

    // .br2__inner
    &__inner {
        display: grid;
        gap: rem(20);
        grid-template-columns: repeat( var(--cols), 1fr );
        min-height: var(--min-height);
    }

    // .br2__area-video
    &__area-video {
        position: relative;
        order: var(--video-order);
    }

    // .br2__video
    &__video {
        width: 100%;
        border-radius: rem(20);

        @include m( 0, $blockSwitch ) {
            height: auto;
        }

        @include m( $blockSwitch ) {
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            object-fit: cover;
        }
    }

    // .br2__area-form
    &__area-form {
        order: var(--form-order);
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    // .br2__title
    &__title {
        margin-top: rem(16);
    }

    // .br2__sub-title
    &__sub-title {
        margin-top: rem(16);
        color: var(--color-text-header-subheader);
        font-size: rem(22);
        line-height: 1.4;
    }

    // .br2__text
    &__text {
        color: var(--color-text-main);
        font-size: rem(16);
        line-height: 1.46;
        margin-top: rem(8);
    }

    // .br2__label
    &__label {
        align-self: flex-start;
    }

    // .br2__price-wrap
    &__price-wrap {
        display: flex;
        align-items: center;
        margin-top: rem(4);
    }

    // .br2__price
    &__price {
        font-weight: 700;
        font-size: rem(22);
        line-height: 1.4;
        color: var(--color-secondary-main);
        white-space: nowrap;
    }

    // .br2__price-old
    &__price-old {
        margin-left: rem(12);
        white-space: nowrap;

        font-weight: 400;
        font-size: rem(26);
        line-height: 1.34;
        // text-decoration-line: line-through;
        color: var(--color-text-additional);
        opacity: 0.5;
    }

    // .br2__percent
    &__percent {
        background-image: url( $componentsImgPath + '/price-simple/percent.svg' );;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        width: rem(53);
        height: rem(56);
        font-style: normal;
        font-weight: 700;
        font-size: rem(16);
        line-height: 1.46;
        color: var(--color-text-white);
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        right: rem(16);
        top: rem(-7);
        z-index: 5;
        transform: rotate(23.03deg);
        pointer-events: none;
    }

    .request-success {
        margin-top: rem(20);
        font-weight: bold;
        font-size: rem(20);
        background-color: var(--color-tags-programs-joint);
        color: var(--color-text-white);
        padding: rem(10);
        border-radius: rem(6);
    }

    // .br2__area-form
    &__form {
        margin-top: rem(30);

        @include m( 0, $blockSwitch ) {
            max-width: rem(455);
            margin-left: auto;
            margin-right: auto;
        }
    }

    // .br2__input
    &__input {
        $iconSize: rem(24);
        $iconGap: rem(12);
        $paddingX: rem(16);
        background: var(--color-bg-white);
        border: rem(1) solid var(--color-border);
        box-sizing: border-box;
        border-radius: rem(8);
        height: rem(48);

        font-weight: 400;
        font-size: rem(16);
        line-height: 1.46;
        color: var(--color-text-additional);
        padding-left: $paddingX + $iconSize + $iconGap;
        padding-right: $paddingX;
        width: 100%;

        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='.5' fill='%23828891'%3E%3Cpath d='M6 4.5a3 3 0 0 0-3 3v.301l9 4.847 9-4.845V7.5a3 3 0 0 0-3-3H6Z'/%3E%3Cpath d='m21 9.505-8.645 4.655a.75.75 0 0 1-.71 0L3 9.505V16.5a3 3 0 0 0 3 3h12a3 3 0 0 0 3-3V9.505Z'/%3E%3C/g%3E%3C/svg%3E");
        background-size: $iconSize $iconSize;
        background-repeat: no-repeat;
        background-position: left $paddingX center;
    }

    // .br2__form-privacy
    &__form-privacy {
        margin-top: rem(8);
        font-weight: 400;
        font-size: rem(14);
        line-height: 1.36;

        a {
            color: var(--color-system-info);
        }
    }

    // .br2__submit-wrap
    &__submit-wrap {
        margin-top: rem(24);
        display: grid;
        gap: rem(30);

        @include m( 0, $blockSwitch ) {
            grid-template-rows: repeat(2, 1fr);
        }
        
        @include m( $blockSwitch ) {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    // .br2__submit
    &__submit {
        color:#fff;

        &_vk {
            background-color: #688cc8;
        }

        &_tg {
            background-color: #3793e9;
        }

        @include m( 0, phoneLarge ) {
            width: 100%;
            justify-content: center;
        }
    }
}