.br2 {
    $blockSwitch: rem(700);
    --min-height: auto;

    @include m( $blockSwitch ) {
        --min-height: #{ rem(400) };
    }

    // .br2__inner
    &__inner {
        display: grid;
        gap: rem(20);
        min-height: var(--min-height);

        @include m( 0, $blockSwitch ) {
            grid-template-areas: "content1" "video" "content2";
            grid-template-columns: 1fr;
        }

        @include m( $blockSwitch ) {
            grid-template-areas: "content1 video" "content2 video";
            grid-template-columns: repeat(2, 1fr);
        }
    }

    // .br2__area-video
    &__area-video {
        position: relative;
        grid-area: video;
        align-self: center;
    }

    // .br2__video-wrapper
    &__video-wrapper {
        width: 100%;
        padding-top: 56.25%;
        // border-radius: rem(20);
        border-width: rem(4);
        border-color: var(--color-additional-yellow);
        border-style: solid;
        // overflow: hidden;
        // height: 0;
        position: relative;

        iframe {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            border-width: 0;
            outline-width: 0;
            // object-fit: cover;
        }
    }

    // // .br2__video
    // &__video {
    //     position: absolute;
    //     left: 0;
    //     top: 0;
    //     width: 100%;
    //     height: 100%;
    //     border-width: 0;
    //     outline-width: 0;
    //     object-fit: cover;
    // }

    // .br2__video-text
    &__video-text {
        font-weight: bold;
        margin-top: rem(20);
        display: flex;
        justify-content: center;
        align-items: center;

        &:after {
            content: '';
            display: inline-block;
            background-image: url( $componentsImgPath + '/br2/arrow.png' );
            background-position: center;
            background-size: contain;
            width: rem(57);
            height: rem(57);
            margin-left: rem(7);
        }
    }

    // .br2__area-content1
    &__area-content1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        grid-area: content1;
    }

    // .br2__area-content2
    &__area-content2 {
        grid-area: content2;
    }

    // .br2__title
    &__title {
        margin-top: rem(16);
    }

    // .br2__sub-title
    &__sub-title {
        margin-top: rem(16);
        color: var(--color-text-header-subheader);
        font-size: rem(22);
        line-height: 1.4;
    }

    // .br2__text
    &__text {
        color: var(--color-text-main);
        font-size: rem(16);
        line-height: 1.46;
        margin-top: rem(8);
    }

    // .br2__label
    &__label {
        align-self: flex-start;
    }

    // .br2__price-block
    &__price-block {
        position: relative;
        margin-top: rem(14);
        min-height: rem(108);
        display: inline-block;
        padding-right: rem(78);

        @include m( phoneLarge ) {
            padding-right: rem(140);
        }
    }

    // .br2__price-wrap
    &__price-wrap {
        display: flex;
        align-items: flex-end;

        &::after {
            content: '';
            display: block;
            pointer-events: none;
            background-image: url( $componentsImgPath + '/price-simple/coins.svg' );
            background-position: right center;
            background-size: contain;
            width: rem(87);
            height: rem(85);
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: rem(40);

            @include m( 0, phoneLarge ) {
                display: none;
            }

            @include m( pad, desktopSmall ) {
                display: none;
            }
        }
    }

    // .br2__price
    &__price {
        font-weight: 700;
        font-size: rem(40);
        line-height: 1.4;
        color: var(--color-secondary-main);
        white-space: nowrap;
    }

    // .br2__price-old
    &__price-old {
        margin-left: rem(12);
        white-space: nowrap;

        font-weight: 400;
        font-size: rem(20);
        line-height: 1.34;
        // text-decoration-line: line-through;
        color: var(--color-text-additional);
        opacity: 0.5;
    }

    // .br2__percent
    &__percent {
        background-image: url( $componentsImgPath + '/br2/percent.svg' );;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        width: rem(53);
        height: rem(56);
        font-style: normal;
        font-weight: 700;
        font-size: rem(16);
        line-height: 1.46;
        color: var(--color-text-white);
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        right: rem(16);
        top: rem(-7);
        z-index: 5;
        transform: rotate(23.03deg);
        pointer-events: none;
    }

    // .br2__price-until
    &__price-until {
        margin-top: rem(10);
        color: var(--color-text-additional);
    }

    // .br2__accent
    &__accent {
        color: var(--color-secondary-main);
    }

    // .br2__timer-minutes
    &__timer-minutes {
        color: var(--color-text-additional);
    }

    // .br2__redirect
    &__redirect {
        font-weight: bold;
        font-size: rem(16);
        line-height: 1.4;
        text-align: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--color-text-white);
        display: inline-flex;
        align-items: center;
        background-color: var(--color-primary-50);
        padding: rem(16) rem(25);
        text-decoration: none;
        border-radius: rem(30);
        margin-top: rem(20);
        animation: pulse 1.5s infinite;
        box-shadow: 0 0 0 0 rgba(90, 153, 212, 0.5);

        &:hover {
            animation: none;
        }
    }

    // .br2__btn-demo
    &__btn-demo {
        color: var(--color-primary-60);
        text-transform: uppercase;
        text-decoration: none;
        font-weight: bold;
        display: inline-flex;
        align-items: center;
        flex-wrap: wrap;
        font-size: rem(16);
        margin-top: rem(20);
 
        > * > {
            margin-left: rem(10);
        }
    }
}