<div class="review-anons js-carousel-review {{ css }}">
    <div class="review-anons__inner container">
        <h2 class="review-anons__title h2">Отзывы наших клиентов</h2>

        {% partial 'components/carousel-scroll-legend' css="review-anons__scroll-legend" %}

        <div class="review-anons__carousel js-carousel">
            <div class="review-anons__list js-wrapper">
                {% for item in list %}
                <div class="review-anons__item review-item js-slide">
                    <div class="review-item__header">
                        <div class="review-item__person-info">
                            <div class="review-item__avatar-wrap">
                                {% set imgSrc = item.avatar ? item.avatar.getThumb( 80, 80 ) : ('/assets/img/components/review-item/avatar.svg') | theme %}
                                <img
                                    role="presentation"
                                    src="{{ imgSrc }}"
                                    alt="{{ item.name }}"
                                    class="review-item__avatar"
                                >
                            </div>
                            <div class="review-item__name">{{ item.name }}</div>
                        </div>

                        <div class="review-item__rating">
                            {% for i in 1..5 %}
                                {% set fillCss = loop.index <= item.stars ? 'review-item__rating-item_fill' %}
                                <span class="review-item__rating-item {{ fillCss }}"></span>
                            {% endfor %}
                        </div>
                    </div>
    
                    <div class="review-item__text">{{ item.textHtml | raw }}</div>
                </div>
                {% endfor %}
            </div>
        </div>

        <ul class="review-anons__pagination js-pagination"></ul>

        {% if not all %}
        <div class="review-anons__more-wrap">
            <a class="button-tertiary" href="/otzyvy">
                <span class="button-tertiary__text">Показать ещё отзывы</span>
                {%
                    partial 'components/icon'
                    css="button-tertiary__icon"
                    width="35"
                    height="24"
                    icon="arrow-right"
                %}
            </a>
        </div>
        {% endif %}
    </div>
</div>