.exercise {
    // .exercise__inner
    &__inner {
    }

    // .exercise__title
    &__title {
        max-width: rem(600);

        @include m( 0,pad ) {
            text-align: center;
        }
    }

    // .exercise__sub-title
    &__sub-title {
        margin-top: rem(16);
        max-width: rem(600);

        @include m( 0,pad ) {
            text-align: center;
            font-size: rem(22);
            line-height: 1.4;
        }

        @include m( pad ) {
            font-size: rem(26);
            line-height: 1.34;
        }
    }

    // .exercise__tabs
    &__tabs {
        margin-top: rem(50);

        @include m( desktopLarge ) {
            margin-top: rem(60);
        }
    }

    // .exercise__tabs-list
    &__tabs-list {
        max-width: rem(800);
        margin-left: auto;
        margin-right: auto;
        display: flex;
    }

    // .exercise__tab
    &__tab {
        --borderColor: var(--color-border);
        --borderSize: #{ rem(2) };

        font-size: rem(22);
        line-height: 1.4;
        text-align: center;
        color: var(--color-text-header-subheader);
        padding-bottom: rem(11);
        position: relative;
        cursor: pointer;
        flex-grow: 1;

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: var(--borderSize);
            background-color: var(--borderColor);
            border-radius: rem(4) rem(4) 0 0;
        }

        // .exercise__tab_active
        &_active {
            --borderSize: #{ rem(4) };
            --borderColor: var(--color-primary-50);
            font-weight: bold;
        }
    }

    // .exercise__panels
    &__panels {
        @include m( 0, pad ) {
            margin-top: rem(40);
        }

        @include m( pad ) {
            margin-top: rem(60);
        }
    }

    // .exercise__panel
    &__panel {
        display: none;

        // .exercise__panel_active
        &_active {
            display: block;
        }
    }

    // .exercise__list
    &__list {
        @include m( pad ) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: rem(20);
            row-gap: rem(30);
        }

        @include m( desktopLarge ) {
            column-gap: rem(30);
            row-gap: rem(50);
        }
    }

    // .exercise__list-item
    &__list-item {
        &:not(:first-child) {
            @include m( 0, pad ) {
                margin-top: rem(30);
            }
        }
    }

    // .exercise__list-title
    &__list-title {
        $iconSize: rem(70);
        padding-left: rem(86);
        background-repeat: no-repeat;
        background-position: left top;
        background-size: $iconSize $iconSize;
        min-height: $iconSize;
        display: flex;
        align-items: center;
    }

    // .exercise__list-text
    &__list-text {
        margin-top: rem(18);
    }
}