.btn-round {
    font-weight: bold;
    font-size: rem(14);
    line-height: 1.4;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-text-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--color-primary-50);
    padding: rem(10);
    text-decoration: none;

    @include m( 0, pad ) {
        width: rem(116);
        height: rem(116);
    }

    @include m( pad ) {
        width: rem(140);
        height: rem(140);
    }
}