<script>
	function loadUpdates() {
		var token	= document.getElementById( 'Form-field-Settings-token');
		var msg		= document.getElementById( 'msg' );
		if ( token ) {
			msg.textContent	= '';

			if( token.value == '' ) {
				msg.textContent	= 'Не задан токен';
			} else {
				document.getElementById( 'updatesFrame' ).src = 'https://api.telegram.org/bot' + token.value + '/getUpdates?';
			}
		} else {
			msg.textContent	= 'Не найдено поле токена';
		}
	}
</script>

<div class="toolbar">
	<button type="button" onclick="loadUpdates()" class="btn btn-primary btn-size-xl">Load</button>
</div>

<div id="msg"></div>

<style>
	.toolbar, #msg {
		margin-bottom: 10px;
	}

	#updatesFrame {
		height: 500px;
		background-color: #fff;
		width: 100%;
		border: 1px solid #000;
	}
</style>

<iframe id="updatesFrame" src="" frameborder="0"></iframe>