<fieldset class="fieldset program-layout__direction-fieldset" form="filter-form">
    <legend class="fieldset__legend">Направления</legend>

    <div class="fieldset__fields">
        <div class="custom-select js-custom-select">
            <button type="button" class="custom-select__label js-toggle">
                <span class="custom-select__label-text js-label">Все направления</span>

                {%
                    partial 'components/icon'
                    width="24"
                    height="24"
                    icon="arrow-up"
                    css="custom-select__label-icon"
                %}
            </button>

            <div class="custom-select__dropdown js-dropdown">
                {% for filter_key, filter_name in filtersList.directions %}
                    <label class="custom-select__item">
                        <input
                            name="direction"
                            class="custom-select__item-input"
                            type="radio"
                            value="{{ filter_key }}"
                            form="filter-form"
                            {{ filterValues.direction == filter_key ? 'checked' }}
                        >

                        <span class="custom-select__item-label js-item-label">
                            {{ filter_name }}
                        </span>
                    </label>
                {% endfor %}
            </div>
        </div>
    </div>
</fieldset>