{% partial 'programs-list/filter-directions' %}

<form
    action=""
    method="get"
    id="filter-form"
    class="program-layout__form-filter form-filter js-form-filter"
>
    <button
        type="button"
        aria-label="Поиск"
        class="form-filter__btn-close js-toggle-filters"
    >
        {%
            partial 'components/icon'
            icon="close"
            width="24"
            height="24"
        %}
    </button>

    <div class="h2 form-filter__mobile-title">Фильтр</div>

    <div class="form-filter__body">
        <fieldset
            class="fieldset form-filter__group-gap"
            form="filter-form"
        >
            <legend class="fieldset__legend">Типы программы</legend>

            <div class="fieldset__fields">
                {% for filter_key, filter_name in filtersList.types %}
                <div class="form-component">
                    {%
                        partial 'components/form/radio'
                        label=filter_name
                        name="type"
                        formId=filter_key
                        value=filter_key
                        checked=(filterValues.type == filter_key)
                    %}
                </div>
                {% endfor %}
            </div>
        </fieldset>

        <fieldset class="fieldset form-filter__group-gap">
            <legend class="fieldset__legend">Уровень сложности</legend>

            <div class="fieldset__fields">
                {% for filter_key, filter_name in filtersList.levels %}
                <div class="form-component">
                    {%
                        partial 'components/form/radio'
                        label=filter_name
                        name="level"
                        value=filter_key
                        formId=filter_key
                        checked=(filterValues.level == filter_key)
                    %}
                </div>
                {% endfor %}
            </div>
        </fieldset>

        <div class="form-filter__group-gap">
                {%
                    partial 'components/form/switch'
                    label="С куратором"
                    name="curator"
                    value=1
                    checked=(filterValues.curator)
                    pos="right"
                %}
        </div>
    </div>

    <div class="form-filter__btns-wrap">
        <button class="button-secondary" type="submit">Применить</button>
    </div>
</form>

{#
<fieldset class="fieldset">
    <legend class="fieldset__legend">Категории</legend>

    <div class="fieldset__fields">
        <div class="form-component">
            <label class="filter-item">
                <input {{ filterValues.category == 0 ? 'checked' }} type="radio" name="category" value="0" >
                Все
            </label>
        </div>

        {% for category in filtersList.categories %}
        <div class="form-component">
            <label class="filter-item">
                <div class="filter-item__color" style="background-color: {{ category.color }};"></div>

                <input {{ filterValues.category == category.id ? 'checked' }} type="radio" name="category" value="{{ category.id }}" >
                {{ category.title }}
            </label>
        </div>
        {% endfor %}
    </div>
</fieldset>
#}