==
<?php
    function onStart() {
        $categories = \ED\Blog\Models\Category::published()
                                            ->whereHas( 'posts', function( $q ) {
                                                $q->published();
                                            })
                                            ->get();
        $this[ 'categories' ] = $categories;
    }
?>
==
<div class="container program-layout">
    <h1 class="h1 program-layout__area-title">{{ title }}</h1>

    <div class="program-layout__area-content">
        {{ body|raw }}
    </div>

    <div class="program-layout__area-search">
        <form action="/search" class="form-search program-layout__search-form">
            <h2 class="h1 form-search__title">Поиск</h2>

            <button
                type="button"
                aria-label="Поиск"
                class="form-search__btn-close js-toggle-search"
            >
                {%
                    partial 'components/icon'
                    icon="close"
                    width="24"
                    height="24"
                %}
            </button>

            <div class="form-search__area-input">
                <input class="form-search__input" type="text" name="q">
            </div>

            <div class="form-search__area-btns">
                <button class="form-search__btn-clear" type="reset">Очистить</button>

                <button class="form-search__btn-submit" type="submit" aria-label="Найти">
                    {%
                        partial 'components/icon'
                        width="24"
                        height="24"
                        icon="search"
                        css="form-search__btn-submit-icon"
                    %}
                    <span class="form-search__btn-submit-text">Найти</span>
                </button>
            </div>
        </form>
    </div>

    <div class="program-layout__area-sidebar js-sidebar">
        <button
            class="btn-filters-mobile program-layout__btn-mobile-filters js-toggle-filters"
            type="button"
        >
            <span class="btn-filters-mobile__text">Фильтры</span>
            <span class="btn-filters-mobile__bage">2</span>
            {%
                partial 'components/icon'
                width="24"
                height="24"
                icon="filter"
                css="btn-filters-mobile__icon"
            %}
        </button>

        <button
            class="program-layout__btn-mobile-search js-toggle-search"
            type="button"
            aria-label="Найти"
        >
            {%
                partial 'components/icon'
                width="24"
                height="24"
                icon="search"
            %}
        </button>

        {%
            partial 'programs-list/filter'
            filtersList=ProgramsList.filtersList
            filterValues=ProgramsList.filterValues
        %}
    </div>
</div>