{% if programs.count %}
    {% for item in programs %}
        <div class="program-item programs-list__item">
            {% if item.category %}
            <span class="tag program-item__category" style="--tag-bg-color: {{ item.category.color }};">
                {{ item.category.title }}
            </span>
            {% endif %}

            {% if item.icon %}
            <span class="program-item__icon" style="background-image: url({{ item.icon.getPath() }});"></span>
            {% endif %}

            <h3 class="h3 program-item__title">{{ item.title }}</h3>
            <div class="program-item__anons">{{ item.anons }}</div>
            <div class="program-item__time-wrapper">
                {%
                    partial 'components/icon'
                    icon="clock"
                    width="24"
                    height="24"
                    css="program-item__time-icon"
                %}
                <span class="program-item__time">{{ item.time }}</span>
            </div>

            <div class="program-item__link-wrapper">
                <a
                    class="button-tertiary"
                    href="{{ item.getUrl() }}"
                >
                    <span class="button-tertiary__text">смотреть программу</span>
                    {% partial 'components/icon'
                        icon="arrow-right"
                        css="button-tertiary__icon"
                        width="35"
                        height="24"
                    %}
                </a>
            </div>
        </div>
    {% endfor %}
{% else %}
    <div class="program-layout__not-found">Ничего не найдено</div>
{% endif %}