.carousel-scroll-legend {
    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 700;
    font-size: rem(14);
    line-height: 1.4;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-primary-50);
    opacity: 1;
    transition: opacity .05s linear;
    user-select: none;

    // .carousel-scroll-legend__text
    &__text {
        margin-left: rem(10);
        margin-right: rem(10);
    }

    // .carousel-scroll-legend__icon
    &__icon {
        animation: blink-animation 1s steps(5, start) infinite;

        // .carousel-scroll-legend__icon_first
        &_first {
            animation-delay: 0.2s;
        }
    }
}

@keyframes blink-animation {
    to {
        opacity: 0;
    }
}