.program-header {
    margin-top: rem(40);

    // .program-header__inner
    &__inner {
        position: relative;
        display: flex;
        flex-direction: column;

        @include m( desktopSmall ) {
            min-height: rem(347);
        }
    }

    // .program-header__title
    &__title {
        order: 2;
        margin-top: rem(16);
        word-break: break-word;

        @include m( 0, phoneLarge ) {
            text-align: center;
        }

        @include m( desktopSmall ) {
            max-width: rem(564);
        }
    }

    // .program-header__sub-title
    &__sub-title {
        order: 3;
        margin-top: rem(16);
        font-size: rem(22);
        line-height: 1.4;
        color: var(--color-text-header-subheader);

        @include m( 0, phoneLarge ) {
            text-align: center;
        }

        @include m( desktopSmall ) {
            max-width: rem(564);
        }
    }

    // .program-header__comment
    &__comment {
        order: 4;
        margin-top: rem(8);
        font-size: rem(16);
        line-height: 1.46;
        color: var(--color-text-main);

        @include m( 0, phoneLarge ) {
            text-align: center;
        }

        @include m( desktopSmall ) {
            max-width: rem(564);
        }
    }

    // .program-header__img-wrapper
    &__img-wrapper {
        order: 5;
        width: 100%;
        text-align: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: rem(40);
        max-width: rem(264);

        @include m( phoneLarge ) {
            max-width: rem(347);
        }

        @include m( desktopSmall ) {
            position: absolute;
            margin-top: 0;
            right: rem($wrapperPaddingVal);
        }
    }

    // .program-header__img
    &__img {
        width: 100%;
        height: auto;
    }

    // .program-header__label
    &__label {
        order: 1;
        align-self: flex-start;
    }
}