.tag {
    --tag-bg-color: #ccc;

    font-weight: bold;
    font-size: rem(14);
    line-height: 1.4;
    color: var(--color-text-white);
    padding: rem(4) rem(16);
    border-radius: rem(45);
    user-select: none;
    background-color: var(--tag-bg-color);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;

    // .tag_red
    &_red {
        --tag-bg-color: var(--color-illustrations-red);
    }

    // .tag_green
    &_green {
        --tag-bg-color: var(--color-tags-programs-joint);
    }
}