<template>
  <div>
    about
    <div>
        <b-form-input
          v-model="text"
        />
         {{ text }}
    </div>

    <div>
        <b-button @click="numb++" variant="success">+</b-button> {{ numb }}
    </div>
  </div>
</template>

<script>
export default {
    data() {
        return {
            numb: 1,
            text: '123',
        }
    }
}
</script>