<template>
    <div>
        <b-card class="client-card mb-4">
            <b-row align-v="center">
                <b-col>
                    <h5>Тест</h5>
                    <p class="mb-0"><span class="text-muted">Добавлен:</span> 323433</p>
                </b-col>

                <b-col class="text-center">
                    <b-badge pill variant="outline-light">Черновик</b-badge>
                </b-col>
                <b-col class="text-right">
                </b-col>
            </b-row>
        </b-card>
    </div>
</template>
