<template>
    <b-row>
        <b-col cols="12">
            <breadcrumb :heading="pageTitle" :breadcrumbs="breadcrumbs"/>
            <div class="separator mb-5"></div>
        </b-col>
    </b-row>
</template>

<script>
    export default {
        data() {
            return {
                pageTitle: 'Профиль',
                breadcrumbs: [
                    {
                        text: 'Главная',
                        to: 'home'
                    }, {
                        text: 'Профиль'
                    }
                ],
            }
        },
        computed: {

        },
    }
</script>
