title = "Employee list"
url = "/employee"
layout="main"

[viewBag]
activeMenu = "employee"
==
<?php
    function onStart() {
        $users = \ED\Employee\Models\User::published()
                        ->with([ 'cover' ])
                        ->paginate( 2 );

        $this->page->meta_title = '';
        $this->page->meta_description = '';
        $this->page->meta_keywords = '';

        $this[ 'bread' ]	= [
            [ 'title' => 'Сотрудники', 'url' => \Cms\Classes\Page::url( 'employee/list' ) ],
        ];

        $this[ 'users' ] = $users;
    }
?>
==
<h1>Сотрудники</h1>

<div>
{% for user in users %}
    <a href="{{ user.getUrl() }}">
        <div>{{ user.name }} - {{ user.type_name }}</div>
        <br>
        <div>{{ user.specialization | nl2br }}</div>
    </a>
    <hr>
{% endfor %}
</div>

{{ posts.render|raw }}