title = "Employee user"
url = "/employee/:slug"
layout="main"

[viewBag]
activeMenu = "employee"
==
<?php
    function getItemId( string $slug ) {
        $arr	= explode( '-', $slug );
        return is_numeric( $arr[0] ) ? $arr[0] : false;
    }

    function onStart() {
        $slug	= $this->param( 'slug' );
        $userId	= $this->getItemId( $slug );

        if( !$userId ) {
            $this->setStatusCode( 404 );
            return $this->controller->run( '404' );
        }

        $user = \ED\Employee\Models\User::whereId( $userId )
                        ->published()
                        ->with([ 'cover', 'programs' => function( $q ) {
                            $q->Published();
                        }])
                        ->first();

        if( !$user ) {
            $this->setStatusCode( 404 );
            return $this->controller->run( '404' );
        }

        if ( $user->slug != $slug ) {
            return redirect( $user->getUrl(), 301 );
        }

        $this->page->meta_title = $user->meta_title == '' ? $user->title : $user->meta_title;
        if ( $user->meta_description != '' )
            $this->page->meta_description = $user->meta_description;
        if ( $user->meta_keywords != '' )
            $this->page->meta_keywords = $user->meta_keywords;

        $this[ 'bread' ]	= [
            [ 'title' => 'Сотрудники', 'url' => \Cms\Classes\Page::url( 'employee/list' ) ],
            [ 'title' => $user->name, 'url' => '' ],
        ];

        $this[ 'user' ] = $user;
    }
?>
==
<h1>{{ user.name }}</h1>

{% if post.cover %}
    <img src="{{ user.cover.getPath() }}" alt="{{ user.name }}">
{% endif %}

<div>{{ user.type_name }}</div>
<br>
<div>{{ user.specialization | nl2br }}</div>
<br>

{% if user.text %}
    {{ user.text_html | raw }}
{% endif %}

<ul>
    {% for program in user.programs %}
        <li><a href="{{ program.url }}">{{ program.title }}</a></li>
    {% endfor %}
</ul>