<template x-if="currentSlide == 2">
<div class="quize-block2">
    <div class="container quize-block2__inner">
        <div class="quize-block2__baloon">Узнайте, какая программа подходит именно вам</div>
        <div class="quize-block2__text">Найдите лучший баланс, нарастите силу и уменьшите боль с помощью простых онлайн-тренировок, персонализированных для вас</div>

        <div
            class="quize-block2__bg"
            style="background-image: url({{ 'assets/img/quize/block1/bg@x2.png' | theme }});"
        ></div>

        <div class="quize-block2__btn-wrap">
            <button
                class="quize-block2__btn btn-blue"
                type="button"
                @click="nextSlide()"
            >Начать</button>
        </div>
    </div>
</div>
</template>