<template x-if="currentSlide == 4">
<div class="common-block quize-block4">
    <div class="common-block__inner">
        <div class="common-block__header">
            <div class="common-block__title">Введите последние 4 цифры номера звонка - сброса</div>
            <div class="common-block__text">Сейчас вам позвонит неизвестный номер. Вам не надо брать трубку, просто запомните последние 4 цифры и напишите их в поле ниже</div>
        </div>

        <div class="common-block__content">
            <div class="quize-block4__inputs">
                {% for i in 1..4 %}
                <input
                    type="number"
                    class="quize-block4__input"
                    placeholder="X"
                    x-model="input{{ loop.index }}"
                    min="1"
                    max="1"
                    x-ref="input{{ loop.index }}"
                    @input="input({{ loop.index }})"
                >
                {% endfor %}
            </div>
        </div>

        <img
            class="common-block__img common-block__img_shift"
            src="{{ 'assets/img/quize/4.png' | theme }}"
            alt=""
        >
    </div>
</div>
</template>