<template x-if="currentSlide == 1">
<div class="quize-block1">
    <div class="container quize-block1__inner">
        <div class="quize-block1__title">Узнайте, какая программа подходит именно <span class="quize-block1__mark">вам</span></div>
        <div class="quize-block1__text">Найдите лучший баланс, нарастите силу и уменьшите боль с помощью простых онлайн-тренировок, персонализированных для вас</div>

        <div
            class="quize-block1__bg"
            style="background-image: url({{ 'assets/img/quize/block1/bg@x2.png' | theme }});"
        ></div>

        <div class="quize-block1__btn-wrap">
            <button
                class="quize-block1__btn btn-blue"
                type="button"
                @click="nextSlide()"
            >Начать</button>
        </div>
    </div>
</div>
</template>