<template x-if="currentSlide == 6">
<div class="common-block">
    <div class="common-block__inner">
        <div class="common-block__header">
            <div class="common-block__title">Как вас зовут?</div>
            <div class="common-block__text">Всегда приятнее называть человека по имени. Просим вас представиться ниже</div>
        </div>

        <div class="common-block__content">
            <div class="common-block__row">
                <input class="input common-block__input" type="text" placeholder="Ваш возраст">
            </div>

            <div class="common-block__row">
                <input class="input common-block__input" type="text" placeholder="Ваш рост">
            </div>

            <div class="common-block__row">
                <input class="input common-block__input" type="text" placeholder="Ваш вес">
            </div>
        </div>

        <img
            class="common-block__img"
            src="{{ 'assets/img/quize/6.png' | theme }}"
            alt=""
        >

        <div class="common-block__footer">
            <button
                class="btn-clear"
                type="button"
                @click="prevSlide()"
            >
                <svg class="btn-clear__icon" height="9" version="1.1" viewBox="0 0 50 50" width="9" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"><path fill="none" d="M0 0h50v50H0z"/><path d="m35 47.25 2.086-2.086L16.922 25 37.086 4.836 35 2.75 12.75 25z"/><path fill="none" d="M0 0h50v50H0z"/></svg>
                <span class="btn-clear__text">Назад</span>
            </button>

            <!-- <button
                class="btn-blue btn-blue_small"
                type="button"
                @click="nextSlide()"
            >Далее</button> -->
        </div>
    </div>
</div>
</template>