<template x-if="currentSlide == 3">
<div class="common-block quize-block3">
    <div class="common-block__inner">
        <div class="common-block__header">
            <div class="common-block__title">Познакомимся поближе?</div>
            <div class="common-block__text">Чтобы мы могли отправить вам персональную программу и бесплатно проконсультировать, напишите, пожалуйста, ниже ваш номер телефона</div>
        </div>

        <div class="common-block__content">
            <div class="common-block__row">
                <input
                    type="text"
                    class="input common-block__input"
                    placeholder="+7 ___-___-__-__"
                >
            </div>

            <div class="common-block__row">
                <button
                    class="btn-blue btn-blue_small common-block__btn"
                    type="button"
                    @click="nextSlide()"
                >Подтвердить телефон</button>
            </div>
        </div>

        <img
            class="common-block__img common-block__img_shift"
            src="{{ 'assets/img/quize/3.png' | theme }}"
            alt=""
        >
    </div>
</div>
</template>