html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

input {
  margin: 0;
}

* {
    box-sizing: border-box;
//     outline: none;

//     &:focus {
//         box-shadow: 0 0 0 rem( $focusWidth ) var( --focusColor );
//     }
// }

// .js-focus-visible :focus:not(.focus-visible) {
//     box-shadow: none;
}

html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	min-height: 100%;
	color: var(--color-text-main);
	background-color: var(--color-bg-beige-light);
	font-family: font(default);
	font-size: $baseFontSize;
	font-weight: $baseFontWeight;
	line-height: $baseLineHeight;
}

.clear-button, button {
    @include clear-button;
    cursor: pointer;
}

.visuallyhidden {
    @include visuallyhidden();
}

[x-cloak] {
    display: none;
}

img {
    max-width: 100%;
}

button * {
    pointer-events: none;
}