.btn-filters-mobile {
    padding: rem(10) rem(24);
    background-color: var(--color-bg-white);
    border: 1px solid var(--color-border);
    font-size: rem(16);
    line-height: 1.46;
    color: var(--color-text-main);
    display: flex;
    align-items: center;
    border-radius: rem(30);

    // .btn-filters-mobile__text
    &__text {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    // .btn-filters-mobile__bage
    &__bage {
        flex-shrink: 0;
        font-size: rem(14);
        line-height: 1.4;
        color: var(--color-text-white);
        background-color: var(--color-primary-50);
        width: rem(25);
        height: rem(25);
        border-radius: 50%;
        display: inline-flex;
        align-items: center;justify-content: center;
        margin-left: rem(7);
        margin-right: rem(7);
    }
    
    // .btn-filters-mobile__icon
    &__icon {
        margin-left: auto;
        flex-shrink: 0;
        color: var(--color-text-additional);
    }
}