.notifications {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: z(notifications);

    // .notifications__item
    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        color: var( --notificationsColor, gray );
        background-color: var( --notificationsBg,#fff );
        padding-top: rem(12);
        padding-bottom: rem(12);
        margin-bottom: rem(2);
        opacity: 0;
        transition: opacity .3s linear;
        font-weight: 600;
        @include fs( 16, 24 );

        // .notifications__item_show
        &_show {
            opacity: .9;
        }

        // .notifications__item_danger
        &_danger {
            --notificationsBg: red;
            --notificationsColor: #fff;
        }

        // .notifications__item_success
        &_success {
            --notificationsBg: green;
            --notificationsColor: #fff;
        }

        // .notifications__item_warning
        &_warning {
            --notificationsBg: orange;
            --notificationsColor: #fff;
        }
    }

    // .notifications__col-icon
    &__col-icon {
        margin-right: rem(4);
    }

    // .notifications__icon
    &__icon {
        display: block;
    }

    // .notifications__col-text
    &__col-text {
    }

    // .notifications__col-link
    &__col-link {
        margin-left: rem(12);
    }
}