.online-program {
    // .online-program__inner
    &__inner {
        @include m( pad ) {
            display: grid;
            column-gap: rem(20);
            grid-template-columns: 1fr 1fr;
        }
    }

    // .online-program__title-wrap
    &__title-wrap {
        @include m( pad ) {
            align-self: flex-start;
            position: sticky;
            top: rem(90);
        }
    }

    // .online-program__title
    &__title {
        @include m( 0, pad ) {
            text-align: center;
        }
    }

    // .online-program__sub-title
    &__sub-title {
        margin-top: rem(16);
        font-size: rem(22);
        line-height: 1.4;
        color: var(--color-text-header-subheader);

        @include m( 0, pad ) {
            text-align: center;
        }

        @include m( desktopSmall ) {
            font-size: rem(26);
            line-height: 1.34;
        }

        @include m( pad ) {
            font-size: rem(24);
        }
    }

    // .online-program__list
    &__list {
        counter-reset: list;

        @include m( 0, pad ) {
            margin-top: rem(50);
        }

        @include m( pad ) {
            margin-top: rem(36);
        }
    }

    // .online-program__item
    &__item {
        --number-rotate: initial;

        &:nth-child(odd) {
            --number-rotate: rotate(-5.55deg);
        }

        &:nth-child(even) {
            --number-rotate: rotate(5.55deg);
        }

        &:not(:first-child) {
            margin-top: rem(30);
        }
    }

    $iconSize: rem(50);
    $iconGap: rem(16);

    // .online-program__item-title
    &__item-title {
        position: relative;
        padding-left: $iconSize + $iconGap;
        font-weight: 700;
        font-size: rem(20);
        line-height: 1.34;
        color: var(--color-text-header-subheader);
        min-height: $iconSize;
        display: flex;
        align-items: center;

        &::before {
            content: counter(list);
            counter-increment: list;
            display: flex;
            align-items: center;
            justify-content: center;
            background-image: url("data:image/svg+xml,%3Csvg width='50' height='50' viewBox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M40.877 13.222c-1.746-2.79-4.365-5.056-8.032-6.8C23.592 2.238 9.973-.203 3.513 9.735v.174c-.873.698-1.571 1.744-1.571 2.964-3.318 7.846-2.27 17.436 2.27 24.584 2.618 4.01 6.285 7.149 10.475 9.241 1.397.872 2.794 1.743 4.19 2.267 2.62 1.046 5.064 1.22 7.159.871 2.619.175 5.063.175 7.682-.174 11-1.57 15.714-12.728 16.238-22.84.523-6.452-3.667-10.985-9.08-13.6Zm-22.349-1.57v-.348c0-.349 0-.697-.174-1.046.873 0 1.746 0 2.619.174-.873.175-1.746.523-2.445 1.22Zm-1.396 28.072c-.524-.523-1.048-.872-1.397-1.57.35.175.698.35 1.222.524a9.346 9.346 0 0 0 2.619 2.615c-.175 0-.35-.174-.524-.174-.698-.35-1.222-.872-1.92-1.395Zm19.904 1.395c1.047-1.744 2.095-3.662 2.968-5.58.698-.174 1.222-.523 1.571-1.22l-1.047 2.615a11.81 11.81 0 0 1-3.492 4.185Zm5.237-8.544v-.348c0-.698 0-1.395-.174-2.093.35-1.22.698-2.266.873-3.487.175 2.092-.175 4.01-.699 5.928Z' fill='%23FEE9E0'/%3E%3C/svg%3E");
            color: var(--color-illustrations-red);
            transform: var(--number-rotate);
            font-weight: bold;
            font-size: rem(26);
            position: absolute;
            left: 0;
            top: rem(2);
            width: $iconSize;
            height: $iconSize;
        }
    }

    // .online-program__item-subtitle
    &__item-subtitle {
        margin-top: rem(16);
        font-weight: 400;
        font-size: rem(16);
        line-height: 1.46;
        color: var(--color-text-main);
    }

    // .online-program__btn
    &__btn {
        position: relative;

        @include m( 0, pad ) {
            margin-left: auto;
            margin-right: auto;
            margin-top: rem(20);
        }

        @include m( pad ) {
            margin-top: rem(50);
        }
    }
}