.logos {
    background-color: #fff;
    padding-top: rem(20);
    padding-bottom: rem(20);

    --carousel-overflow-x: auto;
    --carousel-navs-display: none;

    &_inited {
        --carousel-overflow-x: hidden;
        --carousel-navs-display: flex;
    }

    // .logos__title {
    &__title {
        text-align: center;
    }

    // .logos__sub-title {
    &__sub-title {
        margin-top: rem(10);
        text-align: center;
    }

    // .logos__scroll-legend
    &__scroll-legend.carousel-scroll-legend {
        margin-top: rem(60);

        @include m( logosCarouselSwitch ) {
            display: none;
        }
    }

    // .logos__carousel {
    &__carousel {
        margin-top: rem(20);
        @include scrollbars;

        @include m(0, logosCarouselSwitch) {
            overflow-y: hidden;
            overflow-x: var(--carousel-overflow-x);
        }
    }

    // .logos__carousel-inner {
    &__carousel-inner {
        display: flex;

        @include m(logosCarouselSwitch) {
            flex-wrap: wrap;
        }
    }

    // .logos__carousel-slide {
    &__carousel-slide {
        flex-shrink: 0;

        @include m(0, logosCarouselSwitch) {
            & + & {
                margin-left: rem(20);
            }
        }

        @include m(logosCarouselSwitch) {
            & + & {
                margin-right: rem(30);
                margin-bottom: rem(30);
            }
        }
    }

    // .logos__carousel-slide-link {
    &__carousel-slide-link {
    }

    // .logos__carousel-slide-img {
    &__carousel-slide-img {
        height: rem(100);
        width: auto;
        filter: grayscale(0);
        transition: filter .3s linear;

        &:hover {
            filter: grayscale(1);
        }
    }
}
