<template>
    <div class="h-100">
        <component :is="layout">
            <router-view/>
        </component>
    </div>
</template>

<script>
    import AccountLayout from '@/layouts/AccountLayout';
    import PublicLayout from '@/layouts/PublicLayout';

    export default {
        beforeMount() {
            document.body.classList.add('rounded');
        },
        computed: {
            layout() {
                const auth = this.$route?.meta?.auth || false;
                return auth ? AccountLayout : PublicLayout;
            }
        }
    }
</script>
