<div class="carousel-scroll-legend {{ css }}">
    {%
        partial 'components/icon'
        width="20"
        height="20"
        css="carousel-scroll-legend__icon carousel-scroll-legend__icon_first"
        icon="arrow-left-bread"
    %}
    {%
        partial 'components/icon'
        width="20"
        height="20"
        css="carousel-scroll-legend__icon carousel-scroll-legend__icon_second"
        icon="arrow-left-bread"
    %}

    <span class="carousel-scroll-legend__text">Листайте</span>

    {%
        partial 'components/icon'
        width="20"
        height="20"
        css="carousel-scroll-legend__icon carousel-scroll-legend__icon_second"
        icon="arrow-right-bread"
    %}
    {%
        partial 'components/icon'
        width="20"
        height="20"
        css="carousel-scroll-legend__icon carousel-scroll-legend__icon_first"
        icon="arrow-right-bread"
    %}
</div>