{% set tabName = 'tab' ~ tabId %}
{% set modalId = 'price-modal-' ~ random() %}

{%
    set formFields = {
        name: {
            type: 'text',
            label: 'Ваше имя',
            name: 'name',
            id: 'input-name-' ~ random(),
            validationName: 'name',
            placeholder: 'Ваше имя',
        },
        phone: {
            type: 'tel',
            label: 'Телефон',
            name: 'contacts[phone]',
            id: 'input-phone-' ~ random(),
            validationName: 'contacts.phone',
            placeholder: 'Телефон',
        },
        mail: {
            type: 'email',
            label: 'Ваш Email',
            name: 'contacts[mail]',
            id: 'input-phone-' ~ random(),
            validationName: 'contacts.mail',
            placeholder: 'Ваш Email',
        }
    }
%}

{% if item.old_price %}
    <s class="price__item-old-price">{{ item.old_price | price }} ₽</s>
{% endif %}

<div class="price__item-price">{{ item.price | price }} ₽</div>
<div class="price__item-price-comment">{{ item.price_comment }}</div>

<ul class="price__options-list">
    {% for option in item.options %}
    <li class="price__options-item {{ option.checked ? 'price__options-item_active' }}">
        {%
            partial 'components/icon'
            icon="bullet"
            width="12"
            height="13"
            css="price__options-item-bullet"
        %}

        {{ option.text }}
    </li>
    {% endfor %}
</ul>

<div class="price__btn-wrap">
    <button
        type="button"
        class="round-button price__btn js-price-modal"
        data-id="#{{ modalId }}"
    >
        {{ data.btn_text | nl2br | default('Купить') | raw }}
    </button>
</div>

<template id="{{ modalId }}">
    <div class="modal-form__header">
        <button
            type="button"
            aria-label="Закрыть окны"
            data-close
            class=""
        >
            {%
                partial 'components/icon'
                icon="close"
                width="24"
                height="24"
            %}
        </button>
    </div>

    <div class="modal-form__content">
        <div class="price-modal">
            <div class="price-modal__area-info">
                <div class="price-modal__info">
                    <div class="price-modal__info-title">Тариф "{{ title }}": {{ item.title }}</div>
                    {% if item.text %}
                    <div class="price-modal__info-text">{{ item.text }}</div>
                    {% else %}
                    <ul class="price__options-list price-modal__info-list">
                        {% for option in item.options %}
                        <li class="price__options-item {{ option.checked ? 'price__options-item_active' }}">
                            {%
                                partial 'components/icon'
                                icon="bullet"
                                width="12"
                                height="13"
                                css="price__options-item-bullet"
                            %}
    
                            {{ option.text }}
                        </li>
                        {% endfor %}
                    </ul>
                    {% endif %}

                    <div class="price-modal__info-price">{{ item.price | price }} ₽</div>
                </div>
            </div>

            <div class="price-modal__area-form">
                <form
                    id="{{ modalId }}-form"
                    data-requestx="Form::onSubmit"
                    data-redirect="{{ item.redirect_url | default('') }}"
                    action=""
                    method="post"
                >
                    <div class="form-row">
                        {% partial 'components/form/form-field' options=formFields.name %}
                    </div>

                    <div class="form-row">
                        {% partial 'components/form/form-field' options=formFields.phone %}
                    </div>

                    <div class="form-row">
                        {% partial 'components/form/form-field' options=formFields.mail %}
                    </div>

                    <div class="form-row" style="font-size: 12px;">
                        Оставляя почту, вы соглашаетесь с <a class="link" title="Политика в отношении обработки персональных данных" href="/politika-konfidencialnosti">Политикой конфиденциальности</a>
                    </div>

                    <input type="hidden" name="type" value="1">
                    <input type="hidden" name="privacy" value="1">
                    <input type="hidden" name="data[type]" value="Тариф {{ title }}: {{ item.title }}">
                    <input type="hidden" name="data[price_code]" value="{{ item.price_code }}">

                    <div class="form-row form-row_btns">
                        <button
                            form="{{ modalId }}-form"
                            type="submit"
                            class="button-secondary"
                        >Отправить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>