.price-simple {
    $mobileSwitch: #{ screen(pad) };
    // --btn-size: #{ rem(160) };
    --btn-size: #{ rem(116) };
    --btn-border: #{ rem(22) };
    --inner-padding-top: #{ rem(40) };

    position: relative;

    @include m($mobileSwitch) {
        // --btn-size: #{ rem(184) };
        --btn-size: #{ rem(140) };
        --inner-padding-top: #{ rem(40) };
    }

    &::before {
        content: '';
        background-color: var(--color-bg-peach);
        display: block;
        pointer-events: none;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        bottom: calc( var(--btn-size) / 2 );
        position: absolute;

        @include m( desktopSmall ) {
            background-image: url( $componentsImgPath + '/price-simple/bg-left.svg' ), url( $componentsImgPath + '/price-simple/bg-right.svg' );
            background-size: contain, rem(207) rem(427);
            background-position: left top, right top rem(46);
            background-repeat: no-repeat;
        }
    }

    // .price-simple__inner
    &__inner {
        padding-top: var(--inner-padding-top);
        position: relative;
        z-index: 2;
    }

    // .price-simple__title
    &__title {
        text-align: center;
    }

    // .price-simple__form
    &__form {
        margin-top: rem(50);
        display: grid;
        max-width: rem(906);
        margin-left: auto;
        margin-right: auto;

        grid-template-areas: "options" "inputs" "submit";
        column-gap: rem(30);

        @include m( $mobileSwitch ) {
            grid-template-areas: "options inputs" "submit submit";
            grid-template-columns: repeat(2, 1fr);
        }
    }

    // .price-simple__col-options
    &__col-options {
        grid-area: options;
    }

    // .price-simple__input
    &__input {
    }

    // .price-simple__option
    &__option {
        --border-color: var(--color-bg-white);
        --option-border-color: var(--color-text-additional);
        --option-bg-color: var(--color-bg-beige-light);
        --option-center-color: transparent;
        --option-bg: none;
        --option-padding-right: #{ rem(30) };

        position: relative;
        cursor: pointer;

        &::after {
            content: '';
            display: block;
            pointer-events: none;
            background-image: url( $componentsImgPath + '/price-simple/coins.svg' );
            background-position: right center;
            background-size: contain;
            width: rem(87);
            height: rem(85);
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: rem(40);

            @include m( 0, phoneLarge ) {
                display: none;
            }

            @include m( pad, desktopSmall ) {
                display: none;
            }
        }

        @include m( phoneLarge ) {
            --option-padding-right: #{ rem(160) };
        }

        @include m( pad ) {
            --option-padding-right: #{ rem(30) };
        }

        @include m( desktopSmall ) {
            --option-padding-right: #{ rem(190) };
        }

        @include m( desktopLarge ) {
            --option-padding-right: #{ rem(172) };
        }

        &:not(:nth-child(2)) {
            margin-top: rem(20);
        }

        background: var(--color-bg-white);
        border: rem(1) solid var(--border-color);
        border-radius: rem(16);
        display: block;

        padding-top: rem(20);
        padding-bottom: rem(20);
        padding-left: rem(48);
        padding-right: var(--option-padding-right);
        position: relative;

        &:before {
            $size: rem(16);
            content: '';
            display: block;
            position: absolute;
            left: rem(20);
            top: rem(25.5);
            width: $size;
            height: $size;

            border-radius: 50%;
            background-repeat: no-repeat;
            background-position: center;
            background-image: radial-gradient(circle closest-side, var(--option-center-color) 4px, white 4px, white 7px, var(--option-border-color) 7px);
            transition: background-image .3s linear;
        }
    }

    &__input:checked + &__option {
        --border-color: var(--color-primary-50);
        --option-border-color: var(--color-primary-50);
        --option-center-color: var(--color-primary-50);
        --option-bg-color: var(--color-text-additional);
        --option-bg: radial-gradient(circle at center, var(--option-border-color), var(--option-border-color));
    }

    // .price-simple__option-title
    &__option-title {
        font-weight: 700;
        font-size: rem(20);
        line-height: 1.34;
        color: var(--color-text-header-subheader);
    }

    // .price-simple__option-price-wrap
    &__option-price-wrap {
        display: flex;
        align-items: center;
        margin-top: rem(4);
    }

    // .price-simple__option-price
    &__option-price {
        font-weight: 700;
        font-size: rem(22);
        line-height: 1.4;
        color: var(--color-secondary-main);
        white-space: nowrap;
    }

    // .price-simple__option-price-old
    &__option-price-old {
        margin-left: rem(12);
        white-space: nowrap;

        font-weight: 400;
        font-size: rem(26);
        line-height: 1.34;
        // text-decoration-line: line-through;
        color: var(--color-text-additional);
        opacity: 0.5;
    }

    // .price-simple__option-discount-comment
    &__option-discount-comment {
        display: none;
        margin-left: rem(4);
    }

    // .price-simple__option-comment
    &__option-comment {
        margin-top: rem(3);
        font-size: rem(14);
        line-height: 1.4;
        color: var(--color-text-additional);

        span {
            font-weight: 700;
            color: var(--color-secondary-main);
        }
    }

    // .price-simple__option-comment-selected
    &__option-comment-selected {
        color: var(--color-secondary-main);
        font-weight: 700;
    }

    // .price-simple__option-percent
    &__option-percent {
        background-image: url( $componentsImgPath + '/price-simple/percent.svg' );;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        width: rem(53);
        height: rem(56);
        font-style: normal;
        font-weight: 700;
        font-size: rem(16);
        line-height: 1.46;
        color: var(--color-text-white);
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        right: rem(16);
        top: rem(-7);
        z-index: 5;
        transform: rotate(23.03deg);
        pointer-events: none;
    }

    // .price-simple__inputs
    &__inputs {
        margin-top: rem(40);

        @include m( $mobileSwitch ) {
            margin-top: 0;
            grid-area: inputs;
        }
    }

    // .price-simple__wrap
    &__wrap {
    }

    // .price-simple__label
    &__label {
        --tag-bg-color: var(--color-secondary-main);
        display: inline-block;
    }

    // .price-simple__comment
    &__comment {
        margin-top: rem(12);
        font-weight: 700;
        font-size: rem(22);
        line-height: 1.4;
        color: var(--color-text-main);

        span {
            color: var(--color-secondary-main);
        }
    }

    // .price-simple__form-row
    &__form-row {
        margin-top: rem(16);

        &:first-child {
            margin-top: rem(24);
        }
    }

    // .price-simple__privacy
    &__privacy {
        margin-top: rem(20);
        font-weight: 400;
        font-size: rem(14);
        line-height: 1.36;
        color: var(--color-text-additional);

        a {
            color: var(--color-system-info);
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    // .price-simple__submit-wrap
    &__submit-wrap {
        margin-top: rem(50);
        display: flex;
        justify-content: center;
        grid-area: submit;
    }

    // .price-simple__bg-round
    &__bg-round {
        width: calc(var(--btn-size) + var(--btn-border) * 2);
        height: calc(var(--btn-size) + var(--btn-border) * 2);
        background-color: var(--color-bg-beige-light);
        border-radius: 50%;
        position: absolute;
        left: 50%;
        bottom: calc( var(--btn-border) * -1 );
        transform: translateX(-50%);
        z-index: -1;
        clip-path: inset(0 0 50% 0);
    }

    // .price-simple__submit
    &__submit {
        width: var(--btn-size);
        height: var(--btn-size);
        background-color: var(--color-primary-50);
        border-radius: 50%;
        // border: var(--btn-border) solid var(--color-bg-white);

        box-shadow: 0 0 0 0 rgba(90, 153, 212, 0.5);
        animation: pulse 1.5s infinite;

        font-weight: 700;
        font-size: rem(14);
        line-height: 1.4;
        letter-spacing: 0.03em;
        color: var(--color-text-white);
        display: inline-flex;
        align-items: center;
        justify-content: center;
        position: relative;
        margin-left: auto;
        margin-right: auto;
    }
}