<div clasa="form-field">
    {% if options.type not in [ 'checkbox', 'switch' ] %}
    <div class="form-field__label">
        <label
            class="form-field__label"
            for="{{ options.id }}"
        >{{ options.label | raw }}</label>
    </div>
    {% endif %}

    <div class="form-field__control-wrap">
        {% if options.type in [ 'text', 'tel', 'email' ] and options.icon is not defined %}
            <input
                class="input"
                id="{{ options.id }}"
                type="{{ options.type }}"
                name="{{ options.name }}"
                placeholder="{{ options.placeholder }}"
            >
        {% endif %}

        {% if options.type in [ 'text', 'tel', 'email' ] and options.icon is defined %}

                <input
                    class="input-with-icon input-with-icon_{{ options.icon }}"
                    id="{{ options.id }}"
                    type="{{ options.type }}"
                    name="{{ options.name }}"
                    placeholder="{{ options.placeholder }}"
                >
        {% endif %}

        {% if options.type in [ 'switch' ] %}
        <label for="{{ options.id }}">
            <label class="switch">
                <input
                    name="{{ options.name }}"
                    class="switch__input"
                    type="checkbox"
                    id="{{ options.id }}"
                    value="1"
                    checked
                >
                <span class="switch__box"></span>
                <span class="switch__label">{{ options.label | raw }}</span>
            </label>
        </label>
        {% endif %}
    </div>

    <div
        class="form-field__error"
        data-validation-error="{{ options.validationName }}"
    ></div>
</div>