<label class="radio">
    <input
        name="{{ name }}"
        class="radio__input"
        type="radio"
        id="{{ name }}-{{ formId }}"
        value="{{ value }}"
        {{ checked ? 'checked' }}
    >

    <span class="radio__box"></span>
    <span class="radio__label">{{ label | raw }}</span>
</label>