<label class="switch">
    <input
        name="{{ name }}"
        class="switch__input"
        type="checkbox"
        id="{{ name }}-{{ formId }}"
        value="{{ value }}"
        {{ checked ? 'checked' }}
    >

    {% if pos == "left" %}
        <span class="switch__box"></span>
    {% endif %}

    <span class="switch__label">{{ label | raw }}</span>
    {% if pos == "right" %}
        <span class="switch__box"></span>
    {% endif %}
</label>