.page-blog-list {
    @include m( desktopLarge ) {
        background-repeat: no-repeat;
        background-position: left center;
        background-image: url( $componentsImgPath + '/page-blog-list/bg.svg' );
    }

    // .page-blog-list__category-block
    &__category-block {
        & + & {
            margin-top: rem(50);
        }
    }

    // .page-blog-list__category-header
    &__category-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    // .page-blog-list__category-title
    &__category-title {
        font-weight: bold;
        font-size: rem(26);
        line-height: 1.34;
        color: var(--color-text-header-subheader);
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;

        min-height: rem(36);
        padding-right: rem(58) + rem(8);
        background-repeat: no-repeat;
        background-position: center right;
        background-size: contain;
    }

    // .page-blog-list__category-link
    &__category-link {

    }

    // .page-blog-list__category-list
    &__category-list {
        display: grid;
        column-gap: rem(30);
        grid-template-columns: repeat(3, 1fr);
        margin-top: var(--posts-margin-top);
    }
}