<div class="blog-anons-post {{ css }}">
    <a class="blog-anons-post__link" href="{{ item.getUrl() }}" title="{{ item.title }}" aria-label="{{ item.title }}">
        <span class="visuallyhidden"{{ item.title }}>{{ item.title }}</span>
    </a>
    <div class="blog-anons-post__area-img">
        {% if item.tag %}
        <div>{{ item.tag }}</div>
        {% endif %}

        {#
        {% if backLogin %}
        <a
            target="_blank"
            href="/backend/ed/blog/post/update/{{ item.id }}"
            class="blog-anons-post__edit"
        >Ред.</a>
        {% endif %}
        #}

        {% if item.cover %}
            {%
                set pictureData = {
                    img		: item.cover.getPath(),
                    formats	: [ 'webp', 'jpg' ],
                    quality	: 90,
                    mode	: 'fit',
                    css		: 'blog-anons-post__img',
                    alt		: item.title,
                    sizes : [
                        {
                            width : 370,
                            height : 200,
                        }
                    ]
                }
            %}
            {% partial 'components/picture' data=pictureData %}
        {% endif %}
    </div>

    <div class="blog-anons-post__area-content">
        <div class="blog-anons-post__date">{{ item.date | date( 'd.m.Y' ) }}</div>
        <div class="blog-anons-post__views">
            {%
                partial 'components/icon'
                icon="eye"
                width="16"
                height="16"
                css="blog-anons-post__views-icon"
            %}

            {{ item.views }}
        </div>
        <div class="blog-anons-post__content">
            <div class="blog-anons-post__title">{{ item.title }}</div>
            <div class="blog-anons-post__text">{{ item.anons }}</div>
        </div>
    </div>
</div>