<div class="blog-anons-list {{ css }} js-blog-anons">
    <h2 class="h2 blog-anons-list__title">Мы ведём полезный блог</h2>

    {% partial 'components/carousel-scroll-legend' css="blog-anons-list__scroll-legend" %}

    <div class="blog-anons-list__carousel js-carousel">
        <div class="blog-anons-list__list js-wrapper">
            {% for item in list %}
                {%
                    partial 'blocks/blog/anons-post'
                    item=item
                    css="blog-anons-list__item js-slide"
                %}
            {% endfor %}
        </div>
    </div>

    <ul class="blog-anons-list__pagination js-pagination"></ul>

    <div class="blog-anons-list__more-wrapper">
        <a class="button-tertiary" href="{{ 'blog/list' | page }}">
            <span class="button-tertiary__text">Читать ещё статьи</span>
            {%
                partial 'components/icon'
                css="button-tertiary__icon"
                width="35"
                height="24"
                icon="arrow-right"
            %}
        </a>
    </div>
</div>