==
<?php
    function onStart() {
        $categories = \ED\Blog\Models\Category::published()
                                            ->whereHas( 'posts', function( $q ) {
                                                $q->published();
                                            })
                                            ->get();
        $this[ 'categories' ] = $categories;
    }
?>
==
<div class="container layout-with-sidebar">
    <div class="h1 layout-with-sidebar__area-title">{{ title | default('Блог' )}}</div>

    {% if subtitle is defined %}
    <h1 class="layout-with-sidebar__area-subtitle">{{ subtitle }}</h1>
    {% endif %}

    <div class="layout-with-sidebar__area-content">
        {{ body|raw }}
    </div>

    <div class="layout-with-sidebar__area-search">

        <button class="layout-with-sidebar__btn-mobile-search js-toggle-search" type="button" aria-label="Найти">
            {%
                partial 'components/icon'
                width="24"
                height="24"
                icon="search"
            %}
        </button>

        <form action="/search" class="form-search layout-with-sidebar__search-form">
            <h2 class="h1 form-search__title">Поиск</h2>

            <button type="button" aria-label="Поиск" class="form-search__btn-close js-toggle-search">
                {%
                    partial 'components/icon'
                    width="24"
                    height="24"
                    icon="close"
                %}
            </button>

            <div class="form-search__area-input">
                <input class="form-search__input" type="text" name="q">
            </div>

            <div class="form-search__area-btns">
                <button class="form-search__btn-clear" type="reset">Очистить</button>

                <button class="form-search__btn-submit" type="submit" aria-label="Найти">
                    {%
                        partial 'components/icon'
                        width="24"
                        height="24"
                        icon="search"
                    %}

                    <span class="form-search__btn-submit-text">Найти</span>
                </button>
            </div>
        </form>

        {#
        <form action="/search" class="form-search layout-with-sidebar__search-form">
            <input class="form-search__input" type="text" name="q">

            <button class="form-search__submit" type="submit" aria-label="Найти">
                {%
                    partial 'components/icon'
                    width="24"
                    height="24"
                    icon="search"
                %}
            </button>
        </form>
        #}
    </div>

    <div class="layout-with-sidebar__area-sidebar js-sidebar">
        <nav class="blog-categories">
            <ul class="blog-categories__list">
                {% for category in categories %}
                <li class="blog-categories__item">
                    <a
                        class="blog-categories__link"
                        href="{{ category.getUrl() }}"
                        style="background-image: url({{ category.icon.getPath() }});"
                    >
                        {{ category.name }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </nav>
    </div>
</div>