title = ""
url = "/tets-blocks"

[viewBag]
==
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0:300,0,400;0,700;1,800&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="stylesheet" href="{{ 'assets/css/quize.css' | theme }}">
</head>
<body x-data="quize">
    {% partial 'blocks/quize/block1.htm' %}
    {% partial 'blocks/quize/block2.htm' %}
    {% partial 'blocks/quize/block3.htm' %}
    {% partial 'blocks/quize/block4.htm' %}
    {% partial 'blocks/quize/block5.htm' %}
    {% partial 'blocks/quize/block6.htm' %}

    <script src="{{ 'assets/js/quize.js' | theme }}"></script>
</body>
</html>