==
<?php
    function onStart(){
        $imgPath = '/themes/easydoo/assets/img/dev/exercise/';

        $this['tab1'] = [
            [
                'icon' => $imgPath . 'icon1.svg',
                'title' => 'Сроки восстановления и реабилитации',
                'text' => 'Упражнения являются одним из наиболее эффективных методов в профилактике заболеваний ОДА и суставов, а также необходимым методом в до/после операционной реабилитации.',
            ], [
                'icon' => $imgPath . 'icon2.svg',
                'title' => 'Риски падений, травм и переломов',
                'text' => 'После 50 лет мы теряем до 30% мышечной массы, а каждый 3-й взрослый ежегодно падает. Регулярные упражнения на баланс, координацию и силу помогут снизить риск падений на 43%.',
            ], [
                'icon' => $imgPath . 'icon3.svg',
                'title' => 'Риски заболеваний сердца и не только',
                'text' => 'У физически активных людей снижается риск развития сердечно-сосудистых заболеваний, инсульта, астмы, диабета второго типа и многих видов рака. В частности, из-за снижения веса.',
            ], [
                'icon' => $imgPath . 'icon4.svg',
                'title' => 'Острую и хроническую боль',
                'text' => 'Упражнения помогают эффективно бороться с причинами острых и хронических болей. Умеренный спорт должен присутствовать в вашей жизни регулярно.',
            ],
        ];

        $this['tab2'] = [
            [
                'icon' => $imgPath . 'icon5.svg',
                'title' => 'Силу, чувство равновесия и энергию',
                'text' => 'Физические упражнения способствуют увеличению энергии, особенно если человек страдает от хронической усталости. Также при регулярных занятиях вы станете сильнее и выносливее.',
            ], [
                'icon' => $imgPath . 'icon6.svg',
                'title' => 'Уровень счастья',
                'text' => 'Физические упражнения позволяют получить дозу гормонов удовольствия, а также способствуют максимальному расслаблению и умиротворению.',
            ], [
                'icon' => $imgPath . 'icon7.svg',
                'title' => 'Продолжительность жизни',
                'text' => 'Физическая активность делает организм более здоровым и выносливым, а также предотвращает риски падений с последующими травмами, что влияет на качество и продолжительность жизни.',
            ], [
                'icon' => $imgPath . 'icon8.svg',
                'title' => 'Работу мозга и память',
                'text' => 'Упражнения помогают эффективно бороться с причинами острых и хронических болей. Умеренный спорт должен присутствовать в вашей жизни регулярно.',
            ],
        ];
    }
?>
==
<section class="exercise page-index__exercise">
    <div class="container exercise__inner">
        <h2 class="h2 exercise__title">Простые упражнения для активной жизни</h2>
        <p class="exercise__sub-title">Для тех, кто не гонится за спортивными рекордами, но хочет быть в хорошей форме</p>

        <div class="exercise__tabs js-exercise-tabs">
            <ul class="exercise__tabs-list">
                <li data-control="panel1" class="exercise__tab exercise__tab_active js-tab">Помогаем снизить</li>
                <li data-control="panel2" class="exercise__tab js-tab">Помогаем повысить</li>
            </ul>

            <div class="exercise__panels">
                <div id="panel1" class="exercise__panel exercise__panel_active js-panel">
                    <div class="exercise__list">
                        {% for item in tab1 %}
                        <div class="exercise__list-item">
                            <h3 class="h3 exercise__list-title" style="background-image: url({{ item.icon }});">
                                {{ item.title }}
                            </h3>
                            <div class="exercise__list-text">{{ item.text }}</div>
                        </div>
                        {% endfor %}
                    </div>
                </div>

                <div id="panel2" class="exercise__panel js-panel">
                    <div class="exercise__list">
                        {% for item in tab2 %}
                        <div class="exercise__list-item">
                            <h3 class="h3 exercise__list-title" style="background-image: url({{ item.icon }});">
                                {{ item.title }}
                            </h3>
                            <div class="exercise__list-text">{{ item.text }}</div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>