==
<?php
    function onStart(){
        $this['picts'] = [
            [
                'name' => 'mobility',
                'title' => 'Улучшите подвижность',
                'width' => '228',
                'height' => '255',
            ], [
                'name' => 'power',
                'title' => 'Обретите силу',
                'width' => '218',
                'height' => '240',
            ], [
                'name' => 'balance',
                'title' => 'Улучшите равновесие',
                'width' => '218',
                'height' => '233',
            ],
        ];
    }
?>
==
<div class="index-hero page-index__hero">
    <div class="index-hero__inner container">
        <div class="h1 index-hero__title">Будьте активными,<br>живите долго!</div>
        <div class="index-hero__text-wrap">
            <p class="index-hero__text1">С помощью простых онлайн-программ физических упражнений</p>
            <p class="index-hero__text2">Пройдите короткий тест и получите бесплатный доступ к вашей личной программе, настроенной под ваши интересы и возможности уже сегодня!</p>
        </div>

        <div class="index-hero__test-wrap">
            <a href="#" class="btn-round index-hero__test" title="Пройти текст">
                <span class="btn-round__text">Пройти тест</span>
                {% partial 'components/icon' css="btn-round__icon" icon="arrow-right" width="35" height="24" %}
            </a>
        </div>

        <div class="index-hero__picts-wrap">
            {% for pic in picts %}
            <img
                role="presentation"
                class="index-hero__pict index-hero__pict_{{ pic.name }}"
                src="{{ ( 'assets/img/components/index-hero/' ~ pic.name ~ '.png' ) | theme }}"
                srcset="{{ ( 'assets/img/components/index-hero/' ~ pic.name ~ '@2x.png' ) | theme }} 2x"
                alt="{{ pic.name }}"
                width="{{ pic.width }}"
                height="{{ pic.height }}"
            >
            {% endfor %}
        </div>
    </div>
</div>