==
<?php
    function onStart(){
        $this['list'] = [
            [
                'title' => 'Не расходуйте время и деньги на поездки в зал',
                'text' => "Всегда хочется как можно дольше заниматься любимым делом, а занятия для увеличения силы, баланса и подвижности имеют решающее значение для здоровья.\nПолучите доступ к программам, настроенным в соответствии с вашими интересами и возможностями, а также неограниченный доступ к видеотеке EASY DOO из любой точки мира.\nМеньше времени на поездки — больше времени на активную жизнь!",
            ], [
                'title' => 'Получайте консультации опытных врачей и фитнес-экспертов',
                'text' => "Мы разработали уникальные программы с участием физиотерапевтов, кинезиологов, врачей и фитнес-экспертов. Эти программы основаны на упражнениях по рекомендациям крупнейших международных организаций и национального совета по проблемам старения.\nВ нашей базе более 3000 упражнений и 400 тренировок разной направленности.",
            ], [
                'title' => 'Получайте удовольствие от прохождения программ',
                'text' => "Как показали исследования, упражнения помогают эффективно бороться с причинами острых и хронических болей. Умеренный спорт должен присутствовать в вашей жизни регулярно.",
            ], [
                'title' => 'Станьте специалистом по собственному здоровью',
                'text' => "Изучив новую информацию и освоив навыки в программе EASY DOO, вы сможете стать своим собственным специалистом по оздоровлению. C достоверной информацией и правильным обучением вы улучшите свои привычки, будете оставаться позитивным и сохраните мотивацию на долгое время.\nМы научим вас справляться с болью с помощью простых физических упражнений онлайн.",
            ]
        ];
    }
?>
==
<div class="index-in-form page-index__in-form">
    <div class="index-in-form__inner container">
        <h2 class="index-in-form__title h2">EASY DOO поможет вам всегда быть в форме</h2>
        <p class="index-in-form__text">Получите научно-обоснованные программы упражнений для занятий дома</p>

        <div class="index-in-form__list">
            {% for item in list %}
                <div class="index-in-form__item">
                    <div class="index-in-form__item-inner">
                        <div class="index-in-form__item-title">{{ item.title }}</div>
                        <div class="index-in-form__item-text">
                            {% for p in item.text | split("\n") %}
                                <p>{{ p }}</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="index-in-form__test-wrap">
            <a class="btn-round index-in-form__btn">
                <span class="btn-round__text">Пройти тест</span>
                {% partial 'components/icon' css="btn-round__icon" icon="arrow-right" width="35" height="24" %}
            </a>
        </div>
    </div>
</div>