==
<?php
    function onStart(){
        $this['list'] = [
            [
                'img' => 'phone1',
                'imgAlt' => 'phone1',
                'width' => '191',
                'height' => '383',
                'text' => 'Неограниченная поддержка от сертифицированных тренеров по здоровью',
            ], [
                'img' => 'phone2',
                'imgAlt' => 'phone2',
                'width' => '191',
                'height' => '383',
                'text' => 'Физические упражнения разработаны специалистами для укрепления вашего тела',
            ], [
                'img' => 'phone3',
                'imgAlt' => 'phone3',
                'width' => '191',
                'height' => '383',
                'text' => 'Расслабление мышц и внимательность для снятия боли, связанной со стрессом',
            ], [
                'img' => 'phone4',
                'imgAlt' => 'phone4',
                'width' => '191',
                'height' => '383',
                'text' => 'Короткие уроки, которые помогут вам понять причины вашей боли',
            ],
        ];
    }
?>
==
{%
    partial 'blocks/list-with-phone/list'
    title="Что включает в себя программа"
    text="<p>Индивидуальная программа основана на вашей физической форме и мобильности.</p><p>Когда вы станете сильнее, ваша программа изменится вместе с вами.</p>"
    css="page-index__includes"
    list=list
%}