<section class="page-index-program page-index__program">
    <div class="container page-index-program__inner">
        <h2 class="h2 page-index-program__title">Выберите свою программу</h2>

        <div class="page-index-program__block1 page-index-program-block-v1 page-index-program-block-v1_bg1">
            <div class="page-index-program-block-v1__label">Лёгкий старт</div>

            <div class="page-index-program-block-v1__col-content">
                <div class="page-index-program-block-v1__title">Базовая</div>
                <div class="page-index-program-block-v1__text">Базовые программы EASY DOO состоят из коротких и эффективных тренировок, практик расслабления и знаний. Плавный старт, волнообразная нагрузка и разная активность помогут отдохнуть и не потерять мотивацию.</div>
                <div class="page-index-program-block-v1__price">от 160 ₽ / неделя</div>
                <div class="page-index-program-block-v1__link-wrap">
                    <a class="button-tertiary" href="#">
                        <span class="button-tertiary__text">подробнее</span>
                        {% partial 'components/icon'
                            icon="arrow-right"
                            css="button-tertiary__icon"
                            width="35"
                            height="24"
                        %}
                    </a>
                </div>
            </div>
        </div>

        <div class="page-index-program__block2 page-index-program-block-v1 page-index-program-block-v1_bg2">
            <div class="page-index-program-block-v1__label">Эффективный результат</div>

            <div class="page-index-program-block-v1__col-content">
                <div class="page-index-program-block-v1__title">Индивидуальная с тренером</div>
                <div class="page-index-program-block-v1__text">Сертифицированный тренер по здоровью составит для вас индивидуальную программу с учётом ваших возможностей и интересов, а также поддержит вас на занятиях, ответит на все вопросы и поможет достичь лучшего результата.</div>
                <div class="page-index-program-block-v1__price">от 1 375 ₽ / неделя</div>
                <div class="page-index-program-block-v1__link-wrap">
                    <a class="button-tertiary" href="#">
                        <span class="button-tertiary__text">подробнее</span>
                        {% partial 'components/icon'
                            icon="arrow-right"
                            css="button-tertiary__icon"
                            width="35"
                            height="24"
                        %}
                    </a>
                </div>
            </div>

            <div class="page-index-program-block-v1__col-video">
                <div class="video-player">
                    <img
                        class="video-player__img"
                        src="{{ 'assets/img/dev/page-index/program/video.jpg' | theme }}"
                        srcset="{{ 'assets/img/dev/page-index/program/video@2x.jpg' | theme }} 2x"
                        alt="Видео с индивидуальным тренером"
                        loading="lazy"
                    >
                    <button class="clear-button video-player__btn" type="button">
                        {% partial 'components/icon'
                            icon="play"
                            css="button-secondary__icon"
                            width="29"
                            height="33"
                        %}
                    </button>
                </div>
            </div>
        </div>

        <div class="page-index-program__block3 page-index-program-block-v2">
            <div class="page-index-program-block-v2__title">Не знаете, какую программу лучше выбрать?</div>
            <div class="page-index-program-block-v2__text">Пройдите короткий тест, и мы подберём идеальную программу под ваши особенности и цели.</div>
            <div class="page-index-program-block-v2__btn-wrap">
                <a class="button-secondary" href="#">
                    <span class="button-secondary__text">пройти тест</span>

                    {% partial 'components/icon'
                        icon="arrow-right"
                        css="button-secondary__icon"
                        width="35"
                        height="24"
                    %}
                </a>
            </div>
        </div>
    </div>
</section>