==
<?php
    function onStart(){
        $this['list'] = [
            [
                'title' => 'Учитываем отправную точку',
                'text' => 'Все программы начинаются с простых 1-минутных тестов на баланс, силу, подвижность и др. Результаты сохраняются для отслеживания прогресса и помогают нам настроить программы для вас.',
            ], [
                'title' => 'Измеряем эффективность',
                'text' => 'Мы уверенны в эффективности программ, потому что вместе с вами измеряем ваши показатели в течение всего цикла работы. Все прозрачно и понятно, вы сможетне увидеть это в своём личном кабинете.',
            ], [
                'title' => 'Адаптируем программу online',
                'text' => 'В нашей базе более 3 000 упражнений и готовых тренировок. Программы адаптированы к вашим способностям и боли и меняются по мере того, как вы продолжаете совершенствоваться.',
            ], [
                'title' => 'Опираемся на науку',
                'text' => 'Все программы составляются командой опытных врачей на основании международных медицинских рекомендаций. Уменьшите боль с помощью упражнений вместо лекарств.',
            ], [
                'title' => 'Формируем привычку',
                'text' => 'Только простые тренировки EASy DOO легко выполнять регулярно. Это отлично формирует правильные привычки, ведущие к долгосрочным и стабильным изменениям.',
            ], [
                'title' => 'Скучно точно не будет:)',
                'text' => 'Тренировки не повторяются, а вы всегда сможете попробовать новые интересные тренировки для улучшения равновесия, подвижности и силы, такие как цигун, йога, тай-чи и много другое.',
            ],
        ];
    }
?>
==
<section class="page-index-technologically page-index__technologically">
    <div class="page-index-technologically__inner container">
        <h2 class="h2 page-index-technologically__title">Технологично и эффективно</h2>

        <ul class="page-index-technologically__list">
            {% for item in list %}
                {% set isShiftLeft = loop.index == 1 or loop.index == 5 ? true : false %}
                {% set isShiftRight = loop.index == 2 or loop.index == 6 ? true : false %}
                {% set isAlignRight = loop.index is even ? true : false %}

            <li class="
                page-index-technologically__item
                {{ isShiftLeft ? 'page-index-technologically__item_shift-left' }}
                {{ isShiftRight ? 'page-index-technologically__item_shift-right' }}
                {{ isAlignRight ? 'page-index-technologically__item_align-right' }}
            ">
                <h3 class="h3 page-index-technologically__item-title">{{ item.title }}</h3>
                <p class="page-index-technologically__item-text">{{ item.text }}</p>
            </li>
            {% endfor %}
        </ul>
    </div>
</section>