<template>
    <b-row class="h-100">
        <b-colxx xxs="12" md="10" class="mx-auto my-auto">
            <b-card class="auth-card" no-body>
                <div class="position-relative image-side">
                    <p class="text-white h2">EASY DOO</p>
                    <p class="white mb-3">Для авторизации введите нормер телефона, запросите код.</p>
                    <p class="white mb-0">Вам поступит звонок, отвечать на него не нужно. Введите в появившуюся форму с кодом 4 последние цифры номера телефона</p>
                </div>
                <div class="form-side">
                    <!-- <router-link tag="a" :to="{ name: 'home' }"> -->
                        <span class="logo-single"/>
                    <!-- </router-link> -->
                    <h6 class="mb-4">Авторизация</h6>

                    <b-form @submit.prevent="onSubmit" class="av-tooltip tooltip-label-bottom">
                        <b-form-group
                            id="input-group-1"
                            label="Телефон"
                            label-for="input-1"
                            class="has-float-label mb-4"
                            :description="getCodeComment"
                        >
                            <b-form-input
                                id="input-1"
                                v-model="form.phone"
                                type="tel"
                                placeholder="Введите телефон"
                                required
                                :disabled="codeConfirm"
                            />
                        </b-form-group>

                        <b-button
                            v-if="!codeConfirm || getCodeLoader"
                            type="submit"
                            variant="primary"
                            size="lg"
                        >Запросить код</b-button>
                    </b-form>

                    <b-form @submit.prevent="onSubmitCode" v-if="codeConfirm">
                        <b-form-group
                            id="input-group-2"
                            label="Код"
                            label-for="input-2"
                            :description="codeComment"
                        >
                            <b-form-input
                                id="input-2"
                                v-model="form.code"
                                type="tel"
                                placeholder="Введите код"
                                required
                            />
                        </b-form-group>

                        <b-button type="submit" variant="primary">Войти</b-button>
                    </b-form>
                </div>
            </b-card>
        </b-colxx>
    </b-row>
</template>

<script>
import { userService } from '@/services';

export default {
    data() {
        return {
            codeConfirm: false,
            codeComment: '',
            getCodeComment: '',
            getCodeLoader: false,
            timerId: null,
            leftSeconds: 0,
            form: {
                phone: '',
                code: '',
            },
        }
    },
    methods: {
        async onSubmitCode(event) {
            const { phone, code } = this.form;
            if (phone && code) {
                this.$store.dispatch('authentication/login', { phone, code })
            }
        },

        clearTimer() {
            this.codeConfirm = false;
            this.form.code = '';
            clearInterval( this.timerId );
        },

        setConfirmTimer( time ) {
            this.leftSeconds = time;
            this.codeComment = `Последние 4 цифры номера входящего звонка. ${ this.leftSeconds } сек.`;

            this.timerId = setInterval( () => {
                this.codeComment = `Последние 4 цифры номера входящего звонка. ${ this.leftSeconds } сек.`;
                this.leftSeconds--;

                if( this.leftSeconds == 0 ) {
                    this.clearTimer();
                }
            }, 1000 );

            this.codeConfirm = true;
        },

        async onSubmit(event) {
            this.getCodeLoader = true;
            this.getCodeComment = '';
            const { phone } = this.form;

            try {
                const { time } = await userService.getCode( phone );
                this.setConfirmTimer( time );
            } catch ( err ) {
                this.getCodeComment = err;
            }
            this.getCodeLoader = false;
        },
    }
}
</script>