<?php
    $contactsLabels = [
        'phone' => 'Телефон',
        'name' => 'Имя',
        'mail' => 'Email',
    ];

    $contacts = \Ed\Quize2\Classes\Helpers::getContactsFromData( $model->data );
?>

<div>Квиз: <b><?= $model->quize->title ?></b></h2>

<?php if ( count( $contacts ) > 0 ): ?>
    <br><br>
    <hr>
    <h2>Контакты</h2>
    <?php foreach($contacts as $key => $val ): ?>
        <div><strong><?= $contactsLabels[ $key ]?></strong> - <?= $val ?></div>
    <?php endforeach; ?>
    <hr>
<?php endif; ?>

<?php foreach($model->data as $fieldData ): ?>
    <h2><?= $fieldData[ 'title' ]?></h2>

    <?php foreach($fieldData[ 'fields' ] as $field ): ?>
        <?php if ($fieldData[ 'type' ] == 'input' ): ?>
            <div><?=$field['label']?> - <?=$field['value']?></div>
        <?php elseif($fieldData[ 'type' ] == 'phone' ): ?>
            <div><?=$field['label']?> - <?=$field['value']?></div>
        <?php else: ?>
            <?php foreach($field as $item ): ?>
                <div><?=$item['checked'] ? '✅' : '☑️' ?> <?=$item['label']?></div>
            <?php endforeach; ?>
        <?php endif; ?>
    <?php endforeach; ?>
<?php endforeach; ?>