.request-plan {
    background-color: var(--color-tags-programs-joint);
    color: var(--color-text-white);

    // .request-plan__inner
    &__inner {
        --padding-y: #{ rem(50) };
        padding-top: var(--padding-y);
        padding-bottom: var(--padding-y);

        @include m( phoneLarge ) {
            --padding-y: #{ rem(60) };
        }

        @include m( desktopSmall ) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            column-gap: rem(20);
        }

        @include m( desktopLarge ) {
            $bgWidth: rem(77);
            column-gap: rem(30);
            background-image: url( $componentsImgPath + '/request-plan/bg.svg' );
            background-size: $bgWidth rem(117);
            background-position: top rem(10) left calc( 50% - #{ $bgWidth } );
            background-repeat: no-repeat;
        }
    }

    // .request-plan__area-text
    &__area-text {
        font-weight: 700;
        line-height: 1.4;

        p:not(:first-child) {
            margin-top: rem(10);
        }

        @include m( 0, phoneLarge ) {
            font-size: rem(22);
            text-align: center;
        }

        @include m( phoneLarge ) {
            font-size: rem(24);
        }

        @include m( desktopSmall ) {
            font-size: rem(26);
            line-height: 1.34;
            align-self: center;
        }
    }

    // .request-plan__area-form
    &__area-form {
        margin-top: rem(30);
        max-width: rem(455);

        @include m( desktopSmall ) {
            margin-top: 0;
        }
    }

    // .request-plan__input-wrap
    &__input-wrap {
    }

    // .request-plan__input
    &__input {
        $iconSize: rem(24);
        $iconGap: rem(12);
        $paddingX: rem(16);
        background: var(--color-bg-white);
        border: rem(1) solid var(--color-border);
        box-sizing: border-box;
        border-radius: rem(8);
        height: rem(48);

        font-weight: 400;
        font-size: rem(16);
        line-height: 1.46;
        color: var(--color-text-additional);
        padding-left: $paddingX + $iconSize + $iconGap;
        padding-right: $paddingX;
        width: 100%;

        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='.5' fill='%23828891'%3E%3Cpath d='M6 4.5a3 3 0 0 0-3 3v.301l9 4.847 9-4.845V7.5a3 3 0 0 0-3-3H6Z'/%3E%3Cpath d='m21 9.505-8.645 4.655a.75.75 0 0 1-.71 0L3 9.505V16.5a3 3 0 0 0 3 3h12a3 3 0 0 0 3-3V9.505Z'/%3E%3C/g%3E%3C/svg%3E");
        background-size: $iconSize $iconSize;
        background-repeat: no-repeat;
        background-position: left $paddingX center;
    }

    // .request-plan__form-privacy
    &__form-privacy {
        margin-top: rem(8);
        font-weight: 400;
        font-size: rem(14);
        line-height: 1.36;

        a {
            color: var(--color-system-info);
        }
    }

    // .request-plan__submit-wrap
    &__submit-wrap {
        margin-top: rem(24);
    }

    // .request-plan__submit
    &__submit {
        @include m( 0, phoneLarge ) {
            width: 100%;
            justify-content: center;
        }
    }
}