.program-item {
    position: relative;
    display: flex;
    flex-direction: column;

    background-color: var(--color-text-white);
    border: 1px solid var(--color-border);
    border-radius: rem(16);

    padding-top: rem(30);
    padding-right: rem(30);
    padding-bottom: rem(16);
    padding-left: rem(30);

    & > *:first-child {
        margin-top: 0;
    }

    // .program-item__title
    &__title {
        margin-top: rem(23);
    }

    // .program-item__anons
    &__anons {
        font-size: rem(16);
        line-height: 1.46;
        color: var(--color-text-main);
        margin-top: rem(10);
    }

    // .program-item__time-wrapper
    &__time-wrapper {
        display: flex;
        align-items: center;
        margin-top: rem(12);

        > * + * {
            margin-left: rem(8);
        }
    }

    // .program-item__time-icon
    &__time-icon {
        color: var(--color-text-additional);
    }

    // .program-item__time
    &__time {
        font-weight: bold;
        font-size: rem(14);
        color: var(--color-text-main);
    }

    // .program-item__category
    &__category {
        align-self: flex-start;
    }

    // .program-item__link-wrapper
    &__link-wrapper {
        margin-top: auto;
    }

    // .program-item__icon
    &__icon {
        display: block;
        width: rem(80);
        height: rem(80);
        right: rem(16);
        top: rem(-7);
        position: absolute;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
}