.page-blog-post {
    .wysiwyg {
        padding-top: rem(40);
    }

    // .page-blog-post__cover-wrap
    &__cover-wrap {
        
    }

    // .page-blog-post__cover
    &__cover {
        width: 100%;
    }

    // .page-blog-post__text
    &__text {
        margin-bottom: rem(40);
    }

    // .page-blog-post__info-bar
    &__info-bar {
        --count: 1;
        margin-top: rem(20);
        display: grid;

        grid-template-columns: repeat( var(--count), 1fr );
        gap: rem(30);

        @include m( desktopSmall ) {
            --count: 2;
        }
    }

    // .page-blog-post__info-bar-author
    &__info-bar-author {
    }

    // .page-blog-post__info-bar-read
    &__info-bar-read {
        align-self: center;

        @include m( desktopSmall ) {
            justify-self: right;
        }
    }

    // .page-blog-post__related
    &__related {
        margin-top: rem(50);
    }

    // .page-blog-post__related-posts
    &__related-posts {
        margin-top: rem(20);
    }
}