.options-item {
    margin-top: rem(10);
    display: block;

    // .options-item__input
    &__input {
        @include visuallyhidden;
    }

    // .options-item__inner
    &__inner {
        border: 1px solid var(--color-text-additional);
        border-radius: rem(4);
        padding: rem(7);
        display: flex;
        align-items: center;
        cursor: pointer;
        color: black;
    }

    // .options-item__icon-wrapper
    &__icon-wrapper {
        text-align: center;
        flex-shrink: 0;
    }

    // .options-item__icon
    &__icon {
        width: rem(50);
        height: rem(50);
        object-fit: contain;
        font-size: rem(50);
    }

    // .options-item__icon-text
    &__icon-text {
        font-size: rem(14);
        margin-left: rem(10);
    }

    &__input:checked + &__inner {
        background-color: var(--color-primary-40);
        color: var(--color-text-white);
    }
}




.quiz-btn {
    border: 1px solid var(--color-text-additional);
    border-radius: rem(4);
    padding: rem(7);
    min-width: rem(140);
    min-height: rem(140);

    &__icon {
        font-size: rem(50);
    }

    &__text {
        font-size: rem(14);
        margin-top: rem(10);
        color: black;
    }
}

.text-center {
    text-align: center;
}

.mt-30 {
    margin-top: rem(30);
}

.quiz-screen {
    margin-top: calc( var( --bread-top-gap ) * -1 );
    width: 100%;
    min-height: calc( var(--vh) * 100 - var(--header-height) );
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: rem(15);
    padding-bottom: rem(15);

    .container {
        max-width: rem(700);
    }

    &__content {
        margin-top: rem(20);
    }
}

.quiz-player {
    position: relative;
    overflow: hidden;
    display: inline-block;

    // .quiz-player__video
    &__video {
        border-radius: rem(10);
        width: rem(200);
        height: auto;
    }

    // .quiz-player__btn-play
    &__btn-play {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
    }
}

.quiz-video-screen {
    --bg-color-start: #1a263c;
    --bg-color-end: #1a263c;
    background-image: linear-gradient( to right, var(--bg-color-start), var(--bg-color-end));

    &__title {
        font-size: rem(30);
        font-weight: bold;
        line-height: 1.1;
        color: #fff;
        text-align: center;

        @include m(pad) {
            font-size: rem(50);
        }
    }

    &__video-wrapper {
        text-align: center;
        margin-top: rem(50);
    }

    &__btn-wrapper {
        margin-top: rem(30);
        text-align: center;
    }

    &__btn {
        color: #a6a6a6;
    }
}

.quiz-text-screen {
    --bg-color-start: #1a263c;
    --bg-color-end: #1a263c;
    background-image: linear-gradient( to right, var(--bg-color-start), var(--bg-color-end));
    width: 100%;
    height: calc( var(--vh) * 100 - var(--header-height) );
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__title {
        --title-color-start: #fdcec7;
        --title-color-end: #fe6f6e;
        background-image: linear-gradient( to right, var(--bg-color-start), var(--bg-color-end));

        font-size: rem(30);
        line-height: 1.1;
        font-weight: bold;
        background: linear-gradient( to right, var(--title-color-start), var(--title-color-end));
        background-clip: text;
        -webkit-text-fill-color: transparent;
        text-align: center;

        @include m(pad) {
            font-size: rem(50);
        }
    }

    &__sub-title {
        font-size: rem(30);
        font-weight: bold;
        line-height: 1.1;
        color: #fff;
        text-align: center;
        margin-top: rem(50);
    }

    &__btn-wrapper {
        margin-top: rem(50);
        text-align: center;
    }

    &__btn {
        color: #fff;
        border-radius: rem(5);
        padding: rem(11) rem(11);
        background: linear-gradient( to right, #58a5ef, #ee6a72);
        box-shadow: 0px 0px 6px 2px #fff;
    }
}