{% set id = 'authors-list-' ~ random() %}

<section class="authors-list {{ data.v_gap | vgap }} js-authors-list" aria-labelledby="{{ id }}">
    <div class="authors-list__inner container">
        <h2 id="{{ id }}" class="h2 authors-list__title">{{ data.title }}</h2>

        {% partial 'components/carousel-scroll-legend' css="authors-list__scroll-legend" %}

        <div class="authors-list__carousel js-carousel">
            <ul class="authors-list__list js-wrapper">
                {% for item in data.list %}
                <li class="authors-list__item js-slide">
                    <div class="authors-list__item-photo-wrap">
                        <picture>
                            <img
                                class="authors-list__item-photo"
                                src="{{ item.photo | media }}"
                                alt=""
                                width="708"
                                height="922"
                            >
                        </picture>

                        <div class="tag tag_red authors-list__item-label">{{ item.label }}</div>
                    </div>

                    <div class="authors-list__item-name">{{ item.name }}</div>
                    <div class="authors-list__item-specialty">{{ item.specialty }}</div>
                    <div class="authors-list__item-about">{{ item.about }}</div>
                </li>
                {% endfor %}
            </ul>

            <div class="authors-list__nav-wrapper js-navs"></div>
        </div>
    </div>
</section>