<section class="request-video {{ data.v_gap | vgap }}">
    <div class="request-video__inner container">
        <div class="request-video__area-video">
            {% if data.video or data.poster %}
            <video
                autoplay
                muted
                loop
                playsinline
                src="{{ data.video | media }}"
                poster="{{ data.poster | media }}"
                class="request-video__video"
            ></video>
            {% endif %}
        </div>

        <div class="request-video__area-form">
        {% if data.label %}
            <div style="--tag-bg-color: #9fdcd7;" class="tag request-video__label">{{ data.label }}</div>
            {% endif %}

            <h2 class="h2 request-video__title">{{ data.title }}</h2>

            {% if data.subtitle %}
            <p class="request-video__sub-title">{{ data.subtitle }}</p>
            {% endif %}

            {% if data.text %}
            <p class="request-video__text">{{ data.text }}</p>
            {% endif %}

            <div class="request-video__submit-wrap">
                {% for btn in data.btns %}
                <a
                    class="button-secondary request-video__submit request-video__submit_{{ btn.type }}"
                    href="{{ btn.link }}"
                    target="_blank"
                >
                    <span class="button-secondary__text">{{ btn.title }}</span>
                    {%
                        partial 'components/icon'
                        icon=("social-" ~ btn.type)
                        width="24"
                        height="24"
                        css="button-secondary__icon"
                    %}
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
</section>