==
<?php
    use Art\Payment\Models\Product;

    function onStart() {
        $price = (int) $this->data['price'];
        $priceOld = (int) $this->data['price_old'];
        $percent = '';
        $videoID = '';

        preg_match("/^(?:http(?:s)?:\/\/)?(?:www\.)?(?:m\.)?(?:youtu\.be\/|youtube\.com\/(?:(?:watch)?\?(?:.*&)?v(?:i)?=|(?:embed|v|vi|user)\/))([^\?&\"'>]+)/", $this->data['youtube_url'], $matches);

        if ( count( $matches ) > 1 ) {
            $videoID	= $matches[1];
        }

        $this[ 'videoID' ]	= $videoID;

        if( $price > 1 AND $priceOld > 1 ) {
            $percent = '-' . round( ( ( $priceOld - $price ) / $priceOld ) * 100 ) . '%';
        }

        $this['percent'] = $percent;
    }
?>
==
<section class="br2 {{ data.v_gap | vgap }}">
    <div class="br2__inner container">
        <div class="br2__area-video">
            {% if data.youtube_url %}
                <div class="br2__video-wrapper">
                    {#
                    <video
                        autoplay
                        muted
                        loop
                        playsinline
                        src="{{ data.video | media }}"
                        poster="{{ data.poster | media }}"
                        class="br2__video"
                    ></video>
                    #}

                    <iframe
                        width="900"
                        height="506"
                        src="https://www.youtube.com/embed/{{ videoID }}?wmode=transparent"
                        title="YouTube video player"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen
                        playsinline
                        class="br2__video"
                    ></iframe>
                </div>

                {% if data.video_text %}
                <p class="br2__video-text">{{ data.video_text | nl2br }}</p>
                {% endif %}
            {% endif %}

            {#
            {% if data.video or data.poster %}
                <div class="br2__video-wrapper">
                    <video
                        autoplay
                        muted
                        loop
                        playsinline
                        src="{{ data.video | media }}"
                        poster="{{ data.poster | media }}"
                        class="br2__video"
                    ></video>
                </div>

                {% if data.video_text %}
                <p class="br2__video-text">{{ data.video_text }}</p>
                {% endif %}
            {% endif %}
            #}
        </div>

        <div class="br2__area-content1">
            {% if data.label %}
                <div style="--tag-bg-color: #9fdcd7;" class="tag br2__label">{{ data.label }}</div>
            {% endif %}

            <h2 class="h2 br2__title">{{ data.title | nl2br }}</h2>

            {% if data.subtitle %}
            <p class="br2__sub-title">{{ data.subtitle | nl2br }}</p>
            {% endif %}

            {% if data.text %}
            <p class="br2__text">{{ data.text | nl2br }}</p>
            {% endif %}
        </div>

        <div class="br2__area-content2">
            {% if data.price %}
                <div class="br2__price-block">
                    <div class="br2__price-wrap">
                        <div class="br2__price">{{ data.price | price }}</div>
                        {% if data.price_old %}
                        <s class="br2__price-old">{{ data.price_old | price }}</s>
                        {% endif %}
                    </div>

                    {% if percent %}
                        <div class="br2__percent">{{ percent | raw }}</div>
                    {% endif %}

                    {% if data.price_until %}
                    <div class="br2__price-until">Данная цена доступна до: <span class="br2__accent">{{ data.price_until }}</span></div>
                    {% endif %}

                    {% if data.timer_minutes %}
                    <div class="br2__timer-minutes">До конца распродажи: <span class="br2__accent js-bt2-time-left" data-minutes="{{ data.timer_minutes | default(0) }}"></span></div>
                    {% endif %}
                </div>
            {% endif %}

            {% if data.btn_title %}
            <div>
                {% if data.btn_url %}
                <a href="{{ data.btn_url }}" class="br2__redirect" title="{{ data.btn_title }}">
                    {{ data.btn_title }}
                </a>
                {% else %}
                <button data-scroll=".js-price-scroll" type="button" class="br2__redirect">
                    {{ data.btn_title }}
                </button>
                {% endif %}
            </div>
            {% endif %}

            {% if data.btn_demo_title and data.btn_demo_url %}
            <div>
                <a href="{{ data.btn_demo_url }}" class="br2__btn-demo" title="{{ data.btn_demo_title }}">
                    <span>{{ data.btn_demo_title }}</span>

                    {%
                        partial 'components/icon'
                        icon="arrow-right"
                        width="30"
                        height="30"
                        css=""
                    %}
                </a>
            </div>
            {% endif %}
        </div>
    </div>
</section>