==
<?php
    function onStart() {
        $temp = $this->data;

        $price = $temp['price'];
        $oldPrice = $temp['price_old'];

        if( $oldPrice ) {
            $this['percent'] = '-' . round( ( ( $oldPrice - $price ) / $oldPrice ) * 100 ) . '%';
        }
    }
?>
==
<section
    style="--gradient-from: {{ data.gradient_from }}; --gradient-to: {{ data.gradient_to }};"
    class="countdown {{ data.use_background ? 'countdown_use-background countdown_direction-' ~ data.gradient_direction }} {{ data.v_gap | vgap }}"
>
    <div class="container">
        <div class="countdown__inner">
            <div class="countdown__col-info">
                <div class="countdown__info-row1">
                    {{ data.info_row1 | raw }}
                </div>

                <div class="countdown__info-row2">
                    {{ data.info_row2 }}
                </div>

                <div class="countdown__info-row3">
                    <span class="countdown__price">{{ data.price | price }}</span>

                    {% if data.price_old %}
                    <s class="countdown__price-old">{{ data.price_old | price }}</s>
                    {% endif %}
                </div>

                {% if percent %}
                    <div class="countdown__percent">{{ percent | raw }}</div>
                {% endif %}
            </div>

            <div class="countdown__col-counter">
                <div class="countdown__counter-title">До конца акции:</div>

                <div class="countdown__counter js-block-countdown">
                    <div class="countdown__segment">
                        <div class="countdown__segment-number js-hours">--</div>
                        <div class="countdown__segment-comment">Часов</div>
                    </div>

                    <div class="countdown__segment">
                        <div class="countdown__segment-number js-minutes">--</div>
                        <div class="countdown__segment-comment">Минут</div>
                    </div>

                    <div class="countdown__segment">
                        <div class="countdown__segment-number js-seconds">--</div>
                        <div class="countdown__segment-comment">Секунд</div>
                    </div>
                </div>
            </div>

            <div class="countdown__col-button">
                <button type="button" data-scroll=".js-price-scroll" class="countdown__btn" title="">
                    <span class="countdown__btn-row1">{{ data.btn_row1 }}</span>
                    {% if data.btn_row2 %}
                    <span class="countdown__btn-row2">{{ data.btn_row2 }}</span>
                    {% endif %}
                </button>
            </div>
        </div>
    </div>
</section>