{% set id = 'benefit-' ~ random() %}

<section class="faq {{ data.v_gap | vgap }}" aria-labelledby="{{ id }}">
    <div class="faq__inner container">
        <h2 id="{{ id }}" class="h2 faq__title">{{ data.title }}</h2>

        <div class="faq__list js-faq">
            {% for item in data.list %}
            <div class="faq__item js-item">
                <div class="faq__label js-label">
                    {{ item.question }}

                    <div class="faq__arrow-wrapper">
                        {%
                            partial 'components/icon'
                            width="24"
                            height="24"
                            icon="arrow-up"
                            css="faq__arrow-icon"
                        %}
                    </div>
                </div>

                <div class="faq__content js-content">
                    <div class="faq__content-inner">
                        {{ item.answer | raw }}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>