{% set id = 'index-technologically-' ~ random() %}

<section class="page-index-technologically page-index__technologically {{ data.v_gap | vgap }}" aria-labelledby="{{ id }}">
    <div class="page-index-technologically__inner container">
        <h2 id="{{ id }}" class="h2 page-index-technologically__title">{{ data.title | nl2br }}</h2>

        <ul class="page-index-technologically__list">
            {% for item in data.list %}
                {% set isShiftLeft = loop.index == 1 or loop.index == 5 ? true : false %}
                {% set isShiftRight = loop.index == 2 or loop.index == 6 ? true : false %}
                {% set isAlignRight = loop.index is even ? true : false %}

            <li class="
                page-index-technologically__item
                {{ isShiftLeft ? 'page-index-technologically__item_shift-left' }}
                {{ isShiftRight ? 'page-index-technologically__item_shift-right' }}
                {{ isAlignRight ? 'page-index-technologically__item_align-right' }}
            ">
                <h3 class="h3 page-index-technologically__item-title">{{ item.title }}</h3>
                <p class="page-index-technologically__item-text">{{ item.text }}</p>
            </li>
            {% endfor %}
        </ul>
    </div>
</section>