{% set id = 'index-in-form-' ~ random() %}

<section class="index-in-form page-index__in-form {{ data.v_gap | vgap }}" aria-labelledby="{{ id }}">
    <div class="index-in-form__inner container">
        <h2 id="{{ id }}" class="index-in-form__title h2">{{ data.title | nl2br }}</h2>
        <p class="index-in-form__text">{{ data.sub_title | nl2br }}</p>

        <div class="index-in-form__list">
            {% for blockId in 1..4 %}
                <div class="index-in-form__item">
                    <div class="index-in-form__item-inner">
                        <div class="index-in-form__item-title">{{ data[ "block" ~ blockId ~ "_title" ] }}</div>
                        <div class="index-in-form__item-text">
                            {% for p in data[ "block" ~ blockId ~ "_text" ] | split("\n") %}
                                <p>{{ p }}</p>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="index-in-form__img"></div>
                </div>
            {% endfor %}
        </div>

        <div class="index-in-form__test-wrap">
            <a href="{{ data.url }}" class="btn-round index-in-form__btn">
                <span class="btn-round__text">Пройти тест</span>
                {% partial 'components/icon' css="btn-round__icon" icon="arrow-right" width="35" height="24" %}
            </a>
        </div>
    </div>
</section>