==
<?php
    function onStart(){
        $this['picts'] = [
            [
                'name' => 'mobility',
                'title' => 'Улучшите подвижность',
                'width' => '228',
                'height' => '255',
            ], [
                'name' => 'power',
                'title' => 'Обретите силу',
                'width' => '218',
                'height' => '240',
            ], [
                'name' => 'balance',
                'title' => 'Улучшите равновесие',
                'width' => '218',
                'height' => '233',
            ],
        ];
    }
?>
==
{% set id = 'index-hero-' ~ random() %}

<section class="index-hero page-index__hero {{ data.v_gap | vgap }}" aria-labelledby="{{ id }}">
    <div class="index-hero__inner container">
        <h1 id="{{ id }}" class="h1 index-hero__title">{{ data.title | nl2br }}</h1>
        <div class="index-hero__text-wrap">
            <p class="index-hero__text1">{{ data.sub_title | nl2br }}</p>
            <p class="index-hero__text2">{{ data.text | nl2br }}</p>
        </div>

        <div class="index-hero__test-wrap">
            <a href="{{ data.url }}" class="btn-round index-hero__test" title="Пройти текст">
                <span class="btn-round__text">Пройти тест</span>
                {% partial 'components/icon' css="btn-round__icon" icon="arrow-right" width="35" height="24" %}
            </a>
        </div>

        <div class="index-hero__picts-wrap">
            {% for pic in picts %}
            <img
                role="presentation"
                class="index-hero__pict index-hero__pict_{{ pic.name }}"
                src="{{ ( 'assets/img/components/index-hero/' ~ pic.name ~ '.png' ) | theme }}"
                srcset="{{ ( 'assets/img/components/index-hero/' ~ pic.name ~ '@2x.png' ) | theme }} 2x"
                alt="{{ pic.name }}"
                width="{{ pic.width }}"
                height="{{ pic.height }}"
            >
            {% endfor %}
        </div>
    </div>
</section>