{% set id = 'index-program-' ~ random() %}

<section class="page-index-program page-index__program {{ data.v_gap | vgap }}" aria-labelledby="{{ id }}">
    <div class="container page-index-program__inner">
        <h2 id="{{ id }}" class="h2 page-index-program__title">{{ data.title }}</h2>

        <div class="page-index-program__block1 page-index-program-block-v1 page-index-program-block-v1_bg1">
            <div class="page-index-program-block-v1__label">Лёгкий старт</div>

            <div class="page-index-program-block-v1__col-content">
                <div class="page-index-program-block-v1__title">{{ data.block1_title }}</div>
                <div class="page-index-program-block-v1__text">{{ data.block1_text }}</div>
                {% if data.block1_price %}
                <div class="page-index-program-block-v1__price">{{ data.block1_price }}</div>
                {% endif %}

                {% if data.block1_url %}
                <div class="page-index-program-block-v1__link-wrap">
                    <a class="button-tertiary" href="{{ data.block1_url }}">
                        <span class="button-tertiary__text">подробнее</span>
                        {% partial 'components/icon'
                            icon="arrow-right"
                            css="button-tertiary__icon"
                            width="35"
                            height="24"
                        %}
                    </a>
                </div>
                {% endif %}
            </div>
        </div>

        <div class="page-index-program__block2 page-index-program-block-v1 page-index-program-block-v1_bg2">
            <div class="page-index-program-block-v1__label">Эффективный результат</div>

            <div class="page-index-program-block-v1__col-content">
                <div class="page-index-program-block-v1__title">{{ data.block2_title }}</div>
                <div class="page-index-program-block-v1__text">{{ data.block2_text }}</div>
                {% if data.block2_price %}
                <div class="page-index-program-block-v1__price">{{ data.block2_price }}</div>
                {% endif %}

                {% if data.block2_url %}
                <div class="page-index-program-block-v1__link-wrap">
                    <a class="button-tertiary" href="{{ data.block2_url }}">
                        <span class="button-tertiary__text">подробнее</span>
                        {% partial 'components/icon'
                            icon="arrow-right"
                            css="button-tertiary__icon"
                            width="35"
                            height="24"
                        %}
                    </a>
                </div>
                {% endif %}
            </div>

            <div class="page-index-program-block-v1__col-video">
                <div class="video-player">
                    <img
                        class="video-player__img"
                        src="{{ 'assets/img/dev/page-index/program/video.jpg' | theme }}"
                        srcset="{{ 'assets/img/dev/page-index/program/video@2x.jpg' | theme }} 2x"
                        alt="Видео с индивидуальным тренером"
                        loading="lazy"
                    >
                    <button class="clear-button video-player__btn" type="button">
                        {% partial 'components/icon'
                            icon="play"
                            css="button-secondary__icon"
                            width="29"
                            height="33"
                        %}
                    </button>
                </div>
            </div>
        </div>

        <div class="page-index-program__block3 page-index-program-block-v2">
            <div class="page-index-program-block-v2__title">{{ data.block3_title }}</div>
            <div class="page-index-program-block-v2__text">{{ data.block3_text }}</div>
            <div class="page-index-program-block-v2__btn-wrap">
                {% if data.block3_url %}
                <a class="button-secondary" href="{{ data.block3_url }}">
                    <span class="button-secondary__text">пройти тест</span>

                    {% partial 'components/icon'
                        icon="arrow-right"
                        css="button-secondary__icon"
                        width="35"
                        height="24"
                    %}
                </a>
                {% endif %}
            </div>
        </div>
    </div>
</section>