{% set id = 'index-exercise-' ~ random() %}

<section class="exercise page-index__exercise {{ data.v_gap | vgap }}" aria-labelledby="{{ id }}">
    <div class="container exercise__inner">
        <h2 id="{{ id }}" class="h2 exercise__title">{{ data.title | nl2br }}</h2>
        <p class="exercise__sub-title">{{ data.sub_title | nl2br }}</p>

        <div class="exercise__tabs js-exercise-tabs">
            <ul class="exercise__tabs-list">
                <li data-control="panel1" class="exercise__tab exercise__tab_active js-tab">Снижаем</li>
                <li data-control="panel2" class="exercise__tab js-tab">Повышаем</li>
            </ul>

            <div class="exercise__panels">
                <div id="panel1" class="exercise__panel exercise__panel_active js-panel">
                    <div class="exercise__list">
                        {% for item in data.list1 %}
                        <div class="exercise__list-item">
                            <h3 class="h3 exercise__list-title" style="background-image: url({{ item.icon | media }});">
                                {{ item.title }}
                            </h3>
                            <div class="exercise__list-text">{{ item.text }}</div>
                        </div>
                        {% endfor %}
                    </div>
                </div>

                <div id="panel2" class="exercise__panel js-panel">
                    <div class="exercise__list">
                        {% for item in data.list2 %}
                        <div class="exercise__list-item">
                            <h3 class="h3 exercise__list-title" style="background-image: url({{ item.icon | media }});">
                                {{ item.title }}
                            </h3>
                            <div class="exercise__list-text">{{ item.text }}</div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>