{% set id = 'benefit-' ~ random() %}

<section class="lack-of-recovery {{ data.v_gap | vgap }}" aria-labelledby="{{ id }}">
    <div class="lack-of-recovery__inner container">
        <h2 id="{{ id }}" class="h2 lack-of-recovery__title">{{ data.title }}</h2>
        <div class="lack-of-recovery__sub-title">{{ data.sub_title }}</div>

        <ul class="lack-of-recovery__list">
            {% for item in data.list %}
            <li class="lack-of-recovery__item">
                {%
                    partial 'components/icon'
                    width=40
                    height=40
                    icon="stop"
                    css="lack-of-recovery__item-icon"
                %}
                {{ item.text }}
            </li>
            {% endfor %}
        </ul>
    </div>
</section>