{% set id = 'list-with-phone-' ~ random() %}

<section class="list-with-phone {{ data.v_gap | vgap }}" aria-labelledby="{{ id }}">
    <div class="list-with-phone__inner container">
        <h2 id="{{ id }}" class="h2 list-with-phone__title">{{ data.title }}</h2>

        {% set paragraphs = data.text | split('\r') %}

        {% if paragraphs | length %}
        <div class="list-with-phone__text">
            {% for p in paragraphs %}
                <p>{{ p }}</p>
            {% endfor %}
        </div>
        {% endif %}

        <div class="list-with-phone__list">
            {% for item in data.list %}
                <li class="list-with-phone__list-item">
                    <div class="list-with-phone__list-item-img-wrap">
                        <img
                            class="list-with-phone__list-item-img"
                            width="191"
                            height="383"
                            src="{{ item.img | media }}"
                            srcset="{{ item.img | media }} 2x"
                            alt="{{ item.img_alt }}"
                            loading="lazy"
                        >
                    </div>

                    {% if item.title %}
                    <h3 class="h3 list-with-phone__list-item-title">{{ item.title }}</h3>
                    {% endif %}
                    <div class="list-with-phone__list-item-text">{{ item.text }}</div>
                </li>
            {% endfor %}
        </div>
    </div>
</section>