{% set id = 'logos-' ~ random() %}

<section class="logos {{ data.v_gap | vgap }} js-logos" aria-labelledby="{{ id }}">
    <div class="logos__inner container">
        <h1 class="logos__title h2" id="{{ id }}">{{ data.title }}</h1>

        {% if data.sub_title %}
        <p class="logos__sub-title subheader">{{ data.sub_title }}</p>
        {% endif %}

        {% partial 'components/carousel-scroll-legend' css="logos__scroll-legend" %}

        <div class="logos__carousel js-carousel">
            <ul class="logos__carousel-inner js-wrapper">
                {% for slide in data.items %}
                    <li class="logos__carousel-slide js-slide">
                        <a
                            {% if slide.url %}
                            href="{{ slide.url }}"
                            {% endif %}
                            class="logos__carousel-slide-link"
                            title="{{ slide.title }}"
                        >
                            <img
                                class="logos__carousel-slide-img"
                                loading="lazy"
                                src="{{ slide.img | media }}"
                                alt="{{ slide.title }}"
                            >
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>