{% set id = 'online-program-' ~ random() %}

<section class="online-program {{ data.v_gap | vgap }}" aria-labelledby="{{ id }}">
    <div class="online-program__inner container">
        <div class="online-program__title-wrap">
            <h2 id="{{ id }}" class="h2 online-program__title">{{ data.title }}</h2>
            <div class="online-program__sub-title">{{ data.subtitle }}</div>
        </div>

        <div class="online-program__list-wrap">
            <ul class="online-program__list">
                {% for item in data.list %}
                <li class="online-program__item">
                    <div class="online-program__item-title">{{ item.title }}</div>
                    <div class="online-program__item-subtitle">{{ item.subtitle }}</div>
                </li>
                {% endfor %}
            </ul>

            {% if data.link_url %}
            <a
                href="{{ data.link_url }}"
                class="button-secondary online-program__btn"
            >
                <span class="button-secondary__text">{{ data.link_text }}</span>

                {% partial 'components/icon'
                    icon="arrow-right"
                    css="button-secondary__icon"
                    width="35"
                    height="24"
                %}
            </a>
            {% endif %}
        </div>
    </div>
</section>

