{% if data.block == 'blog' %}
    <div class="{{ data.v_gap | vgap }}">
        <div class="container">
            {% partial 'page-index/blog' data=section %}
        </div>
</div>
{% endif %}

{% if data.block == 'faq' %}
    <div class="{{ data.v_gap | vgap }}">
        {% partial 'blocks/faq/list' data=section %}
    </div>
{% endif %}

{% if data.block == 'reviews' %}
    <div class="{{ data.v_gap | vgap }}">
        {% partial 'page-index/review' data=section %}
    </div>
{% endif %}

{% if data.block == 'reviews_all' %}
    <div class="{{ data.v_gap | vgap }}">
        {% partial 'page-index/review' data=section all=true %}
    </div>
{% endif %}