==
<?php
    use Art\Payment\Models\Product;

    function onStart() {
        $temp = $this->data;

        foreach ( $temp[ 'options' ] as $optionId => $option ) {
            $priceId = $option[ 'price_id' ];
            $product = Product::find( $priceId );

            $price = $product->price;
            $oldPrice = $product->old_price;

            $temp[ 'options' ][ $optionId ][ 'old_price' ] = $oldPrice;
            $temp[ 'options' ][ $optionId ][ 'price' ] = $price;
            $temp[ 'options' ][ $optionId ][ 'price_code' ] = $product->code;
            $temp[ 'options' ][ $optionId ][ 'percent' ] = '';

            if( $oldPrice ) {
                $temp[ 'options' ][ $optionId ][ 'percent' ] = '-' . round( ( ( $oldPrice - $price ) / $oldPrice ) * 100 ) . '%';
            }

        }
        $this[ 'new_data' ] = $temp;
    }
?>
==
{% set data = new_data %}

{%
    set formFields = {
        name: {
            type: 'text',
            icon: 'user',
            name: 'name',
            id: 'input-name-' ~ random(),
            validationName: 'name',
            placeholder: 'Имя',
        },
        mail: {
            type: 'email',
            icon: 'mail',
            name: 'contacts[mail]',
            id: 'input-phone-' ~ random(),
            validationName: 'contacts.mail',
            placeholder: 'Электронная почта',
        },
        phone: {
            type: 'tel',
            icon: 'phone',
            name: 'contacts[phone]',
            id: 'input-phone-' ~ random(),
            validationName: 'contacts.phone',
            placeholder: 'Номер телефона',
        }
    }
%}

<section class="price-simple {{ data.v_gap | vgap }} js-price-scroll">
    <div class="price-simple__inner container">
        <h2 class="h2 price-simple__title">{{ data.title }}</h2>

        <form
            action=""
            method="post"
            data-redirect="{{ data.redirect_url | default('') }}"
            data-requestx="Form::onSubmit"
            class="price-simple__form js-price-simple"
        >
            <input type="hidden" name="type" value="4">
            <input type="hidden" name="privacy" value="1">

            {% set priceCode = data.options | length ? data.options[0].price_code : '' %}
            <input class="js-price-code" type="hidden" name="data[price_code]" value="{{ priceCode }}">

            <fieldset class="price-simple__col-options">
                {% for option in data.options %}
                {% set optionId = 'option' ~ loop.index %}
                <input
                    {{ loop.index == 1 ? 'checked' }}
                    id="{{ optionId }}"
                    type="radio"
                    name="data[type]"
                    value="{{ option.title }}"
                    data-price-code="{{ option.price_code }}"
                    class="visuallyhidden price-simple__input js-option"
                >

                <label class="price-simple__option" for="{{ optionId }}">
                    <div class="price-simple__option-title">{{ option.title }}</div>

                    <div class="price-simple__option-price-wrap">
                        <div class="price-simple__option-price">{{ option.price | price }}</div>
                        {% if option.old_price %}
                        <s class="price-simple__option-price-old">{{ option.old_price | price }}</s>
                        {% endif %}

                        {#
                        {% if option.discount_comment %}
                            <div class="price-simple__option-discount-comment">{{ option.discount_comment}}</div>
                        {% endif %}
                        #}

                        {% if option.percent %}
                            <div class="price-simple__option-percent">{{ option.percent | raw }}</div>
                        {% endif %}
                    </div>

                    <div class="price-simple__option-comment">{{ tagSelect( option.comment ) }}</div>
                </label>
                {% endfor %}
            </fieldset>

            <div class="price-simple__inputs">
                <div class="price-simple__label-wrap">
                    <span class="tag price-simple__label">{{ data.label }}</span>
                </div>

                <div class="price-simple__comment">{{ tagSelect( data.comment ) }}</div>

                <div class="price-simple__form-row">
                    {% partial 'components/form/form-field' options=formFields.name %}
                </div>

                <div class="price-simple__form-row">
                    {% partial 'components/form/form-field' options=formFields.phone %}
                </div>

                <div class="price-simple__form-row">
                    {% partial 'components/form/form-field' options=formFields.mail %}
                </div>

                <div class="price-simple__privacy">Оставляя почту и номер телефона, вы соглашаетесь с <a href="/politika-konfidencialnosti" title="Политика конфиденциальности">Политикой конфиденциальности</a></div>
            </div>

            <div class="price-simple__submit-wrap">
                <button
                    type="submit"
                    class="price-simple__submit"
                >
                    {{ data.btn_text | nl2br | default('Купить') | raw }}
                </button>
            </div>

            <div class="price-simple__bg-round"></div>
        </form>
    </div>
</section>