==
<?php
    use Art\Payment\Models\Product;

    function onStart() {
        $temp = $this->data;
        foreach ( $temp[ 'list' ] as $itemId => $item ) {
            foreach ( $item[ 'tabs' ] as $tabId => $tab ) {
                $priceId = $tab[ 'price_id' ];
                $product = Product::find( $priceId );
                $temp[ 'list' ][ $itemId ][ 'tabs' ][ $tabId ][ 'price' ] = $product->price;
                $temp[ 'list' ][ $itemId ][ 'tabs' ][ $tabId ][ 'old_price' ] = $product->old_price;
                $temp[ 'list' ][ $itemId ][ 'tabs' ][ $tabId ][ 'price_code' ] = $product->code;
            }
        }
        $this[ 'new_data' ] = $temp;
    }
?>
==

{% set data = new_data %}
{% set randomId = random() %}
{% set id = 'price-' ~ randomId %}

<section class="price {{ data.v_gap | vgap }} js-price js-price-scroll" aria-labelledby="{{ id }}">
    <div class="price__inner container">
        <h2 id="{{ id }}" class="h2 price__title">{{ data.title }}</h2>
        <div class="price__sub-title">{{ data.subtitle }}</div>

        {% partial 'components/carousel-scroll-legend' css="price__scroll-legend" %}

        <div class="price__list js-carousel">
            <ul class="price__list-wrapper js-wrapper">
                {% for item in data.list %}
                <li class="price__item js-slide">
                    <div class="price__item-title">{{ item.title }}</div>
                    <div class="price__item-subtitle">{{ item.subtitle }}</div>
                    <div class="price__item-img-wrap">
                        <img
                            class="price__item-img"
                            src="{{ item.img | media }}"
                            alt="{{ item.title }}"
                            role="presentation"
                            width="244"
                            header="140"
                        >
                    </div>

                    <div class="price__tabs js-tabs2">
                        <ul class="price__tabs-navs-list">
                            {% for tab in item.tabs %}
                            <li class="price__tabs-nav {{ loop.index == 1 ? 'price__tabs-nav_active' }}">
                                <button
                                    data-control="panel{{ loop.index }}"
                                    class="price__tabs-nav-btn js-tab"
                                    type="button"
                                >{{ tab.title }}</button>
                            </li>
                            {% endfor %}
                        </ul>

                        {% for tab in item.tabs %}
                        <div
                        id="panel{{ loop.index }}"
                        class="price__tabs-content {{ loop.index == 1 ? 'price__tabs-content_show' }} js-panel"
                        >
                            {%
                                partial 'components/price-tab'
                                item=tab
                                tabId=loop.index
                                title=item.title
                            %}
                        </div>
                        {% endfor %}
                    </div>

                    {% if item.label != '' %}
                        <div class="price__item-label tag">{{ item.label }}</div>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        </div>

        <ul class="carousel-pagination js-pagination"></ul>
    </div>
</section>