<section class="price3 {{ data.v_gap | vgap }}">
    <div class="price3__inner container">
        <h2 class="h2 price3__main-title">{{ data.main_title }}</h2>

        <div class="price3__col-info">
            {% if data.video %}
            <div class="price3__video-title">Включите видео</div>

            <div class="price3__video-wrapper video-player2" data-selector="video-player2">
                <video
                    autoplay
                    muted
                    loop
                    playsinline
                    src="{{ data.video | media }}"
                    poster="{{ data.poster | media }}"
                    class="video-player2__player"
                    data-selector="player"
                ></video>

                <button type="button" data-selector="volume" class="video-player2__btn">
                    {%
                        partial 'components/icon'
                        width="44"
                        height="44"
                        icon="volume"
                    %}
                </button>
            </div>
            {% endif %}

            {% if data.info_title %}
            <h3 class="h2 price3__info-title">{{ data.info_title }}</h3>
            {% endif %}

            {% if data.info_list | length %}
            <ul class="price3__list">
                {% for item in data.info_list %}
                    <li class="price3__list-item">
                        <div class="h3 price3__list-title">{{ item.title }}</div>
                        {% if item.text %}
                        <div class="price3__list-text">{{ item.text }}</div>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
            {% endif %}

            {% if data.info_comment %}
            <div class="price3__info-comment">{{ data.info_comment }}</div>
            {% endif %}

            {% if data.info_label %}
            <div class="price3__tag-row"><span class="tag" style="--tag-bg-color: var( --color-secondary-main )">{{ data.info_label }}</span></div>
            {% endif %}
        </div>

        <div class="price3__col-form">
            {% if data.form_title %}
                <h3 class="price3__form-title">{{ data.form_title | raw | nl2br }}</h3>
            {% endif %}

            {% if data.form_subtitle %}
                <div class="h3 price3__form-subtitle">{{ data.form_subtitle | raw | nl2br }}</div>
            {% endif %}

            {% if data.form_list_before | length %}
            <ul class="price3__form-list-before">
                {% for item in data.form_list_before %}
                    <li class="price3__form-list-before-item">{{ item.text }}</li>
                {% endfor %}
            </ul>
            {% endif %}

            {% if data.form_code %}
            <div class="price3__form-wrapper js-price-scroll">
                {{ data.form_code | raw }}
            </div>
            {% endif %}

            {% if data.form_img_after %}
                <img class="price3__form-img-after" src="{{ data.form_img_after | media }}">
            {% endif %}
{#
{%
    set formFields = {
        name: {
            type: 'text',
            icon: 'user',
            name: 'name',
            id: 'input-name-' ~ random(),
            validationName: 'name',
            placeholder: 'Имя',
        },
        mail: {
            type: 'email',
            icon: 'mail',
            name: 'contacts[mail]',
            id: 'input-phone-' ~ random(),
            validationName: 'contacts.mail',
            placeholder: 'Электронная почта',
        },
        phone: {
            type: 'tel',
            icon: 'phone',
            name: 'contacts[phone]',
            id: 'input-phone-' ~ random(),
            validationName: 'contacts.phone',
            placeholder: 'Номер телефона',
        }
    }
%}

            <div class="price3__form external-form">
                <div class="external-form__row">
                    {% partial 'components/form/form-field' options=formFields.name %}
                </div>

                <div class="external-form__row">
                    {% partial 'components/form/form-field' options=formFields.phone %}
                </div>

                <div class="external-form__row">
                    {% partial 'components/form/form-field' options=formFields.mail %}
                </div>

                <div class="external-form__row">
                    <button type="submit" class="button-primary external-form__button">
                        <span class="button-primary__text">ОСТАВИТЬ ЗАЯВКУ</span>
                    </button>
                </div>

                <div class="price-simple__privacy">Оставляя почту и номер телефона, вы соглашаетесь с <a href="/politika-konfidencialnosti" title="Политика конфиденциальности">Политикой конфиденциальности</a></div>
            </div>
#}
            {% if data.form_list_after | length %}
            <ul class="price3__form-list-after">
                {% for item in data.form_list_after %}
                    <li class="price3__form-list-after-item">
                        <img width="60" height="60" class="price3__form-list-after-icon" src="{{ item.icon | media }}" aria-hidden="true" title="">
                        <div class="price3__form-list-after-title">{{ item.title | raw }}</div>
                        <div class="price3__form-list-after-text">{{ item.text }}</div>
                    </li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
    </div>
</section>