==
<?php
    function getItemId( string $slug ) {
        $arr	= explode( '-', $slug );
        return is_numeric( $arr[0] ) ? $arr[0] : false;
    }

    function onStart() {
        $slug	= $this->param( 'slug' );
        $itemId	= $this->getItemId( $slug );

        $item	= \Ed\Programs\Models\Item::whereId( $itemId )
                        ->published()
                        ->with([
                            'category'  => function( $q ) {
                                $q->published();
                            }
                        ])
                        ->first();

    }
?>
==
<div class="program-header {{ data.v_gap | vgap }}">
    <div class="program-header__inner container">
        <h1 class="h1 program-header__title">{{ item.title }}</h1>
        <div class="program-header__sub-title">{{ data.subtitle }}</div>
        <div class="program-header__comment">{{ data.comment }}</div>
        <div class="program-header__img-wrapper">
            <img class="program-header__img" src="{{ item.icon.getPath() }}" width="200" height="200" alt="">
        </div>
        <span class="tag program-header__label" style="--tag-bg-color: {{ item.category.color }};">{{ item.category.title }}</span>
    </div>
</div>