<div x-ref="root" x-data="quize2({ id : {{ data.id }} })">
    <template x-for="slide, slideIdx in slides">
        <div>
            <template x-if="currentSlide == slideIdx">
                <div>
                    <template x-if="slide._group == 'intro1'">
                        {% partial 'quize2/intro1' %}
                    </template>

                    <template x-if="slide._group == 'intro2'">
                        {% partial 'quize2/intro2' %}
                    </template>

                    <template x-if="slide._group == 'phone'">
                        {% partial 'quize2/phone' %}
                    </template>

                    <template x-if="slide._group == 'video'">
                        {% partial 'quize2/video' %}
                    </template>

                    <template x-if="slide._group == 'form'">
                        {% partial 'quize2/form' %}
                    </template>

                    <template x-if="slide._group == 'finish'">
                        {% partial 'quize2/finish' %}
                    </template>

                    <template x-if="slide._group == 'finish2'">
                        {% partial 'quize2/finish2' %}
                    </template>
                </div>
            </template>
        </div>
    </template>
</div>