<div class="quiz-app js-quiz" x-ref="root" x-data="quize({ id : {{ data.id }} })">
    <template x-for="slide, slideIdx in slides">
        <template x-if="finish == false && currentSlide == slideIdx">
            <div>
                <template x-if="slide._group == 'intro'">
                    {% partial 'quize/intro' %}
                </template>

                <template x-if="slide._group != 'intro'">
                    <div class="quiz-screen" :class="slide._group == 'text' ? 'quiz-text-screen' : ''">
                        <div class="container">
                            <p
                                x-show="slide._group != 'text' && slide.title !== ''"
                                x-text="slide.title"
                                class="h2 text-center"
                            ></p>

                            <p
                                x-show="slide._group != 'text' && slide.text !== ''"
                                x-text="slide.text"
                                class="mt-30 text-center"
                            ></p>

                            <template x-if="slide._group == 'text'">
                                <div class="quiz-screen__content">
                                    {% partial 'quize/slide-text' %}
                                </div>
                            </template>

                            <template x-if="slide._group == 'form'">
                                <div class="quiz-screen__content">
                                    <template x-for="field in slide.fields">
                                        <template x-if="field._group == 'input'">
                                            {% partial 'quize/form-input' %}
                                        </template>
                                    </template>
                                </div>
                            </template>

                            <template x-if="slide._group == 'phone'">
                                <div class="quiz-screen__content">
                                    {% partial 'quize/phone' %}
                                </div>
                            </template>

                            <template x-if="slide._group == 'radio' || slide._group == 'checkbox'">
                                <div class="quiz-screen__content">
                                    {% partial 'quize/slide-radio' %}
                                </div>
                            </template>

                            <template x-if="slide._group == 'video'">
                                <div class="quiz-screen__content">
                                    {% partial 'quize/slide-video' %}
                                </div>
                            </template>

                            <div class="mt-30 text-center">
                                <button
                                    x-show="currentSlide > 0"
                                    @click="prevSlide"
                                    class="button-secondary"
                                    type="button"
                                >Назад</button>

                                <button
                                    :disabled="nextDisabled"
                                    x-bind="btnNextSlide"
                                    class="button-secondary"
                                    type="button"
                                    x-text="nextBtnText"
                                >Далее</button>
                            </div>

                            <div x-text="`Вопрос ${ currentSlide + 1 } из ${ slides.length }`"  class="text-center mt-30" style="color: var(--color-text-additional)"></div>
                        </div>
                    </div>
                </template>
            </div>
        </template>
    </template>

    <template x-if="finish == true">
        <div class="quiz-screen">
            <div class="container">
                <p class="h2 text-center">Мы закончили</p>

                <p class="mt-30 text-center">Наиболее подходящий курс для вас по ссылке ниже</p>

                <p class="mt-30 text-center">
                    <a class="button-secondary" href="">Перейти</a>
                </p>
            </div>
        </div>
    </template>
</div>