{%
    set formFields = {
        name: {
            type: 'text',
            icon: 'user',
            name: 'name',
            id: 'input-name-' ~ random(),
            validationName: 'name',
            placeholder: 'Имя',
        },
        mail: {
            type: 'email',
            icon: 'mail',
            name: 'contacts[mail]',
            id: 'input-phone-' ~ random(),
            validationName: 'contacts.mail',
            placeholder: 'Электронная почта',
        },
        phone: {
            type: 'tel',
            icon: 'phone',
            name: 'contacts[phone]',
            id: 'input-phone-' ~ random(),
            validationName: 'contacts.phone',
            placeholder: 'Номер телефона',
        }
    }
%}

<section class="request-video {{ data.v_gap | vgap }}">
    <div class="request-video__inner container">
        <div class="request-video__area-video">
            {% if data.video or data.poster %}
            <video
                autoplay
                muted
                loop
                playsinline
                src="{{ data.video | media }}"
                poster="{{ data.poster | media }}"
                class="request-video__video"
            ></video>
            {% endif %}
        </div>

        <div class="request-video__area-form">
            {% if data.label %}
            <div style="--tag-bg-color: #9fdcd7;" class="tag request-video__label">{{ data.label }}</div>
            {% endif %}

            <h2 class="h2 request-video__title">{{ data.title }}</h2>

            {% if data.subtitle %}
            <p class="request-video__sub-title">{{ data.subtitle }}</p>
            {% endif %}

            {% if data.text %}
            <p class="request-video__text">{{ data.text }}</p>
            {% endif %}

            <form
                action=""
                data-requestx="Form::onSubmit"
                data-redirect="{{ data.redirect_url | default('') }}"
                method="post"
                class="request-video__form js-request-video"
            >
                <input type="hidden" name="type" value="5">
                <input style="display: none;" type="checkbox" name="privacy" checked value="1">

                <div class="price-simple__form-row">
                    {% partial 'components/form/form-field' options=formFields.name %}
                </div>

                <div class="price-simple__form-row">
                    {% partial 'components/form/form-field' options=formFields.phone %}
                </div>

                <div class="price-simple__form-row">
                    {% partial 'components/form/form-field' options=formFields.mail %}
                </div>

                <div class="form-field__error" data-validation-error="contacts.mail"></div>

                <div class="request-video__form-privacy">
                    Оставляя почту, вы соглашаетесь с <a href="#">Политикой конфиденциальности</a>
                </div>

                <div class="request-video__submit-wrap">
                    <button
                        class="button-secondary request-video__submit request-video__submit_tg"
                        type="submit"
                        data-messanger="telegram"
                    >
                        <span class="button-secondary__text">{{ data.btn_text }}</span>
                        {%
                            partial 'components/icon'
                            icon="social-tg"
                            width="24"
                            height="24"
                            css="button-secondary__icon"
                        %}
                    </button>

                    <button
                        class="button-secondary request-video__submit request-video__submit_vk"
                        type="submit"
                        data-messanger="vk"
                    >
                        <span class="button-secondary__text">{{ data.btn_text }}</span>
                        {%
                            partial 'components/icon'
                            icon="social-vk"
                            width="24"
                            height="24"
                            css="button-secondary__icon"
                        %}
                    </button>
                </div>
            </form>
        </div>
    </div>
</section>