<section class="request-plan {{ data.v_gap | vgap }}" aria-label="Оставить заявку на план занятий">
    <div class="request-plan__inner container">
        <div class="request-plan__area-text">
            {% for p in data.text | split("\n") %}
                <p>{{ p }}</p>
            {% endfor %}
        </div>

        <form
            action=""
            data-requestx="Form::onSubmit"
            method="post"
            class="request-plan__area-form js-request-test-form"
        >
            <input type="hidden" name="name" value="Аноним">
            <input type="hidden" name="type" value="2">
            <input style="display: none;" type="checkbox" name="privacy" checked value="1">

            <div class="request-plan__input-wrap">
                <input
                    type="email"
                    placeholder="Электронная почта"
                    class="request-plan__input"
                    name="contacts[mail]"
                >
            </div>

            <div class="form-field__error" data-validation-error="contacts.mail"></div>

            <div class="request-plan__form-privacy">
                Оставляя почту, вы соглашаетесь с <a href="#">Политикой конфиденциальности</a>
            </div>

            <div class="request-plan__submit-wrap">
                <button
                    class="button-secondary request-plan__submit"
                    type="submit"
                >Хочу описание</button>
            </div>
        </form>
    </div>
</section>