{% set id = 'sign-up-now-' ~ random() %}

<section class="sign-up-now {{ data.v_gap | vgap }}" aria-labelledby="{{ id }}">
    <div class="container">
        <div class="sign-up-now__inner">
            <h2 id="{{ id }}" class="h2 sign-up-now__title">{{ data.title }}</h2>

            <div class="sign-up-now__tabs js-tabs3">
                {% set tabIdPrefix = 'sign-up-now-' %}
                <ul class="sign-up-now__tabs-navs-list">
                    {% for tab in data.tabs %}
                    <li class="sign-up-now__tabs-nav {{ loop.index == 1 ? 'sign-up-now__tabs-nav_active' }}">
                        <button
                            data-control="{{ tabIdPrefix ~ loop.index }}"
                            class="sign-up-now__tabs-nav-btn js-tab"
                            type="button"
                        >{{ tab.title }}</button>
                    </li>
                    {% endfor %}
                </ul>

                {% for tab in data.tabs %}
                <div
                    id="{{ tabIdPrefix ~ loop.index }}"
                    class="sign-up-now__tabs-content {{ loop.index == 1 ? 'sign-up-now__tabs-content_show' }} js-panel"
                >
                    <div class="sign-up-now__card">
                        <div class="sign-up-now__card-title">{{ tab.price }}</div>
                        {% if tab.list %}
                        <ul class="sign-up-now__card-list">
                            {% for item in tab.list | split("\r") %}
                                <li class="sign-up-now__card-list-item">{{ item }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>

                    <div class="sign-up-now__btn-wrap">
                        <button
                            type="button"
                            data-scroll=".js-price-scroll"
                            class="sign-up-now__btn"
                        >
                            {{ data.btn_text | nl2br | default('Купить') | raw }}
                        </button>
                    </div>
                    <div class="sign-up-now__bg-round"></div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>