{% set formId = 'submit-your-application-form-' ~ random() %}

{%
    set formFields = {
        name: {
            type: 'text',
            label: 'Ваше имя',
            name: 'name',
            id: 'input-name-' ~ random(),
            validationName: 'name',
            placeholder: 'Ваше имя',
        },
        phone: {
            type: 'tel',
            label: 'Телефон',
            name: 'contacts[phone]',
            id: 'input-phone-' ~ random(),
            validationName: 'contacts.phone',
            placeholder: 'Телефон',
        },
        mail: {
            type: 'email',
            label: 'Ваш Email',
            name: 'contacts[mail]',
            id: 'input-phone-' ~ random(),
            validationName: 'contacts.mail',
            placeholder: 'Ваш Email',
        }
    }
%}

<section class="submit-your-application {{ data.v_gap | vgap }}" aria-label="Оставить заявку">
    <div class="submit-your-application__inner container">
        <ul class="submit-your-application__list">
            {% for item in  data.list %}
            <li class="submit-your-application__item" style="background-image: url({{ item.icon | media }});">
                <div class="h3 submit-your-application__title">{{ item.title }}</div>
                <div class="submit-your-application__text">{{ item.text }}</div>
            </li>
            {% endfor %}
        </ul>

        <div class="submit-your-application__btn-wrapper">
            <button
                data-scroll=".js-price-scroll"
                class="submit-your-application__btn"
                type="button"
            >{{ data.btn_text | nl2br | default('Оставить<br>заявку') | raw }}</button>
        </div>

        <div class="submit-your-application__bg-round"></div>
    </div>
</section>