{% set id = 'we-are-trusted-' ~ random() %}

<section class="we-are-trusted {{ data.v_gap | vgap }} js-authors-list" aria-labelledby="{{ id }}">
    <div class="we-are-trusted__inner container">
        <h2 id="{{ id }}" class="h2 we-are-trusted__title">{{ data.title }}</h2>

        <div class="we-are-trusted__carousel js-carousel">
            <ul class="we-are-trusted__list js-wrapper">
                {% for i in 0..3 %}
                {% for item in data.list %}
                <li class="we-are-trusted__item js-slide">
                    <a class="we-are-trusted__link">
                        <picture>
                            <img
                                class="we-are-trusted__logo"
                                src="{{ item.logo | media }}"
                                alt="{{ item.name }}"
                            >
                        </picture>
                    </a>
                </li>
                {% endfor %}
                {% endfor %}
            </ul>

            <div class="authors-list__nav-wrapper js-navs"></div>
        </div>
    </div>
</section>