{% set id = 'what-you-get-' ~ random() %}

<section class="what-you-get {{ data.v_gap | vgap }}" aria-labelledby="{{ id }}">
    <div class="what-you-get__inner container">
        <h2 id="{{ id }}" class="h2 what-you-get__title">{{ data.title }}</h2>

        <div class="what-you-get__content">
            <ul class="what-you-get__list">
                {% for item in data.list %}
                    <li class="what-you-get__list-item">
                        <h3 class="h3 what-you-get__list-item-title">{{ item.title }}</h3>
                        <p class="what-you-get__list-item-text">{{ item.text }}</p>
                    </li>
                {% endfor %}
            </ul>

            {% if data.image %}
            <div class="what-you-get__img-wrap">
                <img
                    src="{{ data.image | media }}"
                    alt="{{ data.title }}"
                    class="what-you-get__img"
                >
            </div>
            {% endif %}
        </div>
    </div>
</section>