{% set id = 'who-suits-' ~ random() %}

<section class="who-suits {{ data.v_gap | vgap }}" aria-labelledby="{{ id }}">
    <div class="who-suits__inner container">
        <h2 id="{{ id }}" class="h2 who-suits__title">{{ data.title }}</h2>
        <div class="who-suits__sub-title">{{ data.subtitle }}</div>

        <div class="who-suits__block who-suits__block_suits">
            <div class="who-suits__list-title">Кому подходит</div>

            <ul class="who-suits__list">
                {% for item in data.list_suits %}
                <li class="who-suits__list-item">{{ item.title | md }}</li>
                {% endfor %}
            </ul>
        </div>

        <div class="who-suits__block who-suits__block_no-suits">
            <div class="who-suits__list-title who-suits__list-title_accent">Кому <span><span class="who-suits__word-select">НЕ</span>&nbsp;подходит</span></div>

            <ul class="who-suits__list">
                {% for item in data.list_no_suits %}
                <li class="who-suits__list-item">{{ item.title | md }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>