@mixin componentControl( $size, $weight : false ) {
    @if( $weight ) {
        font-weight: $weight;
    }

    @if $size == 'xl' {
        @include fs(20,28);
    }
    
    @if $size == 'l' {
        @include fs(16,24);
    }

    @if $size == 'm' {
        @include fs(14,22);
    }

    @if $size == 's' {
        @include fs(13,20);
    }

    @if $size == 'xs' {
        @include fs(11,16);
    }
}