$baseFontSize: 16px;
$wrapperPaddingVal: 20 !default;
$wrapperPadding: rem( $wrapperPaddingVal );
$baseFontWeight: 400;
$baseLineHeight: 1.3;
$focusWidth: 3;
$focusRadius: 6;

// =====
$screens: getScreens();

$assetsPath: '' !default;
$componentsImgPath: '' !default;

$fonts: (
    default : ("Nunito", sans-serif),
);

$z-layers: (
    'header': 15,
    'notifications' : 100000,
);