@import 'utils/colors';

@function strip-unit($num) {
    @return $num / ($num * 0 + 1);
}

@function colPropertyName( $size ) {
    @return #{ '--col-' + $size };
}

@function col( $colsNumber ) {
    // @return calc( var(--grid-column-width) * #{ $colsNumber } + var(--grid-gutter) * #{ $colsNumber - 1 } );

    $cols: map-merge( $cols, (
        $colsNumber : calc( var(--grid-column-width) * #{ $colsNumber } + var(--grid-gutter) * #{ $colsNumber - 1 } )
     ) ) !global;

     @return #{ var( colPropertyName( $colsNumber ) ) };
}

@function rem($pixels, $context: $baseFontSize) {
    @if (unitless($pixels)) {
        $pixels: $pixels * 1px;
    }

    @if (unitless($context)) {
        $context: $context * 1px;
    }

    @return $pixels / $context * 1rem;
}

@function lh( $font-size, $line-height ) {
    @return $line-height / $font-size;
}

@function em($pixels, $context: $baseFontSize) {
    @if (unitless($pixels)) {
        $pixels: $pixels * 1px;
    }

    @if (unitless($context)) {
        $context: $context * 1px;
    }

    @return $pixels / $context * 1em;
}

@function propertyName( $paletteName, $colorName) {
    @return #{ '--color-' + $paletteName + '-' + $colorName };
}

@function rgba2( $color, $opacity ) {
    $rgb : _hex2rgb( $color );
    @return rgba(
            map-get( $rgb, 'r' ),
            map-get( $rgb, 'g' ),
            map-get( $rgb, 'b' ),
            $opacity
        );
}

@function color2( $paletteName, $colorName, $root: false ) {
    $palette: map-get( $themeColors, $paletteName );

    @if( type-of( $palette ) != 'map' ) {
        @debug 'Palette "#{ $paletteName }" not found!';
        @return '';
    }

    $hex: map-get( $palette, quote( $colorName ) );

    @if( type-of( $hex ) != 'string' ) {
        @debug 'Color "#{ $colorName }" in palette "#{ $paletteName }" not found!';
        @return '';
    }

    @if $root {
        $propertyName : propertyName( $paletteName, $colorName );
        $colors: map-merge( $colors, ( $propertyName: $hex) ) !global;
        @return #{ var( $propertyName ) };
    } @else {
        @return $hex;
    }
}

@function spacePropertyName( $size ) {
    @return #{ '--space-' + $size };
}

@function space( $size ) {
    $spaces: map-merge( $spaces, ( $size : rem( $size ) ) ) !global;
    @return #{ var( spacePropertyName( $size ) ) };
}

//width: screen( $size );
@function screen( $size ) {
    @if map-has-key( $screens, $size ) {
        @return rem( strip-unit( map-get( $screens, $size ) ) );
    } @else {
        @return $size;
    }
}

//font-family: font( $font );
@function font( $font ) {
    @if map-has-key($fonts, $font) {
        @return map-get($fonts, $font);
    }

    @warn "Unknown `#{$font}` in $fonts.";
    @return null;
}

//z-index: z( $key );
@function z( $key ) {
    @if map-has-key($z-layers, $key) {
        @return map-get($z-layers, $key);
    }

    @warn "Unknown `#{$key}` in $z-layers.";
    @return null;
}