:root {
    --color-text-main: #2C3948;
    --color-text-white: #fff;
    --color-text-header-subheader: #3E4356;
    --color-text-additional: #828891;

    --color-bg-white: #fff;
    --color-bg: #E5E5E5;
    --color-bg-beige-light: #FFFCF9;
    --color-bg-peach: #FFF1EC;

    --color-primary-40: #52A7F4;
    --color-primary-50: #3793E9;
    --color-primary-60: #1B80DE;

    --color-main-shapes: #FEE9E0;

    --color-secondary-main: #FE6464;

    --color-illustrations-red: #FE6464;
    --color-illustrations-black: #3E4356;

    --color-additional-yellow: #F8D0AC;
    --color-additional-yellow-light: #FFDFC1;
    --color-additional-orange-light: #FFDBCB;
    --color-additional-beige-light: #F9DBD4;
    --color-additional-pink-light: #FFDADA;
    --color-additional-beige: #EDC5BC;

    --color-tags-programs-joint: #89CCC8;

    --color-border: #F2E9E5;

    --containerSides: #{ rem(20) };

    --color-block-space: #{ rem(130) };

    --color-system-info: #4F73D0;

    --general-block-space: #{ rem(170) };
}