// @include visuallyhidden();
@mixin visuallyhidden() {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

// @include trans( prop );
@mixin trans( $prop ) {
    transition: $prop $transitionTime linear;
}

// @include fs( $fontSize, $lineHeight );
@mixin fs( $fontSize, $lineHeight ) {
    font-size: rem( $fontSize );
    line-height: lh($fontSize, $lineHeight);
}

// @include rtl();
@mixin rtl() {
    [dir=rtl] & {
        @content
    }
}

// @include ltr();
@mixin ltr() {
    [dir=ltr] & {
        @content
    }
}

//@include clear-button();
@mixin clear-button {
    border: 0;
    background-color: transparent;
    text-decoration: none;
    font-size: inherit;
    font-weight: inherit;
    font-family: inherit;
    color: inherit;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
}

@mixin default-button {
    @include clear-button();
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

//@include placeholder {color: #eee;}
@mixin placeholder {
    &::-webkit-input-placeholder {@content}
    &:-moz-placeholder           {@content}
    &::-moz-placeholder          {@content; opacity: 1;}
    &:-ms-input-placeholder      {@content}
}

//@include m( size )
@mixin m( $sz1, $sz2: null ) {
    $s1 : $sz1;
    $s2 : $sz2;

    @if map-has-key( $screens, $sz1 ) {
        $s1 : rem( map-get( $screens, $sz1 ) );
    }

    @if map-has-key($screens, $sz2) {
        $s2 : rem( map-get( $screens, $sz2 ) );
    }

    @if $s1 != null and $s2 != null {
        @media screen and (min-width: $s1) and (max-width: #{ $s2 - rem(0.02) }) {
            @content;
        }
    } @else {
        @media screen and ( min-width: $s1 ) {
            @content;
        }
    }
}

//@include hr( $color, $size );
@mixin hr( $color:#ccc, $size: 1px  ) {
    border: none;
    background-color: $color;
    color: $color;
    height: $size;
}

//@include debug();
@mixin debug( $color:red, $size: 1px ) {
    box-shadow: inset 0px 0px $size 0px rgba($color, 1 );
}

//@include scrollbars {}
@mixin scrollbars( $size : 12px ) {
    &::-webkit-scrollbar {
        width: $size;
        height: $size;
    }

    &::-webkit-scrollbar-track {
        background-color: #FAFAFA;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #DADADC;
        border-radius: rem(24);

        &:hover {
            background-color: #bebec0;
        }
    }
}