.cbc-media-finder__list{display:flex;flex-wrap:wrap;gap:10px}.cbc-media-finder__item{width:100px;height:100px;border:1px solid #ccc;display:flex;align-items:center;position:relative}.cbc-media-finder__btn-del-item{position:absolute;right:5px;top:5px;z-index:2}.cbc-media-finder__img{width:100%;height:auto;object-fit:contain}
