.pagination {
    display: flex;

    li {
        margin-left: 5px;
        margin-right: 5px;
    }

    a {
        text-decoration: none;

        font-size: rem(14);
        line-height: 1.4;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--color-primary-50);
        
    }
}