$wysiwygWrapper: '.wysiwyg';

#{ $wysiwygWrapper } {
    h1, h2, h3, h4, h5, h6 {
        overflow-wrap: break-word;
    }

    h1, h2, h3, h4, h5, h6, p {
        margin-top: rem(20);
    }

    p {
        font-size: rem(20);
        line-height: lh(20,34);
    }

    li {
        font-size: rem(20);
        line-height: lh(20,34);
    }
}

#{ $wysiwygWrapper } > *:first-child {
    margin-top: 0;
}