.carousel-pagination {
    --pagination-color: var(--color-primary-40);

    margin-top: rem(20);
    display: flex;
    justify-content: center;

    // .carousel-pagination__item
    &__item {
        // .carousel-pagination__item_active
        &_active {
            --pagination-color: var(--color-primary-60);
        }

        & + & {
            margin-left: rem(5);
        }
    }

    // .carousel-pagination__btn
    &__btn {
        width: rem(12);
        height: rem(12);
        background-color: var(--pagination-color);
        border-radius: 50%;
        transition: background-color .3s linear;
    }
}