.programs-list {
    display: grid;

    @include m( 0, pad ) {
        grid-template-columns: 1fr;
    }

    @include m( pad ) {
        grid-template-columns: repeat(2, 1fr);
    }

    @include m( 0, desktopLarge ) {
        column-gap: rem(20);
        row-gap: rem(20);
    }

    @include m( desktopLarge ) {
        column-gap: rem(30);
        row-gap: rem(30);
    }

    // .programs-list__item
    &__item {
    }
}