.round-button {
    --button-size: #{ rem(116) };
    --button-bg-color: var(--color-primary-50);

    @include m( pad ) {
        --button-size: #{ rem(140) };
    }

    width: var(--button-size);
    height: var(--button-size);
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: rem(14);
    line-height: 1.4;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-text-white);
    background-color: var(--color-primary-50);
    transition: background-color .3s linear;

    &:hover {
        --button-bg-color: var(--color-primary-30);
    }
}