.blog-anons-post {
    --horizontal: ;

    --areaGap: #{ rem(20) };
    --flexDirection: var(--horizontal) column;
    position: relative;

    // @include m( 0, pad ) {
        --contentMarginTopValue: #{ rem(16) };
    // }

    --contentMarginTop: var(--horizontal) var(--contentMarginTopValue);
    --contentMarginLeft: var(--horizontal) 0;
    --imgWidth: var(--horizontal) 100%;

    display: flex;
    flex-direction: var(--flexDirection, row);

    // .blog-anons-post__area-img
    &__area-img {
        position: relative;
        height: rem(200);
        flex-shrink: 0;
        width: var(--imgWidth, 50% );
        overflow: hidden;
        border-radius: rem(16);
        background-color: var(--color-bg-peach);
        background-image: url( $componentsImgPath + '/blog-anons-post/no-pic.svg' );
        background-repeat: no-repeat;
        background-size: rem(150);
        background-position: center;
    }

    // .blog-anons-post__area-content
    &__area-content {
        margin-left: var(--contentMarginLeft, var(--areaGap) );
        margin-top: var(--contentMarginTop, 0 );

        display: grid;
        grid-template-columns: auto min-content;
        grid-template-areas: "date views"
                            "title title"
                            "text text";
    }

    &:hover &__img {
        transform: scale(1.3);
    }

    // .blog-anons-post__img
    &__img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform .3s linear;
    }

    // .blog-anons-post__date
    &__date {
        grid-area: date;
        font-size: rem(14);
        line-height: 1.4;
        color: var(--color-text-additional);
    }

    // .blog-anons-post__views
    &__views {
        grid-area: views;
        font-size: rem(14);
        line-height: 1.4;
        color: var(--color-text-additional);
        display: inline-flex;
        align-items: center;
        justify-self: flex-end;
    }

    // .blog-anons-post__views-icon
    &__views-icon {
        margin-right: rem(4);
    }

    // .blog-anons-post__content
    &__content {
        max-height: rem(210);
        overflow: hidden;

        &::after {
            content: '';
            position: absolute;
            display: block;
            left: 0;
            width: 100%;
            bottom: 0;
            height: rem(110);
            pointer-events: none;
            background-image: linear-gradient( to bottom, transparent, var(--color-bg-beige-light) 70%, var(--color-bg-beige-light) );
        }
    }

    // .blog-anons-post__title
    &__title {
        grid-area: title;
        font-weight: bold;
        font-size: rem(20);
        line-height: 1.34;
        color: var(--color-text-header-subheader);
        margin-top: rem(8);
    }

    // .blog-anons-post__text
    &__text {
        grid-area: text;
        font-size: rem(16);
        line-height: 1.46;
        margin-top: rem(6);
    }

    // .blog-anons-post__edit
    &__edit {
        position: absolute;
        top: rem(10);
        right: rem(10);
        z-index: 2;
    }

    // .blog-anons-post__link
    &__link {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
    }
}
