<script src="https://yastatic.net/jquery/3.3.1/jquery.min.js"></script>

{% framework extras %}
{% scripts %}
<script src="{{ 'assets/js/app.js' | theme }}"></script>

{% if debug %}
<script id="__bs_script__">//<![CDATA[
	document.write("<script async src='http://HOST:3001/browser-sync/browser-sync-client.js?v=2.26.3'><\/script>".replace("HOST", location.hostname));
	//]]></script>
{% endif %}