[viewBag]
[staticBreadcrumbs]
==
{% set list = bread ? bread : breadcrumbs %}

{% if list and this.page.last_bread %}
	{% set list = list|merge( [ {'title' : this.page.last_bread } ] ) %}
{% endif %}

{% if list|length > 0 and this.page.url != '/' %}
<div class="container">
    <ol
        class="bread {{ css }}"
        itemscope
        itemtype="http://schema.org/BreadcrumbList"
    >
        <li
            class="bread__item"
            itemprop="itemListElement"
            itemscope
            itemtype="http://schema.org/ListItem"
        >
            <a
                class="bread__link"
                title="Главная"
                href="/"
                itemscope
                itemid="/"
                itemtype="http://schema.org/Thing"
                itemprop="item"
            >
                {%
                    partial "components/icon"
                    width="16"
                    height="16"
                    css="bread__home"
                    icon="home"
                %}
                <span class="bread__text" itemprop="name">Главная</span>
            </a>

            {%
                partial "components/icon"
                width="16"
                height="16"
                css="bread__delimiter"
                icon="arrow-right-bread"
            %}

            <meta itemprop="position" content="1" />
        </li>

        {% for item in list %}
            <li class="bread__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a
                    class="bread__link"
                    title="{{ item.title }}"
                    {% if not loop.last %}
                        href="{{ item.url }}"
                    {% endif %}
                    itemscope
                    itemid="{{ item.url }}"
                    itemtype="http://schema.org/Thing"
                    itemprop="item"
                >
                    <span class="bread__text" itemprop="name">{{ item.title }}</span>
                </a>

                {%
                    partial "components/icon"
                    width="16"
                    height="16"
                    css="bread__delimiter"
                    icon="arrow-right-bread"
                %}

                <meta itemprop="position" content="{{ loop.index + 1 }}" />
            </li>
        {% endfor %}
    </ol>
</div>
{% endif %}