[viewBag]
==
{# https://realfavicongenerator.net/ #}
{% set themeName = 'easydoo' %}
<link rel="apple-touch-icon" sizes="180x180" href="/themes/{{ themeName }}/assets/favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/themes/{{ themeName }}/assets/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/themes/{{ themeName }}/assets/favicons/favicon-16x16.png">
<link rel="manifest" href="/themes/{{ themeName }}/assets/favicons/site.webmanifest">
<link rel="mask-icon" href="/themes/{{ themeName }}/assets/favicons/safari-pinned-tab.svg" color="#000000">
<link rel="shortcut icon" href="/themes/{{ themeName }}/assets/favicons/favicon.ico">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-config" content="/themes/{{ themeName }}/assets/favicons/browserconfig.xml">
<meta name="theme-color" content="#ffffff">