
[staticMenu]
code = "footer"
==
<footer class="footer">
    <div class="container footer__inner">
        <div class="footer__area-logo">
            <div class="footer__logo-wrap">
                <img class="footer__logo" src="{{ 'assets/img/logo.svg' | theme }}" width="170" height="32" alt="Easydoo">
            </div>

            <p class="footer__requisite">© 2018–{{ now | date('Y') }} {{ this.theme.requisite | nl2br }}</p>

            <ul class="footer__socials">
                {% for item in this.theme.socials %}
                    {% if item.active %}
                        {% set icon = 'default' %}
                        {% set icon = 'instagram.com' in item.url ? 'social-insta' : icon %}
                        {% set icon = 'vk.com' in item.url ? 'social-vk' : icon %}
                        {% set icon = 'facebook.com' in item.url ? 'social-fb' : icon %}
                        {% set icon = 't.me' in item.url ? 'social-tg' : icon %}
                        {% set icon = 'wa.me' in item.url ? 'social-whatsapp' : icon %}
                        {% set icon = 'zen.yandex' in item.url ? 'social-zen' : icon %}

                        <li class="footer__socials-item">
                            <a class="footer__socials-link" href="{{ item.url }}" title="{{ item.title }}">
                                {% partial
                                    'components/icon'
                                    width="24"
                                    height="24"
                                    class="footer__socials-icon"
                                    icon=icon
                                %}
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>

        <nav class="footer__menu">
            <ul class="footer__menu-list">
                {% for item in staticMenu.menuItems %}
                    {% if not item.viewBag.isHidden %}

                        {% set active = false %}
                        {% if viewBag.activeMenu == '' %}
                            {% if item.isActive %}
                                {% set active = true %}
                            {% endif %}
                        {% else %}
                            {% if viewBag.activeMenu == item.code %}
                                {% set active = true %}
                            {% endif %}
                        {% endif %}

                        <li class="footer__menu-item">
                            <a
                                class="footer__menu-link"
                                href="{{ item.url }}"
                                title="{{ item.title }}"
                            >{{ item.title }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </nav>

        <div class="footer__area-info">
            <ul class="footer__info">
                {% if this.theme.general_phone %}
                <li class="footer__info-item"><a href="tel:{{ this.theme.general_phone }}" title="{{ this.theme.general_phone }}">{{ this.theme.general_phone }}</a></li>
                {% endif %}

                {% if this.theme.general_mail %}
                <li class="footer__info-item"><a href="mailto:{{ this.theme.general_mail }}" title="{{ this.theme.general_mail }}">{{ this.theme.general_mail }}</a></li>
                {% endif %}

                {% if this.theme.address %}
                <li class="footer__info-item">{{ this.theme.address }}</li>
                {% endif %}
            </ul>

            <div class="footer__resident-wrapper">
                <img class="footer__resident" src="{{ 'assets/img/components/footer/resident.svg' | theme }}" width="65" height="47">
            </div>
        </div>
    </div>
</footer>