==
<header class="header js-header">
    <div class="container header__inner">

        <div class="header__col-logo">
            <a
                class="header__logo-link"
                {{ this.page.url != '/' ? 'href="/"' }}
                title="На главную"
                aria-label="На главную"
            >
                <img
                    role="presentation"
                    class="header__logo"
                    width="216"
                    height="41"
                    src="{{ 'assets/img/logo.svg' | theme }}"
                    alt="Easydoo"
                >
            </a>
        </div>

        <div class="header__col-nav">
            <div id="main-menu" class="header-menu js-main-menu">
                <div class="header-menu__overlay js-btn-main-menu-toggle"></div>

                <div class="header-menu__inner">
                    <div class="h1 header-menu__title">Меню</div>

                    <button
                        class="clear-button header-menu__btn-close js-btn-main-menu-toggle"
                        type="button"
                        aria-label="Закрыть меню"
                    >
                        {% partial 'components/icon'
                            icon="close"
                            css="button-secondary__icon"
                            width="24"
                            height="24"
                        %}
                    </button>

                    {% partial 'layout/main-menu' %}
                </div>
            </div>

            <a class="header__login button-secondary" href="https://lk.easydoo.ru/auth/login">Вход</a>
        </div>

        <div class="header__col-mobile">
            <a
                href="https://lk.easydoo.ru/auth/login"
                class="clear-button header__btn-mobile-login"
                aria-label="Войти в личный кабинет"
            >
                {% partial 'components/icon'
                    icon="user"
                    width="24"
                    height="24"
                %}
            </a>

            <button
                class="clear-button header__btn-mobile-menu js-btn-main-menu-toggle js-btn-open-main-menu"
                type="button"
                aria-label="Открыть меню"
                aria-expanded="false"
                aria-controls="main-menu"
            >
                {% partial 'components/icon'
                    icon="menu"
                    css="button-secondary__icon"
                    width="24"
                    height="24"
                %}
            </button>
        </div>
    </div>
</header>