==
<?php
    function onStart() {
        $this[ 'categories' ]	= \ED\Blog\Models\Category::published()
                                    ->whereHas( 'posts', function( $q ) {
                                        $q->published();
                                    })
                                    ->select( 'id', 'name', 'slug' )
                                    ->with( 'icon' )
                                    ->get();
    }
?>
==
<div class="container layout-with-sidebar">
    <div class="h1 layout-with-sidebar__area-title">{{ title }}</div>

    {% if subtitle is defined %}
    <h1 class="layout-with-sidebar__area-subtitle">{{ subtitle }}</h1>
    {% endif %}

    <div class="layout-with-sidebar__area-content">
        {{ body|raw }}
    </div>

    <div class="layout-with-sidebar__area-search">

        <button class="layout-with-sidebar__btn-mobile-search" type="button" aria-label="Найти">
            {%
                partial 'components/icon'
                width="24"
                height="24"
                icon="search"
            %}
        </button>

        <form action="/search" class="form-search layout-with-sidebar__search-form">
            <input class="form-search__input" type="text" name="q">

            <button class="form-search__submit" type="submit" aria-label="Найти">
                {%
                    partial 'components/icon'
                    width="24"
                    height="24"
                    icon="search"
                %}
            </button>
        </form>
    </div>

    <div class="layout-with-sidebar__area-sidebar js-sidebar">
        {% placeholder sidebar %}
    </div>
</div>