[viewBag]

[staticMenu]
code = "main-menu"
==
<nav class="header-menu__nav">
    <ul class="header-menu__list">
        {% for item in staticMenu.menuItems %}
        {% if not item.viewBag.isHidden %}

            {% set active = false %}
            {% if viewBag.activeMenu == '' %}
                {% if item.isActive %}
                    {% set active = true %}
                {% endif %}
            {% else %}
                {% if viewBag.activeMenu == item.code %}
                    {% set active = true %}
                {% endif %}
            {% endif %}

            <li class="header-menu__list-item">
                <a
                    href="{{ item.url }}"
                    title="{{ item.title }}"
                    class="header-menu__link {% if active %}header-menu__link_active{% endif %}"
                >
                    {{ item.title }}
                </a>
            </li>
        {% endif %}
    {% endfor %}
    </ul>
</nav>