.video-player2 {
    padding: rem(7);
    background-color: #000;
    border-radius: rem(5);
    box-shadow: 0 rem(18) rem(8) rem(-15) rgba(34, 60, 80, 0.7);
    position: relative;

    // .video-player2__player
    &__player {
        border-radius: rem(5);
        width: 100%;
        height: auto;
        display: block;
    }


    // .video-player2__btn
    &__btn {
        position: absolute;
        z-index: 1;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);

        position: absolute;
        z-index: 1;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background-color: var(--color-primary-50);
        width: rem(96);
        height: rem(96);
        display: inline-flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        transition: color .3s linear;
        color: var(--color-bg-white);
        border-radius: 50%;

        svg {
            margin-left: initial;
        }

        &:hover {
            background-color: var(--color-primary-40);
        }

        &:active {
            background-color: var(--color-primary-60);
        }

        &:disabled,
        &_disabled {
            background-color: rgba(var(--color-primary-50), .3);
        }
    }
}