.review-anons {
    $sliderDestroy: rem(1000);

    --slideGap: #{ rem(10) };
    --carouselOverflowX: auto;
    --carouselOverflowY: hidden;
    --carouselPaddingBottom: #{ rem(10) };

    // .review-anons_carousel-inited
    &_carousel-inited {
        --slideGap: 0;
        --carouselOverflowX: hidden;
        --carouselOverflowY: hidden;
        --carouselPaddingBottom: 0;
    }

    // .review-anons__inner
    &__inner {
    }

    // .review-anons__title
    &__title {
        @include m( 0, pad ) {
            text-align: center;
        }
    }

    // .review-anons__scroll-legend
    &__scroll-legend.carousel-scroll-legend {
        margin-top: rem(30);

        @include m( pad ) {
            display: none;
        }
    }

    // .review-anons__carousel
    &__carousel {
        margin-top: rem(40);

        @include m( 0, $sliderDestroy ) {
            overflow-y: var(--carouselOverflowY);
            overflow-x: var(--carouselOverflowX);
            padding-bottom: var(--carouselPaddingBottom);
            @include scrollbars;
        }
    }

    // .review-anons__list
    &__list {
        @include m( 0, $sliderDestroy ) {
            display: flex;
            align-items: flex-start;
        }

        @include m( $sliderDestroy ) {
            column-count: 2;
            column-gap: rem(30);
            row-gap: rem(30);
        }
    }

    // .review-anons__item
    &__item {
        @include m( 0, $sliderDestroy ) {
            width: 100%;
            max-width: rem(378);
            margin-right: var( --slideGap );
            flex-shrink: 0;
        }

        @include m( $sliderDestroy ) {
            -webkit-column-break-inside: avoid; /* Chrome, Safari */
            page-break-inside: avoid;           /* Theoretically FF 20+ */
            break-inside: avoid-column;         /* IE 11 */
            display:table;                      /* Actually FF 20+ */

            &:not(:last-child) {
                margin-bottom: rem(30);
            }
        }
    }

    // .review-anons__pagination
    &__pagination {
        @include m( 0, $sliderDestroy ) {
            margin-top: rem(30);
        }

        @include m( $sliderDestroy ) {
            display: none;
        }
    }

    // .review-anons__more-wrap
    &__more-wrap {
        margin-top: rem(30);

        @include m( 0, $sliderDestroy ) {
            text-align: center;
        }

        @include m( $sliderDestroy ) {
            text-align: right;
        }
    }
}