.page-index-program-block-v1 {
    position: relative;
    display: flex;
    z-index: 0;

    @include m( 0, desktopLarge ) {
        flex-direction: column;
        padding-top: rem(66);
        padding-right: rem(30);
        padding-bottom: rem(30);
        padding-left: rem(30);
    }

    @include m( desktopLarge ) {
        flex-direction: row;
        padding-top: rem(64);
        padding-right: rem(30);
        padding-bottom: rem(40);
        padding-left: rem(40);
    }

    &::after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: rem(14);
        right: 0;
        bottom: 0;
        z-index: -1;
        background-color: var(--variantBgColor);
        border-radius: rem(16);
    }

    // .page-index-program-block-v1_bg1
    &_bg1 {
        --variantBgColor: var(--color-additional-yellow-light);
    }
    
    // .page-index-program-block-v1_bg2
    &_bg2 {
        --variantBgColor: var(--color-additional-orange-light);
    }

    // .page-index-program-block-v1__col-content
    &__col-content {
        flex-grow: 1;
    }

    // .page-index-program-block-v1__col-video
    &__col-video {
        display: flex;
        align-items: center;
        flex-shrink: 0;

        @include m( desktopLarge ) {
            margin-left: rem(30);
            width: 47.042%;
        }
    }

    // .page-index-program-block-v1__label
    &__label {
        $borderWidth: rem(8);

        font-weight: bold;
        font-size: rem(14);
        line-height: 1.4;
        top: - $borderWidth;
        color: var(--color-bg-beige-light);
        padding: rem(4) rem(16);
        background-color: var(--color-illustrations-red);
        border-radius: rem(45);
        border-color: var(--color-bg-peach);
        border-style: solid;
        border-width: $borderWidth;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    // .page-index-program-block-v1__title
    &__title {
        font-weight: bold;
        font-size: rem(20);
        line-height: 1.34;
        color: var(--color-text-header-subheader);
        margin-bottom: rem(10);
    }

    // .page-index-program-block-v1__text
    &__text {
        font-size: rem(16);
        line-height: 1.46;
        color: var(--color-text-main);
        margin-bottom: rem(16);
    }

    // .page-index-program-block-v1__price
    &__price {
        font-weight: bold;
        font-size: rem(24);
        line-height: 1.4;
        color: var(--color-secondary-main);
        margin-bottom: rem(13);
    }

    // .page-index-program-block-v1__link-wrap
    &__link-wrap {
    }

    // .page-index-program-block-v1__video
    &__video {
        margin-top: rem(18);
    }
}