.page-index-technologically {
    // .page-index-technologically__inner
    &__inner {
        display: flex;
        flex-direction: column;
    }

    // .page-index-technologically__title
    &__title {
        text-align: center;

        @include m( 0, desktopLarge ) {
            margin-bottom: rem(50);
        }

        @include m( desktopLarge ) {
            margin-bottom: rem(60);
        }
    }

    // .page-index-technologically__list
    &__list {
        position: relative;

        @include m( pad ) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            column-gap: rem(20);
            row-gap: rem(30);
        }

        &::before {
            content: '';
            display: block;
            order: 1;

            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            margin-left: auto;
            margin-right: auto;
            position: relative;
            margin-bottom: rem(40);

            @include m( 0, desktopSmall ) {
                background-image: url( componentAssetPath( 'page-index', 'technologically-img.svg' ) );
            }

            @include m( desktopSmall ) {
                background-image: url( componentAssetPath( 'page-index', 'technologically-img2.svg' ) );
            }

            @include m( 0, phoneLarge ) {
                width: 100%;
                max-width: rem(321);
                height: rem(323);
                margin-bottom: rem(40);
            }

            @include m( phoneLarge, pad ) {
                width: rem(382);
                height: rem(384);
                margin-bottom: rem(40);
            }

            @include m( pad, desktopSmall ) {
                grid-column: 1/3;
                order: 0;
                width: rem(323);
                height: rem(325);
                margin-bottom: rem(10);
            }

            @include m( desktopSmall, desktopLarge ) {
                width: rem(336);
                height: rem(306);
            }

            @include m( desktopLarge ) {
                width: rem(447);
                height: rem(445);
            }

            @include m( desktopSmall ) {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%,-50%);
            }
        }
    }

    // .page-index-technologically__item
    &__item {
        @include m( 0, desktopSmall ) {
            &:not(:last-child) {
                margin-bottom: rem(30);
            }
        }

        @include m( desktopSmall, desktopLarge ) {
            width: rem(300);
        }

        @include m( desktopLarge ) {
            width: rem(340);
        }

        &_shift-left {
            @include m( desktopSmall ) {
                margin-left: rem(46);
            }
        }

        &_shift-right {
            @include m( desktopSmall ) {
                margin-right: rem(46);
            }
        }

        &_align-right {
            @include m( desktopSmall ) {
                justify-self: flex-end;
            }
        }
    }

    // .page-index-technologically__item-title
    &__item-title {
        display: flex;
        align-items: center;

        @include m( 0, phoneLarge ) {
            margin-bottom: rem(8);
        }

        @include m( phoneLarge, desktopLarge ) {
            margin-bottom: rem(16);
        }

        @include m( desktopLarge ) {
            margin-bottom: rem(10);
        }

        &:before {
            @include m( 0, desktopSmall ) {
                content: '';
                display: inline-block;
                width: rem(20);
                height: rem(20);
                background-image: url( componentAssetPath( 'page-index', 'technologically-bullet.svg' ) );
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                margin-right: rem(16);
                flex-shrink: 0;
            }
        }
    }

    // .page-index-technologically__item-text
    &__item-text {
        font-size: rem(16);
        line-height: 1.46;
        color: var(--color-text-main);
    }
}