.page-index {
    // .page-index__technologically
    &__technologically {
        @include m( 0, pad ) {
            margin-top: rem(110);
        }

        @include m( pad, desktopSmall ) {
            margin-top: rem(130);
        }

        @include m( desktopSmall, desktopLarge ) {
            margin-top: rem(150);
        }

        @include m( desktopLarge ) {
            margin-top: rem(170);
        }
    }

    // .page-index__program
    &__program {
        @include m( 0, pad ) {
            margin-top: rem(80);
        }

        @include m( pad, desktopSmall ) {
            margin-top: rem(90);
        }

        @include m( desktopSmall, desktopLarge ) {
            margin-top: rem(110);
        }

        @include m( desktopLarge ) {
            margin-top: rem(130);
        }
    }

    // .page-index__includes
    &__includes {
        @include m( 0, pad ) {
            margin-top: rem(110);
        }

        @include m( pad, desktopSmall ) {
            margin-top: rem(130);
        }

        @include m( desktopSmall, desktopLarge ) {
            margin-top: rem(150);
        }

        @include m( desktopLarge ) {
            margin-top: rem(170);
        }
    }

    // .page-index__review
    &__review {
        @include m( 0, pad ) {
            margin-top: rem(110);
        }

        @include m( pad, desktopSmall ) {
            margin-top: rem(130);
        }

        @include m( desktopSmall, desktopLarge ) {
            margin-top: rem(150);
        }

        @include m( desktopLarge ) {
            margin-top: rem(170);
        }
    }

    // .page-index__in-form
    &__in-form {
        @include m( 0, pad ) {
            margin-top: rem(110);
        }

        @include m( pad, desktopSmall ) {
            margin-top: rem(130);
        }

        @include m( desktopSmall, desktopLarge ) {
            margin-top: rem(150);
        }

        @include m( desktopLarge ) {
            margin-top: rem(170);
        }
    }

    // .page-index__blog
    &__blog {
        @include m( 0, pad ) {
            margin-top: rem(110);
        }

        @include m( pad, desktopSmall ) {
            margin-top: rem(130);
        }

        @include m( desktopSmall, desktopLarge ) {
            margin-top: rem(150);
        }

        @include m( desktopLarge ) {
            margin-top: rem(170);
        }
    }

    // .page-index__exercise
    &__exercise {
        @include m( 0, pad ) {
            margin-top: rem(90);
        }

        @include m( pad ) {
            margin-top: rem(140);
        }

        // @include m( pad, desktopSmall ) {
        //     margin-top: rem(150);
        // }

        // @include m( desktopLarge ) {
        //     margin-top: rem(170);
        // }
    }

    // .page-index__faq
    &__faq {
        @include m( 0, phoneLarge ) {
            margin-top: rem(110);
        }

        @include m( phoneLarge ) {
            margin-top: rem(130);
        }

        @include m( pad, desktopSmall ) {
            margin-top: rem(150);
        }

        @include m( desktopLarge ) {
            margin-top: rem(170);
        }
    }
}