.page-index-program {
    $mobileGap: rem(20);
    $desktopGap: rem(30);

    padding-bottom: var(--color-block-space);
    background-color: var(--color-bg-peach);
    padding-top: rem(80);

    @include m( phoneSmall ) {
        padding-top: rem(80);
    }

    @include m( pad ) {
        padding-top: rem(90);
    }

    @include m( desktopSmall ) {
        padding-top: rem(110);
        background-image: url( componentAssetPath( 'page-index', 'bg_left.svg' ) ), url( componentAssetPath( 'page-index', 'bg_right.svg' ) );
        background-size: rem(411) rem(387), rem(294) rem(307);
        background-repeat: no-repeat;
        background-position: bottom rem(-135) left rem(-254), top rem(-65) right rem(-180);
    }

    @include m( desktopLarge ) {
        padding-top: rem(130);
        background-position: top rem(410) left rem(-195), top rem(-144) right rem(-111);
    }

    // .page-index-program__inner
    &__inner {
        display: grid;

        @include m( 0, pad ) {
            gap: $mobileGap;
            grid-template-columns: 1fr;
            grid-template-areas: "title"
                                "block1"
                                "block2"
                                "block3";
        }

        @include m( pad, desktopLarge ) {
            gap: $mobileGap;
            grid-template-columns: repeat(2, 1fr);
            grid-template-areas: "title title"
                                "block1 block2"
                                "block3 block2";
        }

        @include m( desktopLarge ) {
            gap: $desktopGap;
            grid-template-columns: repeat(12, 1fr);
            grid-template-areas: "title title title title title title title title title title title title"
                                "block1 block1 block1 block1 block2 block2 block2 block2 block2 block2 block2 block2"
                                "block3 block3 block3 block3 block3 block3 block3 block3 block3 block3 block3 block3";
        }
    }

    // .page-index-program__title
    &__title {
        grid-area: title;

        @include m( 0, pad ) {
            text-align: center;
        }

        @include m( pad ) {
            text-align: left;
        }

        @include m( 0, desktopLarge ) {
            margin-bottom: rem(50) - $mobileGap;
        }

        @include m( desktopLarge ) {
            margin-bottom: rem(60) - $desktopGap;
        }
    }

    // .page-index-program__block1
    &__block1 {
        grid-area: block1;
    }

    // .page-index-program__block2
    &__block2 {
        grid-area: block2;

        @include m( pad, desktopLarge ) {
            align-self: flex-start;
        }
    }

    // .page-index-program__block3
    &__block3 {
        grid-area: block3;
    }
}