.page-index-program-block-v2 {
    $bgShift: rem(11);
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 0;

    @include m( 0, desktopLarge ) {
        padding: rem(30);
    }

    @include m( desktopLarge ) {
        margin-top: - $bgShift;
        padding-top: rem(52);
        padding-right: rem(210);
        padding-bottom: rem(34);
        padding-left: rem(418);
        min-height: rem(260);
    }

    &::before {
        @include m( desktopLarge ) {
            content: '';
            display: block;
            background-image: url( componentAssetPath( 'page-index', 'bg_girl.png' ) );
            background-size: contain;
            background-repeat: no-repeat;
            position: absolute;
            left: rem(40);
            bottom: 0;
            width: rem(335);
            height: rem(260);

            @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
                background-image: url( componentAssetPath( 'page-index', 'bg_girl@2x.png' ) );
            }
        }
    }

    &::after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        background-color: var(--color-additional-beige-light);
        border-radius: rem(16);

        @include m( 0, desktopLarge ) {
            top: 0;
        }

        @include m( desktopLarge ) {
            top: $bgShift;
        }
    }

    // .page-index-program-block-v1__title
    &__title {
        font-weight: bold;
        font-size: rem(26);
        line-height: 1.34;
        color: var(--color-text-header-subheader);
        margin-bottom: rem(12);
    }

    // .page-index-program-block-v1__text
    &__text {
        font-size: rem(16);
        line-height: 1.46;
        color: var(--color-text-main);
        margin-bottom: rem(24);
    }

    // .page-index-program-block-v1__link-wrap
    &__link-wrap {
    }
}