<button type="button" onclick="ss( this )" class="btn btn-primary ping">Ping</button>

<script>
	var getParentsUntil = function ( elem, parent, selector ) {
		// Element.matches() polyfill
		if (!Element.prototype.matches) {
			Element.prototype.matches =
				Element.prototype.matchesSelector ||
				Element.prototype.mozMatchesSelector ||
				Element.prototype.msMatchesSelector ||
				Element.prototype.oMatchesSelector ||
				Element.prototype.webkitMatchesSelector ||
				function(s) {
					var matches = (this.document || this.ownerDocument).querySelectorAll(s),
						i = matches.length;
					while (--i >= 0 && matches.item(i) !== this) {}
					return i > -1;
				};
		}

		// Setup parents array
		var parents = [];

		// Get matching parent elements
		for ( ; elem && elem !== document; elem = elem.parentNode ) {

			if ( parent ) {
				if ( elem.matches( parent ) ) break;
			}

			if ( selector ) {
				if ( elem.matches( selector ) ) {
					parents.push( elem );
				}
				break;
			}

			parents.push( elem );

		}

		return parents;

	};

	var getParents = function ( elem, selector ) {

		// Element.matches() polyfill
		if (!Element.prototype.matches) {
			Element.prototype.matches =
				Element.prototype.matchesSelector ||
				Element.prototype.mozMatchesSelector ||
				Element.prototype.msMatchesSelector ||
				Element.prototype.oMatchesSelector ||
				Element.prototype.webkitMatchesSelector ||
				function(s) {
					var matches = (this.document || this.ownerDocument).querySelectorAll(s),
						i = matches.length;
					while (--i >= 0 && matches.item(i) !== this) {}
					return i > -1;
				};
		}

		// Setup parents array
		var parents = [];

		// Get matching parent elements
		for ( ; elem && elem !== document; elem = elem.parentNode ) {

			// Add matching parents to array
			if ( selector ) {
				if ( elem.matches( selector ) ) {
					parents.push( elem );
				}
			} else {
				parents.push( elem );
			}

		}

		return parents;
	};

	function ss( btn ) {
		var parents = getParents( btn, '.field-repeater-form' );
		var input	= parents[0].querySelector( '.user_id input' );

		$.request( 'onPing', {
			data: {
				user_id : input.value,
			},
			success: function() {
				console.log('Finished!');
			}
		});
	}
</script>