.container {
    $containerPadding: rem($wrapperPaddingVal) !default;
    $containerMaxWidth: screen( desktopLarge ) + $containerPadding * 2 !default;

    width: 100%;
    padding-left: $containerPadding;
    padding-right: $containerPadding;
    margin-left: auto;
    margin-right: auto;
    max-width: $containerMaxWidth;

    & & {
        padding-left: 0;
        padding-right: 0;
    }
}