<template>
    <nav class="navbar fixed-top">
        <div class="d-flex align-items-center navbar-left">
            <!-- <a
                href="#"
                id="menuButton"
                class="menu-button d-none d-md-block"
                @click.prevent.stop="changeSideMenuStatus({step :menuClickCount+1,classNames:menuType,selectedMenuHasSubItems})"
            >
                <menu-icon/>
                меню
            </a> -->
            <!-- <a
                href="#"
                class="menu-button-mobile d-xs-block d-sm-block d-md-none"
                @click.prevent.stop="changeSideMenuForMobile(menuType)"
            >
                <mobile-menu-icon/>
                меню
            </a> -->
            <b-nav class="navbar__links ml-2 ml-sm-3 ml-md-0">
                <!-- <b-nav-item><span class="glyph-icon simple-icon-location-pin"/> Москва</b-nav-item> -->
                <!-- <b-nav-item class="d-none d-md-inline-block"><router-link tag="a" :to="{ name: 'experts' }">Эксперты</router-link></b-nav-item> -->
            </b-nav>
        </div>
        <router-link class="navbar-logo" tag="a" :to="{ name: 'home' }">
            <span class="logo d-none d-xs-block"></span>
            <span class="logo-mobile d-block d-xs-none"></span>
        </router-link>
        <top-nav-right/>
    </nav>
</template>

<script>
    import TopNavRight from './TopNavRight'

    import {MenuIcon, MobileMenuIcon} from "@/components/Svg";

    export default {
        components: {
            "menu-icon": MenuIcon,
            "mobile-menu-icon": MobileMenuIcon,
            TopNavRight
        },
    //     data() {
    //         return {
    //             searchKeyword: "",
    //             isMobileSearch: false,
    //             isSearchOver: false,
    //             fullScreen: false,
    //             menuHiddenBreakpoint,
    //             searchPath,
    //             notifications,
    //             isDarkActive: false
    //         };
    //     },
    //     methods: {
    //         ...mapMutations(["changeSideMenuStatus", "changeSideMenuForMobile"]),
    //         ...mapActions(["setLang", "signOut"]),
    //         search() {
    //             this.$router.push(`${this.searchPath}?search=${this.searchKeyword}`);
    //             this.searchKeyword = "";
    //         },
    //         searchClick() {
    //             if (window.innerWidth < this.menuHiddenBreakpoint) {
    //                 if (!this.isMobileSearch) {
    //                     this.isMobileSearch = true;
    //                 } else {
    //                     this.search();
    //                     this.isMobileSearch = false;
    //                 }
    //             } else {
    //                 this.search();
    //             }
    //         },
    //         handleDocumentforMobileSearch() {
    //             if (!this.isSearchOver) {
    //                 this.isMobileSearch = false;
    //                 this.searchKeyword = "";
    //             }
    //         },
    //         toggleFullScreen() {
    //             const isInFullScreen = this.isInFullScreen();

    //             var docElm = document.documentElement;
    //             if (!isInFullScreen) {
    //                 if (docElm.requestFullscreen) {
    //                     docElm.requestFullscreen();
    //                 } else if (docElm.mozRequestFullScreen) {
    //                     docElm.mozRequestFullScreen();
    //                 } else if (docElm.webkitRequestFullScreen) {
    //                     docElm.webkitRequestFullScreen();
    //                 } else if (docElm.msRequestFullscreen) {
    //                     docElm.msRequestFullscreen();
    //                 }
    //             } else {
    //                 if (document.exitFullscreen) {
    //                     document.exitFullscreen();
    //                 } else if (document.webkitExitFullscreen) {
    //                     document.webkitExitFullscreen();
    //                 } else if (document.mozCancelFullScreen) {
    //                     document.mozCancelFullScreen();
    //                 } else if (document.msExitFullscreen) {
    //                     document.msExitFullscreen();
    //                 }
    //             }
    //             this.fullScreen = !isInFullScreen;
    //         },
    //         isInFullScreen() {
    //             return (
    //                 (document.fullscreenElement && document.fullscreenElement !== null) ||
    //                 (document.webkitFullscreenElement &&
    //                     document.webkitFullscreenElement !== null) ||
    //                 (document.mozFullScreenElement &&
    //                     document.mozFullScreenElement !== null) ||
    //                 (document.msFullscreenElement && document.msFullscreenElement !== null)
    //             );
    //         }
    //     },
    //     computed: {
    //         ...mapGetters({
    //             currentUser: "currentUser",
    //             menuType: "getMenuType",
    //             menuClickCount: "getMenuClickCount",
    //             selectedMenuHasSubItems: "getSelectedMenuHasSubItems"
    //         })
    //     },
    //     beforeDestroy() {
    //         document.removeEventListener("click", this.handleDocumentforMobileSearch);
    //     },
    //     watch: {
    //         isMobileSearch(val) {
    //             if (val) {
    //                 document.addEventListener("click", this.handleDocumentforMobileSearch);
    //             } else {
    //                 document.removeEventListener(
    //                     "click",
    //                     this.handleDocumentforMobileSearch
    //                 );
    //             }
    //         }
    //     }
    };
</script>