<template>
    <div if="user" class="navbar-right">
        <div class="header-icons d-inline-block align-middle">
            <div class="position-relative d-none d-sm-inline-block">
                <b-dropdown
                    v-if="false"
                    variant="empty"
                    size="sm"
                    right
                    toggle-class="header-icon"
                    menu-class="position-absolute mt-3 iconMenuDropdown"
                    no-caret
                >
                    <template slot="button-content">
                        <i class="simple-icon-grid"/>
                    </template>
                    <div>
                        <router-link tag="a" to="#" class="icon-menu-item">
                            <i class="iconsminds-shop-4 d-block"/>
                            menu.dashboards
                        </router-link>
                        <router-link tag="a" to="#" class="icon-menu-item">
                            <i class="iconsminds-pantone d-block"/>
                            menu.ui
                        </router-link>
                        <router-link tag="a" to="#" class="icon-menu-item">
                            <i class="iconsminds-bar-chart-4 d-block"/>
                            menu.charts
                        </router-link>
                        <router-link tag="a" to="#" class="icon-menu-item">
                            <i class="iconsminds-speach-bubble d-block"/>
                            menu.chat
                        </router-link>
                        <router-link tag="a" to="#" class="icon-menu-item">
                            <i class="iconsminds-formula d-block"/>
                            menu.survey
                        </router-link>
                        <router-link tag="a" to="#" class="icon-menu-item">
                            <i class="iconsminds-check d-block"/>
                            menu.todo
                        </router-link>
                    </div>
                </b-dropdown>
            </div>
            <div class="position-relative d-inline-block">
                <b-dropdown
                    v-if="false"
                    variant="empty"
                    size="sm"
                    right
                    toggle-class="header-icon notificationButton"
                    menu-class="position-absolute mt-3 notificationDropdown"
                    no-caret
                >
                    <template slot="button-content">
                        <i class="simple-icon-bell"/>
                        <span class="count">3</span>
                    </template>
                    <vue-perfect-scrollbar :settings="{ suppressScrollX: true, wheelPropagation: false }">
                        <div
                            class="d-flex flex-row mb-3 pb-3 border-bottom"
                            v-for="(n,index) in notifications"
                            :key="index"
                        >
                            <router-link tag="a" to="/app/pages/product/details">
                                <img
                                    :src="n.img"
                                    :alt="n.title"
                                    class="img-thumbnail list-thumbnail xsmall border-0 rounded-circle"
                                />
                            </router-link>
                            <div class="pl-3 pr-2">
                                <router-link tag="a" to="/app/pages/product/details">
                                    <p class="font-weight-medium mb-1">{{n.title}}</p>
                                    <p class="text-muted mb-0 text-small">{{n.date}}</p>
                                </router-link>
                            </div>
                        </div>
                    </vue-perfect-scrollbar>
                </b-dropdown>
            </div>
        </div>
        <div class="user d-inline-block">
            <b-dropdown
                class="dropdown-menu-right"
                right
                variant="empty"
                toggle-class="p-0"
                menu-class="mt-3"
                no-caret
            >
                <template slot="button-content">
                    <span class="name mr-1">{{ viewName }}</span>
                    <div class="avatar" :style="userAvatar"></div>
                </template>
                <b-dropdown-item @click="$router.push({ name: 'profile' })">Профиль</b-dropdown-item>
                <b-dropdown-divider/>
                <b-dropdown-item @click="$store.dispatch('authentication/logout');">Выйти</b-dropdown-item>
            </b-dropdown>
        </div>
    </div>
</template>

<script>
    import { MenuIcon, MobileMenuIcon } from '@/components/Svg';
    import { menuHiddenBreakpoint } from '@/constants/config';

    export default {
        name: 'TopNavRight',
        components: {
            'menu-icon': MenuIcon,
            'mobile-menu-icon': MobileMenuIcon
        },
        data() {
            return {
                menuHiddenBreakpoint,
                notifications: []
            };
        },
        computed: {
            user() {
                return this.$store.state.authentication.user;
            },
            viewName() {
                return this.$store.state.authentication.user.view_name;
            },
            userAvatar() {
                const avatar = this.$store.state.authentication.user.avatar;
                if ( avatar )
                    return `background-image: url(${ avatar })`;
            }
        }
    }
</script>
