.h1 {
	font-style: italic;
	font-weight: 800;
	line-height: 1.2;
	text-transform: uppercase;
	color: var(--color-text-header-subheader);

    @include m( 0, pad ) {
        font-size: rem(40);
    }

    @include m( pad, desktopSmall ) {
        font-size: rem(54);
    }

    @include m( desktopSmall ) {
        font-size: rem(60);
        letter-spacing: 0.005em;
    }
}
