.h2 {
    font-style: italic;
    font-weight: 800;
    color: var(--color-text-header-subheader);
    line-height: 1.2;

    @include m( 0, phoneLarge ) {
        font-size: rem(30);
    }

    @include m( phoneLarge, pad ) {
        font-size: rem(34);
    }

    @include m( pad, desktopSmall ) {
        font-size: rem(40);
    }

    @include m( desktopSmall ) {
        font-size: rem(46);
    }
}
