.blog-author {
    display: flex;
    align-items: center;
    margin-top: rem(20);
    margin-bottom: rem(20);

    // .blog-author__img-wrap
    &__img-wrap {
    }

    // .blog-author__img
    &__img {
        border-radius: 50%;
        width: rem(70);
        height: rem(70);
        object-fit: cover;
    }

    // .blog-author__name
    &__name {
        margin-left: rem(20);
    }
}
