.page-blog-category {
    @include m( desktopLarge ) {
        background-repeat: no-repeat;
        background-position: left center;
        background-image: url( $componentsImgPath + '/page-blog-category/bg.svg' );
    }

    // .page-blog-category__posts
    &__posts {
        display: grid;
        row-gap: rem(30);

        @include m( 0, pad ) {
            grid-template-columns: 1fr;
        }

        @include m( pad, desktopLarge ) {
            grid-template-columns: repeat(2, 1fr);
            column-gap: rem(20);
        }

        @include m( desktopLarge ) {
            grid-template-columns: repeat(3, 1fr);
            column-gap: rem(30);
        }
    }

    // .page-blog-category__pagination
    &__pagination {
        margin-top: rem(40);
    }
}