@include m( desktopSmall ) {
.form-search {
    position: relative;

    // .form-search__title
    &__title {
        display: none;
    }

    // .form-search__input
    &__input {
        background-color: #ccc;
        background: var(--color-bg-white);
        border: 1px solid var(--color-border);
        border-radius: rem(30);
        width: 100%;

        font-size: rem(16);
        line-height: rem(48);
        color: var(--color-text-additional);
        padding-left: rem(24);
    }

    // .form-search__area-btns
    &__area-btns {
        position: absolute;
        z-index: 1;
        right: rem(8);
        top: 50%;
        transform: translateY(-50%);
        width: rem(40);
        height: rem(40);
    }

    // .form-search__btn-submit
    &__btn-submit {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--color-text-additional);
        border-radius: 50%;
    }

    // .form-search__btn-submit-text
    &__btn-submit-text {
        display: none;
    }

    // .form-search__btn-close
    &__btn-close {
        display: none;
    }

    // .form-search__btn-clear
    &__btn-clear {
        display: none;
    }

    // .form-search__submit-icon
    &__btn-close {
        display: none;
    }
}
}