@include m( 0, desktopSmall ) {
.form-search {
    $paddingX: rem(20);

    position: relative;
    padding-left: $paddingX;
    padding-right: $paddingX;
    padding-top: rem(54);
    padding-bottom: rem(40);
    display: flex;
    flex-direction: column;

    // .form-search__btn-close
    &__btn-close {
        position: absolute;
        right: rem(20);
        top: rem(20);
        width: rem(44);
        height: rem(44);
    }

    // .form-search__area-input
    &__area-input {
        padding-top: rem(124);
        flex-grow: 1;
        max-width: rem(371);
        margin-left: auto;
        margin-right: auto;
    }

    // .form-search__input
    &__input {
        border-width: 0;
        border-bottom: 1px solid var(--color-primary-50);
        font-size: rem(24);
        width: 100%;
        outline: none;
    }

    // .form-search__btn-clear
    &__btn-clear {
        padding: rem(16);
        border: 1px solid transparent;
        color: var( --color-primary-50 );
        opacity: .4;

        font-weight: bold;
        font-size: rem(14);
        line-height: 1.4;
        letter-spacing: 0.03em;
        text-transform: uppercase;

    }

    // .form-search__btn-submit-icon
    &__btn-submit-icon {
        display: none;
    }

    // .form-search__btn-submit
    &__btn-submit {
        padding: rem(16) rem(40);
        border-radius: rem(30);
        border-width: 1px;
        border-style: solid;
        border-color: currentColor;
        color: var( --color-primary-50 );
        text-decoration: none;
        background-color: transparent;
        transition: color .3s linear, border-color .3s linear, background-color .3s linear;
        display: inline-flex;
        align-items: center;
    
        font-weight: bold;
        font-size: rem(14);
        line-height: 1.4;
        letter-spacing: 0.03em;
        text-transform: uppercase;

        &:hover {
            background-color: var( --color-primary-40 );
            border-color: var( --color-primary-40 );
            color: var( --color-text-white );
        }
    
        &:active {
            background-color: var( --color-primary-60 );
            border-color: var( --color-primary-60 );
            color: var( --color-text-white );
        }
    }

    // .form-search__area-btns
    &__area-btns {
        display: flex;
        justify-content: center;

        > * + * {
            margin-left: rem(24);
        }
    }
}
}