.bread {
    $marginTop: rem(4);
    display: flex;
    flex-wrap: wrap;

    margin-bottom: rem(20);

    @include m( 0, pad ) {
        justify-content: center;
    }

    // .bread__item
    &__item {
        display: inline-flex;
        align-items: center;
        margin-left: rem(4);
        margin-top: $marginTop;

        &:first-child {
            --text-display: none;
        }

        &:last-child {
            --delimiter-display: none;
            margin-left: 0;
        }

        > * + * {
            margin-left: rem(4);
        }
    }

    // .bread__link
    &__link {
        --link-color: var(--color-text-additional);
        --link-undetline: none;
        font-weight: 400;
        font-size: rem(14);
        line-height: 1.4;
        color: var(--link-color);
        text-decoration: none;
        display: inline-flex;
        align-items: center;
        user-select: none;

        &:link {
            --link-color: var(--color-text-main);
            --link-undetline: underline;
        }

        &:hover {
            text-decoration: var(--link-undetline);
        }
    }

    // .bread__home
    &__home {
        color: var(--color-illustrations-red);
        display: inline-block;
    }

    // .bread__delimiter
    &__delimiter {
        color: var(--color-text-additional);
        flex-shrink: 0;
        display: var(--delimiter-display, inline-block);
    }

    // .bread__text
    &__text {
        display: var(--text-display, inline-block);
    }
}