.program-layout {
    --posts-margin-top: #{ rem(34) };
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding-top: rem(30);

    @include m( desktopSmall ) {
        grid-template-columns: repeat(3,1fr);
    }

    @include m( 0, desktopLarge ) {
        column-gap: rem(20);
    }

    @include m( desktopLarge ) {
        column-gap: rem(30);
        grid-template-columns: repeat(12,1fr);
    }

    // .program-layout__area-title
    &__area-title {
        @include m( 0, phoneLarge ) {
            grid-column: 1/3;
            grid-row: 1/2;
            text-align: center;
        }

        @include m( desktopSmall ) {
            grid-column: 1/4;
            grid-row: 1/2;
        }

        @include m( desktopLarge ) {
            grid-column: 1/7;
            grid-row: 1/2;
        }
    }

    // .program-layout__area-search
    &__area-search {
        @include m( 0, desktopSmall ) {
            grid-column: 1;
            background-color: blue;
        }

        @include m( desktopSmall ) {
            grid-column: 1/4;
            grid-row: 1/2;
            justify-self: flex-end;
        }

        @include m( desktopLarge ) {
            grid-column: 6/13;
            grid-row: 1/2;
            align-self: center;
            justify-self: right;
        }
    }

    // .program-layout__area-sidebar
    &__area-sidebar {
        @include m( 0, phoneLarge ) {
            display: grid;
            column-gap: rem(8);
            row-gap: rem(12);
            grid-template-columns: 1fr rem(44);
        }

        @include m( phoneLarge, desktopSmall ) {
            display: flex;
        }

        @include m( 0, desktopSmall ) {
            grid-column: 1/3;
            grid-row: 2/3;
            margin-top: rem(30);
        }

        @include m( desktopSmall ) {
            grid-column: 1/2;
            grid-row: 2/3;
            margin-top: var(--posts-margin-top);
        }

        @include m( desktopLarge ) {
            grid-column: 1/4;
            grid-row: 2/3;
        }
    }

    // .program-layout__area-content
    &__area-content {
        margin-top: var(--posts-margin-top);

        @include m( 0, desktopSmall ) {
            grid-column: 1/3;
            grid-row: 3/4;
        }

        @include m( desktopSmall ) {
            grid-column: 2/4;
            grid-row: 2/3;
        }

        @include m( desktopLarge ) {
            grid-column: 5/13;
            grid-row: 2/3;
        }
    }

    // .program-layout__form-filter
    &__form-filter {
        @include m( 0, desktopSmall ) {
            display: none;

            .filters-open & {
                display: flex;
                position: fixed;
                left: 0;
                top: 0;
                width: 100%;
                height: 100vh;
                z-index: 100;
            }
        }
    }

    // .program-layout__direction-fieldset
    &__direction-fieldset {
        @include m( 0, phoneLarge ) {
            grid-column: 1/3;
            grid-row: 1/2;
        }

        @include m( phoneLarge, desktopSmall ) {
            flex-grow: 1;
        }

        @include m( 0, desktopSmall ) {
            --fieldsetGapSize: 0;
            --fieldsetLegendDisplay: none;
            display: flex;
            flex-grow: 1;
        }
    }

    // .program-layout__btn-mobile-filters
    &__btn-mobile-filters {
        @include m( 0, phoneLarge ) {
            grid-column: 1/2;
            grid-row: 2/3;
        }

        @include m( phoneLarge, desktopSmall ) {
            display: flex;
            flex-grow: 1;
            order: 2;
            margin-left: rem(12);
            margin-right: rem(12);
        }

        @include m( desktopSmall ) {
            display: none;
        }
    }

    // .program-layout__btn-mobile-search
    &__btn-mobile-search {
        width: rem(44);
        height: rem(44);
        background: var(--color-bg-white);
        border: 1px solid var(--color-border);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--color-text-additional);
        flex-shrink: 0;
        order: 3;

        @include m( 0, phoneLarge ) {
            grid-column: 2/3;
            grid-row: 2/3;
        }

        @include m( desktopSmall ) {
            display: none;
        }
    }

    // .program-layout__search-form
    &__search-form {
        @include m( 0, desktopSmall ) {
            display: none;

            .search-show & {
                position: fixed;
                display: flex;
                left: 0;
                top: 0;
                width: 100%;
                height: 100vh;
                background-color: var(--color-bg-white);
                z-index: 10;

                margin: 0;
            }
        }

        @include m( desktopSmall ) {
            min-width: rem(386);
        }
    }

    // .program-layout__not-found
    &__not-found {
        font-weight: bold;
        text-align: center;
    }
}