.who-suits {
    --paddingX: #{ rem(30) };
    --paddingY: #{ rem(40) };

    $titleMaxWidth: rem(711);

    @include m( phoneLarge ) {
        --paddingX: #{ rem(40) };
    }

    // .who-suits__inner
    &__inner {
    }

    // .who-suits__title
    &__title {
        max-width: $titleMaxWidth;

        @include m( 0, pad ) {
            text-align: center;
        }
    }

    // .who-suits__sub-title
    &__sub-title {
        margin-top: rem(16);
        font-weight: 400;
        font-size: rem(22);
        line-height: 1.4;
        color: var(--color-illustrations-red);
        max-width: $titleMaxWidth;

        @include m( 0, pad ) {
            text-align: center;
        }
    }

    // .who-suits__block
    &__block {
        border-radius: rem(16);
        padding: var(--paddingY) var(--paddingX);

        @include m( desktopSmall ) {
            display: grid;
            grid-template-columns: rem(189) 1fr;
            column-gap: rem(51);
            align-items: flex-start;
        }

        @include m( desktopLarge ) {
            grid-template-columns: rem(230) 1fr;
            column-gap: rem(94);
        }

        // .who-suits__block_suits
        &_suits {
            background: var(--color-bg-peach);
            margin-top: rem(50);

            @include m( desktopLarge ) {
                margin-top: rem(60);
            }
        }

        // .who-suits__block_no-suits
        &_no-suits {
            margin-top: rem(20);
            border: rem(1) solid var(--color-border);
        }
    }

    // .who-suits__list-title
    &__list-title {
        font-weight: 700;
        font-size: rem(22);
        line-height: 1.4;
        color: var(--color-text-header-subheader);
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        // .who-suits__list-title_accent
        &_accent {
            margin-top: - rem(5);
            margin-bottom: - rem(5);
        }
    }

    // .who-suits__word-select
    &__word-select {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: rem(44);
        height: rem(42);
        color: var(--color-text-white);
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 44 42' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M43.32 17.919c-1.208-3.747-3.969-6.328-7.161-8.326-2.33-3.58-5.522-6.495-8.801-7.993C21.49-1.065 15.623-.232 10.964 2.849c-.086 0-.172.083-.259.083-1.38.583-2.33 1.499-3.02 2.581-1.898 1.915-3.537 4.246-4.659 6.827C.696 17.67-.08 23.914.006 29.66c.087 5.079 3.107 7.993 7.938 9.492a47.124 47.124 0 0 0 6.99 1.498c5.09 1.998 11.302 1.915 15.444-1.165 3.969-1.333 7.506-3.58 10.181-7.078.431-.582.863-1.165 1.208-1.831.086-.084.086-.167.172-.333 2.071-3.83 2.675-8.326 1.381-12.323ZM23.561 4.264c-.776 0-1.466.083-2.243.25-.69-.25-1.294-.416-1.984-.5 1.38-.083 2.847 0 4.227.25Zm-10.957 7.327a20.25 20.25 0 0 0-.95 2.415c-.517.083-1.035.333-1.553.582 0-.333.087-.582.173-.832.69-.75 1.467-1.499 2.33-2.165Zm-4.66 18.65c.26.25.518.583.777.833-.173-.083-.345-.083-.432-.166-.172-.25-.258-.5-.345-.666Zm3.71 4.58c.26 0 .604-.083.863-.083.345.333.69.666 1.036.916h-.69c-.432-.25-.863-.583-1.208-.833Zm13.288 2.498c.172-.084.431-.167.604-.333 1.38-.25 2.76-.916 4.141-2.082.346-.25.604-.583.863-.832-.431.915-.949 1.665-1.64 2.33-1.293.334-2.588.667-3.968.917Zm9.577-7.91c1.036-.833 1.898-1.748 2.761-2.748.26-.333.518-.666.69-.999-.603 2.082-1.898 3.247-3.45 3.747Z' fill='%23FE6464'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }

    // .who-suits__list
    &__list {
        margin-top: rem(20);
        
        @include m( phoneLarge ) {
            margin-top: rem(30);
        }

        @include m( pad ) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            column-gap: rem(20);
            row-gap: rem(20);
        }

        @include m( desktopSmall ) {
            margin-top: rem(10);
        }

        @include m( desktopLarge ) {
            column-gap: rem(40);
        }
    }

    // .who-suits__list-item
    &__list-item {
        $bulletSize: rem(12);
        $bulletGap: rem(8);

        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.81 3.173c-.419-.67-1.047-1.214-1.927-1.632C5.662.536 2.393-.05.843 2.336v.042c-.21.167-.377.418-.377.711-.796 1.883-.545 4.185.545 5.9a6.412 6.412 0 0 0 2.514 2.218c.335.21.67.418 1.006.544.628.251 1.215.293 1.718.21a9.06 9.06 0 0 0 1.843-.043c2.64-.376 3.772-3.054 3.897-5.481.126-1.549-.88-2.637-2.179-3.264Zm-5.363-.377v-.084c0-.083 0-.167-.042-.25.21 0 .419 0 .628.041-.21.042-.419.126-.586.293Zm-.335 6.737c-.126-.125-.252-.21-.336-.376.084.041.168.083.294.125.167.251.377.46.628.628-.042 0-.084-.042-.125-.042-.168-.084-.294-.21-.461-.335Zm4.777.335c.251-.419.502-.879.712-1.34a.533.533 0 0 0 .377-.292l-.251.628c-.21.418-.503.753-.838 1.004Zm1.257-2.05v-.084c0-.168 0-.335-.042-.502.084-.293.167-.544.21-.837.041.502-.043.962-.168 1.423Z' fill='%23FE6464'/%3E%3C/svg%3E");
        background-size: $bulletSize $bulletSize;
        background-repeat: no-repeat;
        background-position: left top rem(3);
        padding-left: $bulletSize + $bulletGap;

        font-size: rem(16);
        line-height: 1.46;
        color: var(--color-text-main);

        @include m( 0, pad ) {
            &:not(:first-child) {
                margin-top: rem(20);
            }
        }
    }
}