.blog-categories {
    @include m( desktopSmall ) {
        height: 100%;
    }

    // .blog-categories__list
    &__list {
        position: sticky;
        top: calc( var( --header-height ) + #{ rem(10) } );
    }

    // .blog-categories__item
    &__item {
        & + & {
            margin-top: rem(12);
        }
    }

    // .blog-categories__link
    &__link {
        background-repeat: no-repeat;
        background-position: center right rem(8);
        background-size: rem(58) rem(36);

        display: flex;
        align-items: center;
        text-decoration: none;
        border: 1px solid var(--color-text-additional );
        border-radius: rem(57);

        font-size: rem(16);
        line-height: 1.46;
        color: var(--color-text-main);
        min-height: rem(47);
        text-overflow: ellipsis;
        overflow: hidden;
        padding-left: rem(24);
        padding-right: rem(74);
    }
}