.video-player {
    position: relative;
    width: 100%;

    // .video-player__img
    &__img {
        width: 100%;
        border-radius: rem(18);
        display: block;
    }

    // .video-player__btn
    &__btn {
        position: absolute;
        z-index: 1;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background-color: var(--color-primary-50);
        width: rem(96);
        height: rem(96);
        display: inline-flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        transition: color .3s linear;
        color: var(--color-bg-white);
        border-radius: 50%;

        svg {
            margin-left: initial;
        }

        &:hover {
            background-color: var(--color-primary-40);
        }

        &:active {
            background-color: var(--color-primary-60);
        }

        &:disabled,
        &_disabled {
            background-color: rgba(var(--color-primary-50), .3);
        }
    }
}