$wrapperGapMobile: rem(28);
$wrapperGapDesktop: rem(35);
$screenPhone: rem(480);
$screenPhoneLarge: rem(768);
$screenPad: rem(1000);
$screenDesktop: rem(1280);

:root {
    --wrapper-gap: #{ $wrapperGapMobile };
    --container-width: #{ $screenDesktop };
}

@include m( $screenPhone ) {
    --wrapper-gap: #{ $wrapperGapDesktop };
}

@include m( $screenDesktop + $wrapperGapDesktop * 2 ) {
    --wrapper-gap: 0;
}

@keyframes pulse {
    0% {
        transform: scale(.9)
    }

    70% {
        box-shadow: 0 0 0 3.125rem rgba(90,153,212,0);
        transform: scale(1)
    }

    to {
        box-shadow: 0 0 0 0 rgba(90,153,212,0);
        transform: scale(.9)
    }
}

@import './container.scss';
@import './input.scss';
@import './buttom-secondary.scss';
@import './quize-block1.scss';
@import './quize-block2.scss';
@import './common-block.scss';
@import './quize-block4.scss';
@import './quize-video-player.scss';
@import './video-block.scss';
@import './quize-radio.scss';
@import './finish2-content.scss';
@import './btn-clear.scss';
@import './btn-blue.scss';