.btn-blue {
    font-weight: 600;
    @include fs(18,25);
    text-transform: uppercase;
    color: #FFFFFF;
    padding: rem(23) rem(70);
    background-color: #3793E9;
    border-radius: rem(50);
    text-decoration: none;
    display: inline-block;

    // .btn-blue_small
    &_small {
        font-weight: 300;
        @include fs(16,26);
        padding: rem(17) rem(34);
    }

    // .btn-blue_animation
    &_animation:not(:disabled) {
        animation: pulse 1.5s infinite;
        box-shadow: 0 0 0 0 rgba(90, 153, 212, 0.5);
    }

    &:disabled {
        background-color: #ccc;
    }
}