.common-block {
    --block-padding-y: #{ rem(11) };
    --block-padding-x: #{ rem(13) };
    --inner-padding-y: #{ rem(32) };
    --inner-padding-x: #{ rem(7) };
    --img-display: block;

    background-color: #FFFCF9;
    padding: var(--block-padding-y) var(--block-padding-x);

    @include m(0, $screenPad) {
        // .common-block_radio
        // .common-block_checkbox
        &_radio,
        &_checkbox {
            --img-display: none;
        }

        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    @include m( $screenPhone ) {
        --block-padding-y: #{ rem(43) };
        --block-padding-x: #{ rem(33) };
        --inner-padding-y: #{ rem(32) };
        --inner-padding-x: #{ rem(7) };
    }

    @include m($screenPhoneLarge) {
        --block-padding-y: #{ rem(43) };
        --block-padding-x: #{ rem(40) };
        --inner-padding-y: #{ rem(40) };
        --inner-padding-x: #{ rem(35) };
    }

    @include m($screenPad) {
        --block-padding-y: #{ rem(79) };
        --block-padding-x: #{ rem(0) };
        --inner-padding-y: #{ rem(46) };
        --inner-padding-x: #{ rem(35) };
    }

    // .common-block__inner
    &__inner {
        background: #FFF;
        border-radius: rem(40);
        padding: var(--inner-padding-y) var(--inner-padding-x);
        filter: drop-shadow(0 rem(20) rem(33) rgba(193, 177, 161, 0.2));
        max-width: $screenDesktop;
        margin-left: auto;
        margin-right: auto;

        @include m(0, $screenPad) {
            height: 100%;
            width: 100%;
            flex-grow: 1;
            display: flex;
            flex-direction: column;
        }

        @include m( $screenPhoneLarge ) {
            display: grid;
            grid-template-areas: "header header"
                                "content image"
                                "footer footer";
            grid-template-columns: auto-fill 1fr;
            column-gap: rem(40);
        }

        @include m( $screenPad ) {
            display: grid;
            grid-template-areas: "header image"
                                "content image"
                                "footer footer";
            grid-template-columns: auto-fill 1fr;
            column-gap: rem(40);
        }
    }

    // .common-block__header
    &__header {
        grid-area: header;
    }

    // .common-block__title
    &__title {
        font-weight: 700;
        @include fs(28, 35);
        text-align: center;
        color: #263238;
        max-width: rem(590);

        @include m( $screenPhoneLarge ) {
            text-align: left;
            @include fs(42, 52);
        }
    }

    // .common-block__text
    &__text {
        font-weight: 300;
        @include fs(16, 26);
        text-align: center;
        margin-top: rem(20);
        max-width: rem(590);

        @include m( $screenPhoneLarge ) {
            text-align: left;
            @include fs(22, 36);
        }
    }

    // .common-block__content
    &__content {
        margin-top: rem(20);
        grid-area: content;

        @include m(0, $screenPad) {
            flex-grow: 1;
        }
    }

    // .common-block__img
    &__img {
        max-width: 80%;
        position: relative;
        display: var(--img-display);
        margin-left: auto;
        margin-right: auto;
        margin-top: rem(20);
        height: auto;
        object-fit: contain;
        grid-area: image;
        align-self: flex-end;

        @include m( $screenPhoneLarge ) {
            max-height: rem(300);
        }

        @include m( $screenPad ) {
            max-height: rem(500);
        }

        // .common-block__img_shift
        &_shift {
            margin-bottom: calc( var(--inner-padding-y) * -1);
        }
    }

    // .common-block__footer
    &__footer {
        grid-area: footer;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: rem(15);
    }

    // .common-block__row
    &__row {
        &:not(:first-child) {
            margin-top: rem(14);
        }
    }

    // .common-block__error
    &__error {
        font-size: rem(14);
        color: tomato;
        margin-top: rem(4);
    }

    // .common-block__input
    &__input {
        width: 100%;
        max-width: rem(274);
        position: relative;
        display: block;

        @include m( 0, $screenPhoneLarge ) {
            margin-left: auto;
            margin-right: auto;
        }
    }

    // .common-block__error
    &__error {
        font-size: rem(11);
        color: tomato;
        margin-top: rem(5);
    }

    // .common-block__btn
    &__btn {
        width: 100%;
        max-width: rem(274);
        position: relative;
        display: block;

        @include m( 0, $screenPhoneLarge ) {
            margin-left: auto;
            margin-right: auto;
        }
    }
}