.container {
    width: 100%;
    max-width: var(--container-width);
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--wrapper-gap);
    padding-right: var(--wrapper-gap);
    position: relative;
}