.finish2-content {
    $switch: rem(450);

    margin-bottom: 40px;

    &__price-wrap {
        display: flex;
        align-items: flex-end;
    }

    &__price {
        font-size: 30px;
        color: var(--color-secondary-main);
        font-weight: bold;

        @include m( $switch ) {
            font-size: 50px;
        }
    }

    &__price-old {
        font-size: 20px;
        color: var(--color-text-additional);
        text-decoration: line-through;
        margin-left: 20px;

        @include m( $switch ) {
            font-size: 30px;
        }
    }

    &__timer {
        margin-top: rem(15);
        margin-bottom: rem(15);
        color: var(--color-text-additional);
        font-weight: bold;
    }

    &__time {
        color: var(--color-secondary-main);
    }

    &__coins {
        width: 87px;
        height: 85px;
        background-image: url('/themes/easydoo/assets/img/components/quize-blocks/coins.svg');
        position: relative;
        margin-left: 40px;
    }

    &__coins-percent {
        width: 53px;
        height: 56px;
        background-image: url('/themes/easydoo/assets/img/components/quize-blocks/baloon.svg');
        position: absolute;
        right: -22px;
        top: -22px;
        z-index: 1;
        color: #fff;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: rotate(35deg);
    }

    &__btn-wrap {
        margin-top: 20px;

        @include m( 0, $switch ) {
            .button-secondary {
                width: 100%;
                justify-content: center;
            }

            .button-secondary__icon {
                display: none;
            }
        }
    }
}