.input {
    $paddingX: rem(39);

    font-style: normal;
    font-weight: 300;
    @include fs(16,26);
    color: #000000;
    background: #FFFFFF;
    border: 1px solid #DBCCC6;
    border-radius: rem(50);
    min-height: rem(72);
    padding-left: $paddingX;
    padding-right: $paddingX;
    outline: none;
    min-width: rem(274);

    /* Chrome, Safari, Edge, Opera */
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    &[type=number] {
        -moz-appearance: textfield;
    }
}