.quize-block4 {
    &__inputs {
        display: grid;
        column-gap: rem(22);
        grid-template-columns: repeat( 4, 1fr);
        outline: none;
        max-width: rem(310);

        @include m( 0, $screenPhoneLarge ) {
            margin-left: auto;
            margin-right: auto;
        }

        @include m( $screenDesktop ) {
            max-width: rem(421);
        }
    }

    &__left-time {
        margin-top: rem(5);
    }

    &__input {
        border: 1px solid #747474;
        border-radius: rem(10);
        height: rem(96);
        text-align: center;
        width: 100%;
        outline: none;
        padding: 0;

        font-weight: 300;
        font-size: rem(40);

        /* Chrome, Safari, Edge, Opera */
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        /* Firefox */
        &[type=number] {
            -moz-appearance: textfield;
        }

        @include m( $screenDesktop ) {
            height: rem(134);
        }
    }
}