.quize-block2 {
    --padding-y: #{ rem(29) };

    background-color: #F8F0E8;
    width: 100%;
    min-height: calc( 100vh - var(--header) );
    overflow-x: hidden;

    @include m( $screenPad ) {
        --padding-y: #{ rem(56) };
    }

    @include m( $screenDesktop ) {
        --padding-y: #{ rem(186) - rem(80) };
    }

    // .quize-block2__inner
    &__inner {
        padding-top: var(--padding-y);
        padding-bottom: rem(10);
        min-height: 100vh;
        position: relative;
        z-index: 1;
    }

    // .quize-block2__baloon
    &__baloon {
        @include fs(28,35);
        padding: rem(20) rem(25);

        background: #F1A4A3;
        border-radius: rem(40);
        border-bottom-right-radius: 0;
        max-width: rem(612);

        font-weight: 700;
        color: #FFFFFF;

        @include m( $screenPhone ) {
            @include fs(36,45);
            padding: rem(22) rem(19);
        }

        @include m( $screenPhoneLarge ) {
            @include fs(48,60);
            padding: rem(36) rem(62);
        }
    }

    // .quize-block2__text
    &__text {
        font-weight: 300;
        text-align: center;
        color: #263238;
        margin-top: rem(26);
        @include fs(16,26);

        @include m( $screenPhone ) {
            @include fs(22,31);
        }

        @include m( $screenPhoneLarge ) {
            @include fs(22,36);
            text-align: left;
            max-width: rem(338);
        }

        @include m( $screenPad ) {
            max-width: rem(573);
        }

        @include m( $screenDesktop ) {
            margin-top: rem(52);
        }
    }

    // .quize-block2__btn
    &__btn {
        @include m( 0, $screenPhoneLarge ) {
            $sidesGap: rem(50) - $wrapperGapMobile;
            margin-left: $sidesGap;
            margin-right: $sidesGap;
            width: calc( 100% - #{ $sidesGap * 2 } );
            margin-top: rem(14);
        }

        @include m( $screenDesktop ) {
            margin-top: rem(52);
        }
    }

    // .quize-block2__bg
    &__bg {
        background-size: contain;
        z-index: 10;
        user-select: none;
        pointer-events: none;

        @include m( 0, $screenPhoneLarge ) {
            width: 100%;
            padding-top: 100%;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 50%;
            margin-top: rem(26);
        }

        @include m( $screenPhoneLarge ) {
            --top: #{ rem(77) };
            position: absolute;
            top: var(--top);
            width: 100%;
            max-width: rem(905);
            height: rem(823);
            max-height: 45vw;
            background-repeat: no-repeat;
            background-position: left bottom;
            left: rem(338);
        }

        @include m( $screenPad ) {
            left: rem(573);
        }
    }
}