.quize-radio {
    $iconSize: rem(51);
    $paddingX: rem(15);
    $paddingY: rem(5);
    $gap: rem(20);

    max-width: rem(420);

    // .quize-radio__label
    &__label {
        position: relative;
        min-height: $paddingY * 2 + $iconSize;
        padding-top: $paddingY;
        padding-right: $paddingX;
        padding-left: $iconSize + $paddingX +$gap;
        padding-bottom: $paddingY;
        cursor: pointer;

        border: 1px solid #DBCCC6;
        border-radius: rem(50);

        font-weight: 300;
        @include fs(16, 26);
        color: #000;
        display: flex;
        align-items: center;
    }

    // .quize-radio__icon
    &__icon {
        position: absolute;
        left: $paddingX;
        top: 50%;
        width: $iconSize;
        height: $iconSize;
        transform: translateY(-50%);
    }

    // .quize-radio__input
    &__input {
        display: none;
    }

    &__input:checked + &__label {
        border-color: #3793e9;
        background-color: #3793e9;
        color: #fff;
    }
}