.quize-video-player {
    border: rem(6) solid #FF9A6C;
    border-radius: rem(30);
    position: relative;
    overflow: hidden;
    padding-top: 73%;

    // .quize-video-player__player
    &__player {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }

    // .quize-video-player__btn-player
    &__btn-player {
        position: absolute;
        display: block;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 2;

        &::after {
            content: "";
            position: absolute;
            display: block;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            pointer-events: none;
            user-select: none;
            background-image: url("data:image/svg+xml,%3Csvg width='47' height='49' viewBox='0 0 47 49' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M43.439 19.285c4.28 2.244 4.287 8.367.014 10.62L9.566 47.776c-3.993 2.105-8.794-.787-8.8-5.301L.719 6.81C.713 2.296 5.506-.607 9.504 1.49L43.44 19.284Z' fill='%23FF9A6C'/%3E%3C/svg%3E");
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            width: rem(64);
            height: rem(70);
            z-index: 2;
        }
    }
}