.quize-block1 {
    --padding-y: #{ rem(29) };

    background-color: #F8F0E8;
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;

    @include m( $screenPad ) {
        --padding-y: #{ rem(56) };
    }

    @include m( $screenDesktop ) {
        --padding-y: #{ rem(186) };
    }

    // .quize-block1__inner
    &__inner {
        padding-top: var(--padding-y);
        padding-bottom: rem(10);
        min-height: 100vh;
        position: relative;
        z-index: 1;
    }

    // .quize-block1__title
    &__title {
        font-weight: 700;
        text-align: center;
        font-weight: 700;
        color: #263238;

        @include fs(28,38);

        @include m( $screenPhone ) {
            @include fs(36,49);
            max-width: rem(619);
        }

        @include m( $screenPhoneLarge ) {
            @include fs(48,65);
            text-align: left;
        }
    }

    mark {
        background: #FE6464;
        border-radius: 10px;
        transform: rotate(-2.18deg);
        padding: 5px;
        color: #fff;
        display: inline-block;
    }

    // .quize-block1__text
    &__text {
        font-weight: 300;
        text-align: center;
        color: #263238;
        margin-top: rem(26);
        @include fs(16,26);

        @include m( $screenPhone ) {
            @include fs(22,31);
        }

        @include m( $screenPhoneLarge ) {
            @include fs(22,36);
            text-align: left;
            max-width: rem(338);
        }

        @include m( $screenPad ) {
            max-width: rem(573);
        }

        @include m( $screenDesktop ) {
            margin-top: rem(52);
        }
    }

    // .quize-block1__btn-wrap
    &__btn-wrap {
        display: flex;
        align-items: center;

        @include m( $screenDesktop ) {
            margin-top: rem(52);

            &::after {
                content: '';
                display: block;
                margin-left: rem(50);
                width: rem(69);
                height: rem(67);
                background-image: url('/themes/easydoo/assets/img/components/quize-blocks/next.png');
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
            }
        }
    }

    // .quize-block1__btn
    &__btn {
        @include m( 0, $screenPhoneLarge ) {
            $sidesGap: rem(50) - $wrapperGapMobile;
            margin-left: $sidesGap;
            margin-right: $sidesGap;
            width: calc( 100% - #{ $sidesGap * 2 } );
            margin-top: rem(14);
        }
    }

    // .quize-block1__bg
    &__bg {
        background-size: contain;

        @include m( 0, $screenPhoneLarge ) {
            width: 100%;
            padding-top: 100%;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 50%;
            margin-top: rem(26);
        }

        @include m( $screenPhoneLarge ) {
            --top: #{ rem(77) };
            position: absolute;
            z-index: -1;
            top: var(--top);
            width: 100%;
            max-width: rem(905);
            height: rem(823);
            max-height: 45vw;
            background-repeat: no-repeat;
            background-position: left bottom;
            left: rem(338);
        }

        @include m( $screenPad ) {
            left: rem(573);
        }
    }
}