.video-block {
    .common-block__inner {
        @include m( $screenPhoneLarge ) {
            display: grid;
            grid-template-areas: "header video"
                                "content video"
                                "footer footer";
            grid-template-columns: 1fr 1fr;
            column-gap: rem(40);
        }

        @include m( $screenPad ) {
            display: grid;
            grid-template-areas: "header video"
                                "content video"
                                "footer footer";
            grid-template-columns: 1fr 1fr;
            column-gap: rem(40);
        }
    }

    .common-block__content {
        
    }

    .common-block__video {
        grid-area: video;
    }

    // .video-block__arrow-text
    &__arrow-text {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        color: #FF9A6C;

        > * + * {
            margin-left: rem(20);
        }

        @include m( 0, $screenPhoneLarge ) {
            display: none;
        }

        &:after {
            content: '';
            display: inline-block;
            width: rem(89);
            margin-left: rem(20);
            height: rem(97);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            background-image: url('/themes/easydoo/assets/img/components/quize-blocks/arrow.png');
        }
    }
}