.header {
    background: var(--color-bg-white);
    box-shadow: 0 rem(4) rem(10) rgba(124, 129, 146, 0.07);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: z(header);

    // .header__inner
    &__inner {
        height: var(--header-height);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    // .header__col-logo
    &__col-logo {
        flex-shrink: 0;

        @include m(0, phoneLarge) {
            width: rem(150);
        }

        @include m(phoneLarge, desktopSmall) {
            width: rem(168);
        }

        @include m(desktopSmall) {
            width: rem(216);
        }
    }

    // .header__logo-link
    &__logo-link {
    }

    // .header__logo
    &__logo {
        display: block;
        width: 100%;
    }

    // .header__col-nav
    &__col-nav {
        display: flex;
        align-items: center;
    }

    // .header__col-menu
    &__col-menu {
        @include m( 0, pad ) {
            display: none;
            visibility: hidden;
        }

        @include m( 0, pad ) {
            display: block;
        }
    }


    // .header__col-mobile
    &__col-mobile {
        @include m( pad ) {
            display: none;
        }
    }

    // .header__login
    &__login {
        @include m( 0, pad ) {
            display: none;
        }

        @include m( pad, desktopSmall ) {
            margin-left: rem(30);
        }

        @include m( desktopSmall ) {
            margin-left: rem(60);
        }
    }

    // .header__btn-mobile-login
    &__btn-mobile-login {
        width: rem(44);
        height: rem(44);
        border-width: 1px;
        border-style: solid;
        color: var(--color-primary-50);
        border-radius: 50%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }

    // .header__btn-mobile-menu
    &__btn-mobile-menu {
        width: rem(40);
        height: rem(40);
        color: var(--color-text-main);
    }
}