<div class="common-block quize-block3" :class="formSlideModificator()">
    <div class="common-block__inner">
        <div class="common-block__header">
            <div class="common-block__title" x-text="slide.data.title"></div>
            <div class="common-block__text" x-text="slide.data.text"></div>
        </div>

        <div class="common-block__content">
            {{ body|raw }}
        </div>

        <img
            class="common-block__img {{ imageShift ? 'common-block__img_shift' }}"
            src="{{ 'assets/img/quize/3.png' | theme }}"
            :src="getStorePath( slide.data.img )"
            alt=""
        >

        {% if defFooter %}
        <div class="common-block__footer">
            <button
                class="btn-clear"
                type="button"
                x-show="currentSlide > 0"
                @click="prevSlide"
            >
                <svg class="btn-clear__icon" height="9" version="1.1" viewBox="0 0 50 50" width="9" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"><path fill="none" d="M0 0h50v50H0z"/><path d="m35 47.25 2.086-2.086L16.922 25 37.086 4.836 35 2.75 12.75 25z"/><path fill="none" d="M0 0h50v50H0z"/></svg>
                <span class="btn-clear__text">Назад</span>
            </button>

            <button
                class="btn-blue btn-blue_animation btn-blue_small"
                type="button"
                :disabled="nextDisabled"
                x-bind="btnNextSlide"
            >Далее</button>
        </div>
        {% endif %}

        {% placeholder footer %}
    </div>
</div>