<div class="common-block video-block">
    <div class="common-block__inner">
        <div class="common-block__header">
            <div class="common-block__title" x-html="nl2br(slide.data.title)"></div>
            <div class="common-block__text" x-text="slide.data.text"></div>
        </div>

        <div class="common-block__content finish2-content">
            <div>
                <div class="finish2-content__price-wrap">
                    <div class="finish2-content__price" x-text="priceFormat(slide.data.price)"></div>
                    <div class="finish2-content__price-old" x-text="priceFormat(slide.data.price_old)"></div>
                    <div class="finish2-content__coins">
                        <div class="finish2-content__coins-percent" x-text="getPercent(slide.data.price, slide.data.price_old)">12%</div>
                    </div>
                </div>

                <div class="finish2-content__timer">
                    До конца распродажи
                    <template x-if="slide.data.timerLeft !== null && slide.data.timerLeft > 0">
                        <span class="finish2-content__time" x-text="slide.showSeconds()"></span>
                    </template>

                    <template x-if="slide.data.timerLeft === 0">
                        <span class="finish2-content__time" x-text="slide.data.timer_end_text"></span>
                    </template>
                </div>
            </div>

            <div class="finish2-content__btn-wrap">
                <a
                    class="button-secondary button-secondary_animation finish2-content__btn"
                    :href="redirect"
                >
                    <span
                        class="button-secondary__text"
                        x-text="slide.data.redirect_title"
                    ></span>

                    {%
                        partial 'components/icon'
                        icon="arrow-right"
                        width="24"
                        height="24"
                        css="button-secondary__icon"
                    %}
                </a>
            </div>
        </div>

        <div class="common-block__video">
            <div class="quize-video-player">
                <video
                    class="quize-video-player__player"
                    :src="getStorePath( slide.data.video )"
                    :poster="getStorePath( slide.data.poster )"
                    playsinline
                ></video>
                <button
                    type="button"
                    @click="slide.playVideo"
                    class="quize-video-player__btn-player"
                ></button>
            </div>
        </div>
    </div>
</div>