<div class="quize-block1">
    <div class="container quize-block1__inner">
        <div class="quize-block1__title" x-text="slide.data.title"></div>
        <div class="quize-block1__text" x-text="slide.data.text"></div>

        <div
            class="quize-block1__bg"
            :style="`background-image: url('${ getStorePath( slide.data.img ) }');`"
        ></div>

        <template x-if="slide.data.redirect_title != '' && redirect != '' ">
            <div class="quize-block1__btn-wrap">
                <a
                    :href="redirect"
                    class="quize-block1__btn btn-blue btn-blue_animation"
                    x-text="slide.data.redirect_title"
                ></a>
            </div>
        </template>
    </div>
</div>