{% partial "quize2/_common-block" defFooter=true body %}
    <template x-if="slide.groupType == 'input'">
        <template x-for="input in slide.instance.inputs">
            <div class="common-block__row">
                <input
                    class="input common-block__input"
                    :type="input.type"
                    :name="input.name"
                    :placeholder="input.label"
                    :required="input.required"
                    x-model="input.value"
                    @blur="input.changed = true"
                >

                <div class="common-block__error" x-show="input.changed == true && input.error != ''" x-text="input.error"></div>
            </div>
        </template>
    </template>

    <template x-if="slide.groupType == 'checkbox'">
        <template x-for="input in slide.instance.inputs">
            <div class="common-block__row">
                <div class="quize-radio">
                    <input
                        class="quize-radio__input"
                        type="checkbox"
                        :id="input.id"
                        :name="input.name"
                        :value="input.value"
                        x-model="slide.instance.values"
                    >
                    <label class="quize-radio__label" :for="input.id">
                        <img class="quize-radio__icon" :src="getStorePath(input.icon)" width="61" height="61">
                        <span class="quize-radio__text" x-text="input.label">
                    </label>
                </div>
            </div>
        </template>
    </template>

    <template x-if="slide.groupType == 'radio'">
        <template x-for="input in slide.instance.inputs">
            <div class="common-block__row">
                <div class="quize-radio">
                    <input
                        class="quize-radio__input"
                        type="radio"
                        :id="input.id"
                        :name="input.name"
                        :value="input.value"
                        x-model="slide.instance.values"
                        @change="nextSlide()"
                    >
                    <label class="quize-radio__label" :for="input.id">
                        <img class="quize-radio__icon" :src="getStorePath(input.icon)" width="61" height="61">
                        <span class="quize-radio__text" x-text="input.label">
                    </label>
                </div>
            </div>
        </template>
    </template>
{% endpartial %}