<div class="quize-block1">
    <div class="container quize-block1__inner">
        <div class="quize-block1__title" x-html="slide.data.title"></div>
        <div class="quize-block1__text" x-text="slide.data.text"></div>

        <div
            class="quize-block1__bg"
            :style="`background-image: url('${ getStorePath( slide.data.img ) }');`"
        ></div>

        <div class="quize-block1__btn-wrap">
            <button
                class="quize-block1__btn btn-blue btn-blue_animation"
                type="button"
                x-bind="btnNextSlide"
            >Начать</button>
        </div>
    </div>
</div>