<div class="quize-block2">
    <div class="container quize-block2__inner">
        <div class="quize-block2__baloon" x-text="slide.data.title"></div>
        <div class="quize-block2__text" x-text="slide.data.text"></div>

        <div
            class="quize-block2__bg"
            :style="`background-image: url('${ getStorePath( slide.data.img ) }');`"
        ></div>

        <div class="quize-block2__btn-wrap">
            <button
                class="quize-block2__btn btn-blue btn-blue_animation"
                type="button"
                x-bind="btnNextSlide"
            >Начать</button>
        </div>
    </div>
</div>