<div>
    <template x-if="!slide.data.checkCode || (slide.data.checkCode && slide.data.codeConfirmed)">
        {% partial "quize2/_common-block" imageShift=true body %}
        <div>
            <div class="common-block__row">
                <input
                    type="tel"
                    class="input common-block__input"
                    placeholder="+7 ___-___-__-__"
                    required
                    x-model="slide.data.fields[0].value"
                    :name="slide.data.fields[0].name"
                    :disabled="slide.data.phoneVerified == true || slide.data.checkPhone == true"
                >
                <div class="common-block__error" x-text="slide.data.fields[0].error"></div>
            </div>

            <div class="common-block__row">
                <button
                    class="btn-blue btn-blue_animation btn-blue_small common-block__btn"
                    type="button"
                    @click="slide.requestVerifyPhone()"
                >Подтвердить телефон</button>
            </div>
        </div>
        {% endpartial %}
    </template>

    <template x-if="slide.data.checkCode && !slide.data.codeConfirmed">
        <div class="common-block quize-block4">
            <div class="common-block__inner">
                <div class="common-block__header">
                    <div class="common-block__title">Введите последние 4 цифры номера звонка - сброса</div>
                    <div class="common-block__text">Сейчас вам позвонит неизвестный номер. Вам не надо брать трубку, просто запомните последние 4 цифры и напишите их в поле ниже</div>
                </div>

                <div class="common-block__content">
                    <div class="quize-block4__inputs">
                        {% for i in 1..4 %}
                        <input
                            type="number"
                            class="quize-block4__input"
                            placeholder="X"
                            data-idx="{{ loop.index }}"
                            data-selector="otp-input"
                            @keyPress="slide.codeKeyPressHandler"
                        >
                        {% endfor %}
                    </div>

                    <div class="quize-block4__left-time" x-text="slide.data.codeComment"></div>
                    <div class="common-block__error" x-text="slide.data.errorCode"></div>
                </div>

                <img
                    class="common-block__img common-block__img_shift"
                    src="{{ 'assets/img/quize/4.png' | theme }}"
                    alt=""
                >
            </div>
        </div>
    </template>
</div>