@include m( desktopSmall ) {
.custom-select {
    $iconWidth: rem(16);
    $iconGap: rem(10);
    $labelPaddingX: rem(24);

    // .custom-select__label
    &__label {
        display: none;
    }

    // .custom-select__item
    &__item {
        position: relative;
        display: inline-flex;
        align-items: center;
        cursor: pointer;
        user-select: none;
        position: relative;

        &:not(:last-child) {
            margin-bottom: rem(8);
            margin-right: rem(8);
        }
    }

    // .custom-select__item-input
    &__item-input {
        @include visuallyhidden;
    }

    // .custom-select__item-label
    &__item-label {
        font-size: rem(16);
        line-height: 1.46;
        padding: rem(7) $labelPaddingX;
        border-width: 1px;
        border-style: solid;
        border-radius: rem(57);
        border-color: var(--color-text-additional);
        display: flex;
        align-items: center;
        color: var(--color-text-additional);
        background-color: transparent;
        transition: color .3s linear, background-color .3s linear, border-color .3s linear;
    }

    // .custom-select__item-input:checked .custom-select__item-label
    &__item-input:checked + &__item-label {
        color: var(--color-text-white);
        border-color: var(--color-primary-50);
        background-color: var(--color-primary-50);
        background-image: url("data:image/svg+xml,%3Csvg width='#{ $iconWidth }' height='17' viewBox='0 0 16 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m13.333 4.5-7.334 7.333L2.666 8.5' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: center right #{ $labelPaddingX };
        background-size: $iconWidth $iconWidth;

        padding-right: $iconWidth + $iconGap + $labelPaddingX;
    }
}
}