@include m( 0, desktopSmall ) {
.custom-select {
    position: relative;
    width: 100%;

    --customSelectIconTransform: scale(-1);

    // .custom-select__label
    &__label {
        $paddingX: rem(10);

        display: flex;
        align-items: center;
        padding-top: $paddingX;
        padding-bottom: $paddingX;
        padding-left: rem(24);
        padding-right: rem(16);
        width: 100%;

        background-color: var(--color-bg-white);
        border: 1px solid var(--color-border);
        border-radius: rem(30);
        text-align: left;
        color: var(--color-text-main);
    }

    // .custom-select__lavel-text
    &__label-text {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        flex-grow: 1;
        pointer-events: none;
    }

    // .custom-select__lavel-icon
    &__label-icon {
        flex-shrink: 0;
        transform: var(--customSelectIconTransform);
        transition: transform .3s linear;
        color: var(--color-text-additional);
        pointer-events: none;
        user-select: none;
    }

    // .custom-select__dropdown
    &__dropdown {
        display: none;

        width: 100%;
        top: rem(60);
        position: absolute;
        background-color: var(--color-bg-white);
        border: 1px solid var(--color-border);

        box-shadow: 0 rem(4) rem(12) rgba(229, 216, 210, 0.4);
        border-radius: rem(16);
        padding: rem(16) rem(20);
        z-index: 200;
    }

    &_open {
        --customSelectIconTransform: scale(1);
    }

    // .custom-select_open .custom-select__dropdown
    &_open &__dropdown {
        display: block;
    }

    // .custom-select__item
    &__item {
        display: block;
        padding: rem(8) 0;
        cursor: pointer;
    }

    // .custom-select__item-input
    &__item-input {
        @include visuallyhidden;
    }

    // .custom-select__item-label
    &__item-label {
        font-size: rem(16);
        line-height: 1.46;
        color: var(--color-text-header-subheader);
    }

    // .custom-select__item-input:checked .custom-select__item-label
    &__item-input:checked + &__item-label {
        color: var(--color-primary-50);
    }
}
}