<section class="list-with-phone {{ css }}">
    <div class="list-with-phone__inner container">
        <h2 class="h2 list-with-phone__title">{{ title }}</h2>
        <div class="list-with-phone__text">{{ text |raw }}</div>

        <ul class="list-with-phone__list">
            {% for item in list %}
            <li class="list-with-phone__list-item">
                <div class="list-with-phone__list-item-img-wrap">
                    <img 
                        class="list-with-phone__list-item-img"
                        width="{{ item.width }}"
                        height="{{ item.height }}"
                        src="{{ ( 'assets/img/dev/page-index/includes/' ~ item.img ~ '.png' ) | theme }}"
                        srcset="{{ ( 'assets/img/dev/page-index/includes/' ~ item.img ~ '@2x.png' ) | theme }} 2x"
                        alt="{{ item.imgAlt }}"
                        loading="lazy"
                    >
                </div>

                <div class="list-with-phone__list-item-text">{{ item.text }}</div>
            </li>
            {% endfor %}
        </ul>
    </div>
</section>